Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: remove unnecessary uses of pcaspy.Driver.updatePVs
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in write CorrGroup PV
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

MNT: move opticscorr_utils to siriuspy.opticscorr.utils
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/opticscorr_utils.py
  as_ap_opticscorr/tune/main.py
  tests/test_opticscorr_utils.py
Owners: @xresende, @fernandohds564

PosAng.MNT: remove calc_respm.py
  as_ap_posang/calc_respm.py
Owners: @xresende, @fernandohds564

CurrInfo.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as_ap_currinfo/main.py
  as_ap_currinfo/pvs.py
  tests/__init__.py
  tests/test_main.py
  tests/test_pvs.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as_ap_currinfo/lifetime/main.py
  as_ap_currinfo/lifetime/pvs.py
  tests/lifetime/test_main.py
  tests/lifetime/test_pvs.py
Owners: @xresende, @fernandohds564

ChromCorr.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/chrom/pvs.py
  tests/chrom/test_main.py
  tests/chrom/test_pvs.py
Owners: @xresende, @fernandohds564

TuneCorr.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as_ap_opticscorr/tune/main.py
  as_ap_opticscorr/tune/pvs.py
  tests/tune/test_main.py
  tests/tune/test_pvs.py
Owners: @xresende, @fernandohds564

opticscorr.FIX: fix tests
  tests/__init__.py
Owners: @xresende, @fernandohds564

PosAng.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as_ap_posang/main.py
  as_ap_posang/pvs.py
  tests/test_main.py
  tests/test_pvs.py
Owners: @xresende, @fernandohds564

PSDiag.MNT: change App class to derive from CallBack, fix csdevice imports and cleanup code
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PosAng.FIX: fix bug in ConfigPS-Cmd
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

TST: fix tests
  tests/chrom/test_main.py
  tests/tune/test_main.py
Owners: @xresende, @fernandohds564

TST: fix tests
  tests/tb-posang.txt
  tests/test_main.py
Owners: @xresende, @fernandohds564

TST: fix tests
  tests/lifetime/test_main.py
  tests/test_main.py
Owners: @xresende, @fernandohds564

CurrInfo.MNT: move Apps and tests to siriuspy
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/tests/currinfo/__init__.py
  siriuspy/tests/currinfo/lifetime/__init__.py
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

PosAng.MNT: move Apps and tests to siriuspy
  siriuspy/siriuspy/posang/__init__.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/tests/posang/__init__.py
  siriuspy/tests/posang/tb-posang.txt
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: move Apps and tests to siriuspy
  siriuspy/siriuspy/opticscorr/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/__init__.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/tests/opticscorr/__init__.py
  siriuspy/tests/opticscorr/chrom/__init__.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/tune/__init__.py
  siriuspy/tests/opticscorr/tune/test_main.py
Owners: @xresende, @fernandohds564

PSDiag.MNT: move Apps and tests to siriuspy
  siriuspy/siriuspy/psdiag/__init__.py
  siriuspy/siriuspy/psdiag/main.py
Owners: @xresende, @fernandohds564

MNT: fix imports
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/siriuspy/opticscorr/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/__init__.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/posang/__init__.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/psdiag/__init__.py
Owners: @xresende, @fernandohds564

TST: fix imports
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_csdev.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

PosAng.MNT: move config name handling to utils
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/posang/utils.py
Owners: @xresende, @fernandohds564

TST: change tests but remove them momentarily
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/tb-posang.txt
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

MNT: change to use relative imports and revert merge error
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/psdiag/csdev.py
  siriuspy/siriuspy/psdiag/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove unsused method _find_new_downsample and fix some variable names in orbit.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.STY: Fix variable names, among other pylint suggestions.
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

SOFB.STY: Change variable name.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

STY: rename variables to follow pylint recomendations
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Mode code cleanup
  siriuspy/siriuspy/clientarch/timestamp.py
  siriuspy/siriuspy/clientconfigdb/_templates.py
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/cycle/bo_cycle_data.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/meas/liemit/main.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/ramp/reconst_factory.py
  siriuspy/siriuspy/ramp/testwfm.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/thread.py
  siriuspy/tests/ramp/test_waveform.py
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

More cleanup
  siriuspy/siriuspy/clientconfigdb/_templates.py
Owners: @xresende, @fernandohds564

More cleanup
  siriuspy/siriuspy/meas/lienergy/csdev.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/tests/csdevice/test_currinfo.py
  siriuspy/tests/pwrsupply/test_csdev.py
  siriuspy/tests/pwrsupply/test_data.py
  siriuspy/tests/pwrsupply/test_fields.py
  siriuspy/tests/test_csdev.py
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

More cleanup
  siriuspy/siriuspy/ramp/testwfm.py
Owners: @xresende, @anacso17

UTIL. Implement decorator ClassProperty to create readable class properties.
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/util.py
Owners: @fernandohds564, @xresende, @anacso17

SOFB.BUG: Fix csdev raising error in import time when csconsts server is not up.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/timesys/csdev.py
Owners: @xresende, @fernandohds564

FIX: add requests to requirements.txt
  requirements.txt
Owners: @xresende, @fernandohds564

TST: fix currinfo tests
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

SOFB.STY: Start correcting variable names.
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.STY: continue changing variable names.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

TST: comment currinfo tests
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

SOFB.STY: continue changing variable names.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
