Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Add havebeam property which will interrupt auto correction and matrix measurement.
  main.py
Owners: @xresende, @fernandohds564

Generalize get_strength)units in util.py
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

Code cleanup in devices subpackage
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/kicker.py
  siriuspy/siriuspy/devices/septum.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

Update clientarch code
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Update bpm device module in devices subpackage
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

ENH: update CurrInfo Lifetime IOC database
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CurrLifetime.ENH: remove BuffSizeMax and add MinIntvlBtwSpl PVs. Cleanup code.
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

CurrLifetime.ENH: remove BuffSizeMax and add MinIntvlBtwSpl PVs. Cleanup code.
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

CurrLifetime.ENH: change IOC to do not acquire a new point in case DCCT indicates no beam; and add first and last samples timestamps pvs.
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

CurrLifetime.ENH: change IOC to do not acquire a new point in case DCCT indicates no beam; and add first and last samples timestamps pvs.
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

CurrLifetime.ENH: change buffer auto reset feature to consider only current deltas and add BuffAutoRstDCurr PVs.
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

CurrLifetime.ENH: change buffer auto reset feature to consider only current deltas and add BuffAutoRstDCurr PVs.
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

TST: update currinfo tests
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

TIM.MNT: Stop using RFDelay and FineDelay in timing.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Add redundancy servers for web and configdb servers
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/envars.py
Owners: @xresende, @fernandohds564, @anacso17

Fix unittest
  siriuspy/tests/test_envars.py
Owners: @xresende, @fernandohds564

Add redundancy web and configdb servers
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/tests/test_envars.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update envars with redundancy server urls
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

Add getter and setter methods in Device class.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Update devices.pwrsupply class to use Device getter and setter.
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

Update devices.sofb to use general devices.device
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update devices.bpm to new Device class.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

Update devices.egun to new Device class.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

Update devices.ict
  siriuspy/siriuspy/devices/ict.py
Owners: @xresende, @fernandohds564

Code cleanup in devices subpackage
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/kicker.py
  siriuspy/siriuspy/devices/li_llrf.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/screen.py
  siriuspy/siriuspy/devices/septum.py
  siriuspy/siriuspy/devices/situne.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

Code cleanup in devices subpackage.
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/ict.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Remove inoccuous unittest.
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

Rename functions in csdevice.pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup in unittest files
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

ENH: Add DelayRaw to timing PVs.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CONF.ENH: Use DelayRaw instead of Delay for timing PVs in global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Remove WfmData constants in csdevice.pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/waveform-orig.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/ramp/test_waveform.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CONF.MNT: Remove unit from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Use CONS subnet IP for redundancy servers.
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

Add redundancy connection in configdb.
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

Replace WFMSIZE_FBP by WFMSIZE_OTHERS in Waveform class constructor arguments
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

TIM.ENH: Relax maximum values for Delays.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

FIX: fix time to get current value equivalent to 3GeV energy
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
