Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

clientarch.ENH: improve PVData class
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.ENH: reimplement Time by subclassing datetime (thanks @fernandohds564 for your suggestions)
  siriuspy/siriuspy/clientarch/pvarch.py
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add time_start and time_stop properties to PVData class (thanks @fernandohds564 for your suggestions)
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientweb.ENH: add mac_schedule_read
  siriuspy/siriuspy/clientweb/implementation.py
Owners: @xresende, @fernandohds564

clientarch.FIX: handle case of "not ok" response
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

MNT: drop aiohttp bugfix subversioning in requirements (thanks @xresende)
  requirements.txt
Owners: @xresende, @fernandohds564

ENH: add first version of MacScheduleData
  siriuspy/siriuspy/machshift/utils.py
Owners: @xresende, @fernandohds564

ENH: implement alternative to interp1d with option 'previous' to remove scipy dependency
  siriuspy/siriuspy/machshift/utils.py
Owners: @xresende, @fernandohds564

clientarch.MNT: cleanup code on Time operator methods
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add multiple constructor options to Time class
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

TST: update tests for clientweb
  siriuspy/tests/clientweb/test_implementation.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add parallel_query_bin_interval property do PVData
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add the option to parallelize the query or not in PVData.update
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEV.LLRF: Rename llrf to lillrf for Linac LLRF devices
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

DEV.RF: Rename LLRF to ASLLRF in rf device
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

DEV.FIX: Rename classes to avoid redundancy
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

currinfo.FIX: fix Properties-Cte PV
  siriuspy/siriuspy/currinfo/csdev.py
Owners: @xresende, @fernandohds564

currinfo.FIX: add callbacks to PVs after create buffers
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.FIX: add callback to BO Current PV after create buffers
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update unittest constante used for comparison
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

MNT: update archiver url in envars
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

Update envars
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

machshift.ENH: adapt MacScheduleData to new macschedule version
  siriuspy/siriuspy/machshift/utils.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add auxiliary function get_time_intervals
  siriuspy/siriuspy/clientarch/pvarch.py
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add option to getData of several PVs at the same call in ClientArchiver
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add first version of PVDataSet
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.FIX: fix PVDataSet constructor
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.FIX: fix get_time_intervals
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: return number of iterations and final residue in `correct_orbit_manually`.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

machshift.FIX: handle the case of querying data from an interval between tags
  siriuspy/siriuspy/machshift/utils.py
Owners: @xresende, @fernandohds564

clientarch.FIX: create a new asyncio event loop when needed
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

machshift.ENH: add new machine shift types
  siriuspy/siriuspy/machshift/csdev.py
Owners: @xresende, @fernandohds564

machshift.ENH: add new ProgmdUsersShift-Mon PV
  siriuspy/siriuspy/machshift/csdev.py
  siriuspy/siriuspy/machshift/main.py
Owners: @xresende, @fernandohds564

Move const from csdev to bsmp.constants
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Include aiohttp to requirements.txt
  siriuspy/requirements.txt
Owners: @xresende, @fernandohds564

bsmp/ isort
  siriuspy/siriuspy/bsmp/__init__.py
Owners: @xresende, @anacso17
