Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

OpticsCorr.MNT: change to use siriuspy.optics
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/opticscorr_utils.py
  as_ap_opticscorr/tune/main.py
  tests/test_opticscorr_utils.py
Owners: @xresende, @fernandohds564

TST: add tests to optics/opticscorr.
  siriuspy/tests/optics/test_opticscorr.py
Owners: @xresende, @fernandohds564

PVTimeSerie.FIX: verify need of buffers content update
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

Adapt pru.py for new PRUserial485 versioning
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

New WaveformParam class in ramp subpackage
  siriuspy/siriuspy/ramp/testwfm.py
  siriuspy/siriuspy/ramp/util.py
  siriuspy/siriuspy/ramp/waveform-orig.py
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

Update shebang in testwfm
  siriuspy/siriuspy/ramp/testwfm.py
Owners: @xresende, @anacso17

Update eth-PRUserial485 version
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Improve PRUserial485 version check
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittests for WaveformParam
  siriuspy/siriuspy/ramp/util.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/tests/ramp/test_waveform.py
Owners: @xresende, @anacso17, @fernandohds564

Adapt config bo_ramp to new WaveformParam
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
Owners: @xresende, @fernandohds564

PosAng.ENH: add new pvs to identify which correctors are being used
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PosAng.MNT: adapt get_pvs_database to new posang csdevice version
  as-ap-posang/as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.MNT: adapt get_pvs_database to new posang csdevice version
  as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.FIX: unittests
  siriuspy/tests/csdevice/test_posang.py
Owners: @xresende, @fernandohds564

Update testwfm.py
  siriuspy/siriuspy/ramp/testwfm.py
Owners: @xresende, @anacso17

Update default WaveformParam values
  siriuspy/siriuspy/ramp/testwfm.py
  siriuspy/siriuspy/ramp/util.py
Owners: @xresende, @anacso17

ramp.FIX: do not raise error when trying to get dipole waveform and no normalized configuration is defined
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.FIX: bug in saving ramp config when normalized configs were modified
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.FIX: wrong timing connector pvnames
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.MNT: change ConnMagnets to make it possible to set waveform of a subset of magnets instead of all
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

namesys.FIX: wrong string parsing in get_pair_sprb
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

bo_ramp.MNT: remove normalized configs from template
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
Owners: @xresende, @fernandohds564

TST: comment some tests to allow cases of waveforms with energies with values below rest energy
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

ramp.API: change WaveformParam class interface
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

ramp.MNT: adapt bo_ramp config and ramp.util to new WaveformParam interface
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/ramp/util.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.MNT: adapt Waveform and WaveformDipole classes to new WaveformParam interface
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

ramp.MNT: adapt BoosterRamp class to new bo_ramp config template and waveforms interfaces
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ENH: change RF ramp default values
  siriuspy/siriuspy/ramp/util.py
Owners: @xresende, @anacso17

ramp.TST: fix waveforms tests
  siriuspy/siriuspy/ramp/util.py
  siriuspy/tests/ramp/test_waveform.py
Owners: @xresende, @anacso17, @fernandohds564

Update unittests
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-udc.txt
  siriuspy/tests/test_data/servweb/beaglebone/ip-list.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/tb-corrector-strong-ch.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/tb-corrector-strong-cv.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/ts-dipole-b-fam.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-setpoint-limits.txt
Owners: @xresende, @fernandohds564

Update FAP_4P PS data in csdevice
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update FAP_4P in siriuspy.search
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Add PRUserial 485 version print comments in pwrsupply
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Update FAC_4P data in model_factory
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Add various psmode structures for FAP_4P
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Update PS and MS IOCs for SI dipoles
  as-ma/systemd/sirius-ioc-bo-ma-dipoles.service
  as-ma/systemd/sirius-ioc-si-ma-dipoles.service
Owners: @xresende, @fernandohds564

Add SI quad PS and MA systemd services
  as-ma/systemd/Makefile
Owners: @xresende, @fernandohds564

Add missing SI quad systemd files
  as-ma/systemd/sirius-ioc-si-ma-quadrupoles-q.service
  as-ma/systemd/sirius-ioc-si-ma-quadrupoles-qd1.service
  as-ma/systemd/sirius-ioc-si-ma-quadrupoles-qd2.service
  as-ma/systemd/sirius-ioc-si-ma-quadrupoles-qf.service
Owners: @xresende, @fernandohds564

Add TS PS and MA IOC services
  as-ma/systemd/Makefile
Owners: @xresende, @fernandohds564

Implement FAP_4P data structs in pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves
