Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

BUG: fix pv names and merge hvps control
  egun.py
Owners: @xresende, @fernandohds564

MNT: make li-llrf name setting more flexible
  li_llrf.py
Owners: @xresende, @fernandohds564

Correction class names in __init__
  __init__.py
Owners: @xresende, @fernandohds564

ENH: Add missing egun.bias in init
  __init__.py
Owners: @xresende, @fernandohds564

BUG: add switch in turn on/off
  egun.py
Owners: @xresende, @fernandohds564

Add PVs corresponding to Power Supply IOCs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

bug: Fix some bugs for IOC to work properly.
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: Implementation of package to measure energy and emittance in Linac.
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/measurements/__init__.py
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

DEV.BUG: Fix ICT PV name
  ict.py
Owners: @xresende, @fernandohds564

Add test notebooks
  siriuspy/siriuspy/pwrsupply/tests/Untitled.ipynb
  siriuspy/siriuspy/pwrsupply/tests/Untitled1.ipynb
  siriuspy/siriuspy/pwrsupply/tests/fbp-example.ipynb
Owners: @xresende, @anacso17, @murilobalves

ramp.ENH: add get_maget function to magnets module
  siriuspy/siriuspy/ramp/magnet.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/tests/ramp/test_magnet.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.MNT: cleanup code
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.WIP: add logger to EpicsProperties
  siriuspy/siriuspy/epics/properties.py
Owners: @xresende, @fernandohds564, @anacso17

Add debounce manager power supply parameters
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

TIM.MNT: Comment out code which checked for Downlink and FoutDownlink properties.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

cycle.ENH: add SI power supplies
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

namesys.FIX: bug in Filter.process_filters
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

FIX: SI SDA1, SDA2 and SDB2 service names
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sda12b2.service
Owners: @xresende, @fernandohds564

cycle.MNT: remove unused get_psnames_from_same_udc function. Now, in the new version of PS IOC, power supplies can cycle individually.
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: add get_trigger_by_psname function
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: change Timing connector and CycleController to handle only needed triggers
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: enhance pv_timed_get function
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

TIM.BUG: Decrease update rate to 10Hz to avoid wrong pv update value.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

cycle.MNT: temporarily remove SI power supplies
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

CONFIGDB.ENH: Add SI-Glob:TI-Mags-QTrims to global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

cycle.MNT: move trigger list to cycle.util
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: improve get_trigger_by_psname function
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

PM.ENH: add TS InjSept services
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-ts-pm-injseptf.service
  as-ma/systemd/sirius-ioc-ts-pm-injseptg1.service
  as-ma/systemd/sirius-ioc-ts-pm-injseptg2.service
Owners: @xresende, @fernandohds564

CONFIGBD.ENH: Add InjDpKckr PVs to global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

PM.ENH: add SI InjDpKckr service
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-si-pm-injdpkckr.service
Owners: @xresende, @fernandohds564

ENH: Add methods to check if setpoint was sent to LLRF
  li_llrf.py
Owners: @xresende, @fernandohds564

API: Add RF phase control both for CW and Ramp mode
  rf.py
Owners: @xresende, @fernandohds564

Change siggen function as to make ps parms independent.
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @anacso17, @murilobalves

Make siggen parms indedepent for pwrsupplies in the same UDC
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @anacso17, @murilobalves

Fix typo in comment
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

currinfo.ENH: change Charge PV units to nC and add CurrThold PV
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.ENH: add threshold to consider current data, subtract offset from current raw reading and change Charge PV units
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add threshold to consider current data, subtract offset from current raw reading and change Charge PV units
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

PSSEARCH.ENH: Add method to get mapping from udc to psnames.
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

TIM.MNT: update PS connections according to new timing distribution, which goes to UDCs instead of Beaglebones.
  siriuspy/siriuspy/search/ll_time_search.py
Owners: @xresende, @fernandohds564
