Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

bsmp/ NamedTuple class for type check
  siriuspy/siriuspy/bsmp/types.py
Owners: @xresende, @anacso17

typehint wip
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/constants.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

Reset makefile changes
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

Removed PyPi from travis
  .travis.yml
Owners: @xresende, @fernandohds564

Include aiohttp version
  siriuspy/requirements.txt
Owners: @xresende, @fernandohds564

bsmp/ fix missing default paylod default
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

bsmp/ Update type hint
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

setup.py: Removed unused import
  siriuspy/setup.py
Owners: @xresende, @fernandohds564

tests bsmp/ update formatting and imports
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/bsmp/test_entities.py
  siriuspy/tests/bsmp/test_serial.py
  siriuspy/tests/bsmp/test_types.py
Owners: @xresende, @fernandohds564

Removed requirements from top level dir
  requirements.txt
Owners: @xresende, @fernandohds564

travis: Install deps before siriuspy requirements
  .travis.yml
Owners: @xresende, @fernandohds564

tests bsmp: Using single quotes
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/bsmp/test_entities.py
  siriuspy/tests/bsmp/test_serial.py
  siriuspy/tests/bsmp/test_types.py
Owners: @xresende, @fernandohds564

github: Include pypi upload action
  .github/workflows/pypi-siriuspy.yml
Owners: @xresende, @fernandohds564

travis: removed conditional execution
  .travis.yml
Owners: @xresende, @fernandohds564

Update test_entities.py
  siriuspy/tests/bsmp/test_entities.py
Owners: @xresende, @fernandohds564

tests bsmp: Using single quotes
  siriuspy/tests/bsmp/test_entities.py
  siriuspy/tests/bsmp/test_serial.py
Owners: @xresende, @fernandohds564

bsmp: typehint update
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

github: Include lint and test action
  .github/workflows/test-siriuspy.yml
Owners: @xresende, @fernandohds564

Remvoed mathphys fixed version
  .github/workflows/test-siriuspy.yml
  siriuspy/requirements.txt
Owners: @xresende, @fernandohds564

pru-serial using setup install
  .github/workflows/test-siriuspy.yml
Owners: @xresende, @fernandohds564

github: test action
  .github/workflows/test-siriuspy.yml
Owners: @xresende, @fernandohds564

Update setup.py
  siriuspy/setup.py
Owners: @xresende, @fernandohds564

bsmp: query_list_of_group_of_variables typehint fix
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

bsmp: fix return type hint
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
Owners: @xresende, @anacso17

Add return code for socket timeout in PSSOFB
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: Add mechanism to identify whether worker has not received or is not done in case of timeout.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

SOFB.STY: Fix some style errors along code.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

THREAD.BUG: clear evt_ready before setting evt_received may cause hanging problems with low error rate.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Update README.md
  README.md
Owners: @xresende, @fernandohds564

Update DriverTemperaturIIBMod PVs of TS-Fam:PS-B
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Rename PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Fix PV unit
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix PV unit
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix PV names
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Rename PVs for TB and SI dipoles IOCs
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Derive PRUInterface from IOInterface
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
  siriuspy/tests/bsmp/test_serial.py
  siriuspy/tests/pwrsupply/pructrl/test_pru.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix typo
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17
