Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change normalizer dipole for injection pulsed magnets in SI
  siriuspy/examples/.ipynb_checkpoints/ControllerSim-checkpoint.ipynb
  siriuspy/examples/.ipynb_checkpoints/ControllerVACA-checkpoint.ipynb
  siriuspy/examples/.ipynb_checkpoints/ramp-checkpoint.ipynb
  siriuspy/examples/ControllerSim.ipynb
  siriuspy/examples/ControllerVACA.ipynb
  siriuspy/examples/beaglebone/IOC.py
  siriuspy/examples/beaglebone/comandos.py
  siriuspy/examples/beaglebone/teste_onthefly.py
  siriuspy/examples/ramp/BoosterNormalized.ipynb
  siriuspy/examples/ramp/BoosterRamp.ipynb
  siriuspy/examples/ramp/Magnet.ipynb
  siriuspy/examples/ramp/WaveformDipole.ipynb
  siriuspy/examples/ramp/WaveformParam.ipynb
  siriuspy/examples/servconf/delete_configs.ipynb
  siriuspy/examples/servconf/servconf.ipynb
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/pwrsupply/psconv.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PS.ENH: add new SI dipoles PVs.
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add comments to psconv
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Fix false alarm in DCLink IOCs due to non-existing normalizer conn
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Delete empty line
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

ENH: in global_config and cycle package, add delays between commands to set PS OpMode and Current
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

FIX: rename PVs that was with identical names
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: Remove unnecessary re-implementation of value property.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: improve RF value setter to change frequency slowly.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: FIx bug with RF selection.
  matrix.py
Owners: @xresende, @fernandohds564

Delete unnecessary method in psconv
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Delete more unnecessary methods in psconv
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Add update of strength limits in BeagleBone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: Save respmat even if measurement is stopped.
  main.py
Owners: @xresende, @fernandohds564

Add strengt limits method in beaglebone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Change default Wfm-Ref update in ps iocs to off.
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/bsmp/test_commands.py
Owners: @xresende, @fernandohds564

Remove ps ioc simulation code.
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/psbsmpsim.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/udc.py
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix wrong substitution
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @fernandohds564

Fix wrong substitution
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @fernandohds564

Fix wrong substitution
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @fernandohds564

Delete unused pwrsupply.pulsed module
  siriuspy/siriuspy/pwrsupply/pulsed.py
Owners: @xresende, @anacso17, @murilobalves

Use class access operator for static method anomalous
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: Do not get_orbit in respmat measurement initialization.
  main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Be more restrict in get_orbit method.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve printing in meas respmat method.
  main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix printing in do_meas_respmat method.
  main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Update nominal value of septum kick.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix RF PV parameters.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: Update initial value of some properties.
  main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Update initial value of some properties.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Improbe PS IOC update rate
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Remove unnecessary newlines
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update requirements file.
  requirements.txt
Owners: @xresende, @fernandohds564

Reduce FBP scan frequency.
  siriuspy/siriuspy/pwrsupply/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

Return to 10 hz update - IOC ps
  siriuspy/siriuspy/pwrsupply/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

Update computed_pv
  siriuspy/siriuspy/epics/computed_pv.py
Owners: @xresende, @fernandohds564, @anacso17

currinfo.ENH: change SI charge calculation: use fixed interval (1 min) and increment value only if DCCT indicates stored beam.
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: change SI charge calculation: use fixed interval (1 min) and increment value only if DCCT indicates stored beam.
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
