Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

SOFB.BUG: Fix sofb imports.
  siriuspy/siriuspy/sofb/__init__.py
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Move csdevice/orbitcorr to sofb/csdev.py.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

SOFB.MNT: change import to accomodate new location of sofb.csdev
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/sofb/__init__.py
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.MNT: Remove pcaspy dependency from code.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

General code standardization
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/pvarch.py
  siriuspy/siriuspy/clientconfigdb/__init__.py
  siriuspy/siriuspy/clientconfigdb/_templates.py
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
  siriuspy/siriuspy/clientconfigdb/configdb_document.py
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
  siriuspy/siriuspy/clientconfigdb/types/__init__.py
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/csdevice/bpms.py
  siriuspy/siriuspy/csdevice/currinfo.py
  siriuspy/siriuspy/csdevice/dccts.py
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/csdevice/icts.py
  siriuspy/siriuspy/csdevice/opticscorr.py
  siriuspy/siriuspy/csdevice/orbitcorr.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/ramp/reconst_factory.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/tests/mock_servweb.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

SOFB.BUG: Fix import of timesys.csdev.
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

BPM.MNT: Remove old files used to simulate BPM behavior.
  siriuspy/siriuspy/diagnostics/bpms/bpm_plugins.py
  siriuspy/siriuspy/diagnostics/bpms/ioc.py
  siriuspy/siriuspy/diagnostics/bpms/model.py
Owners: @fernandohds564, @xresende

DIAG.ENH: rename and organize diagnostics folder.
  siriuspy/siriuspy/diag/__init__.py
  siriuspy/siriuspy/diag/bpm/__init__.py
  siriuspy/siriuspy/diag/dcct/__init__.py
  siriuspy/siriuspy/diag/ict/__init__.py
  siriuspy/siriuspy/diag/screen/__init__.py
  siriuspy/siriuspy/diag/slit/__init__.py
Owners: @xresende, @fernandohds564

DIAG.MNT: Move diag components from csdevice to diag subpackage.
  siriuspy/siriuspy/diag/bpm/csdev.py
  siriuspy/siriuspy/diag/dcct/csdev.py
  siriuspy/siriuspy/diag/ict/csdev.py
  siriuspy/siriuspy/diag/screen/csdev.py
  siriuspy/siriuspy/diag/slit/csdev.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix imports of diag.bpm.csdev module.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

DIAG.BUG: Fix imports in csdevs modules.
  siriuspy/siriuspy/diag/bpm/csdev.py
  siriuspy/siriuspy/diag/dcct/csdev.py
  siriuspy/siriuspy/diag/ict/csdev.py
  siriuspy/siriuspy/diag/screen/csdev.py
Owners: @xresende, @fernandohds564

DIAG.BPM.MNT: Refactor code to comply with standard.
  siriuspy/siriuspy/diag/bpm/csdev.py
Owners: @xresende, @fernandohds564

DIAG.BPM.BUG: Fix imports.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

MEAS.MNT: Move file from csdevice to measurements.
  siriuspy/siriuspy/measurements/__init__.py
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/csdev.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

STY: Organize imports according to standard defined by @xresende.
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

OpticsCorr.ENH: add grouping selection ('Individual' or 'TwoKnobs')
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in Timing Status
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

ENH: remove unnecessary uses of pcaspy.Driver.updatePVs
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

MEAS.MNT: Move energymeas from csdevice and refactor measurements subpackage.
  siriuspy/siriuspy/meas/__init__.py
  siriuspy/siriuspy/meas/csdev.py
  siriuspy/siriuspy/meas/liemit/__init__.py
  siriuspy/siriuspy/meas/liemit/csdev.py
  siriuspy/siriuspy/meas/liemit/main.py
  siriuspy/siriuspy/meas/lienergy/__init__.py
  siriuspy/siriuspy/meas/lienergy/csdev.py
  siriuspy/siriuspy/meas/lienergy/main.py
  siriuspy/siriuspy/meas/util.py
  siriuspy/siriuspy/measurements/__init__.py
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in write CorrGroup PV
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Remove normalization of Sum.
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix Antennas order in singlepass calculation.
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

MNT: move opticscorr_utils to siriuspy.opticscorr.utils
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/opticscorr_utils.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-opticscorr/tests/test_opticscorr_utils.py
Owners: @xresende, @fernandohds564

PosAng.MNT: remove calc_respm.py
  as-ap-posang/as_ap_posang/calc_respm.py
Owners: @xresende, @fernandohds564

Fix bug in excdata
  siriuspy/siriuspy/magnet/excdata.py
Owners: @xresende, @anacso17

Rename pv to pvobj
  siriuspy/siriuspy/epics/pv_psdiag.py
  siriuspy/siriuspy/epics/pv_time_serie.py
  siriuspy/siriuspy/util.py
Owners: @xresende, @fernandohds564, @anacso17

CurrInfo.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as-ap-currinfo/as_ap_currinfo/main.py
  as-ap-currinfo/as_ap_currinfo/pvs.py
  as-ap-currinfo/tests/__init__.py
  as-ap-currinfo/tests/test_main.py
  as-ap-currinfo/tests/test_pvs.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
  as-ap-currinfo/as_ap_currinfo/lifetime/pvs.py
  as-ap-currinfo/tests/lifetime/test_main.py
  as-ap-currinfo/tests/lifetime/test_pvs.py
Owners: @xresende, @fernandohds564

ChromCorr.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/chrom/pvs.py
  as-ap-opticscorr/tests/chrom/test_main.py
  as-ap-opticscorr/tests/chrom/test_pvs.py
Owners: @xresende, @fernandohds564

TuneCorr.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/pvs.py
  as-ap-opticscorr/tests/tune/test_main.py
  as-ap-opticscorr/tests/tune/test_pvs.py
Owners: @xresende, @fernandohds564

opticscorr.FIX: fix tests
  as-ap-opticscorr/tests/__init__.py
Owners: @xresende, @fernandohds564

PosAng.MNT: change App class to derive from CallBack, remove pvs.py module, fix csdevice imports and cleanup code
  as-ap-posang/as_ap_posang/main.py
  as-ap-posang/as_ap_posang/pvs.py
  as-ap-posang/tests/test_main.py
  as-ap-posang/tests/test_pvs.py
Owners: @xresende, @fernandohds564

PSDiag.MNT: change App class to derive from CallBack, fix csdevice imports and cleanup code
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

Revert back a few methods signatures in LinacPSCycler
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Add comment in throwawat lines
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

fix typo and comments
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/test_reconst_factory.py
  siriuspy/siriuspy/ramp/testwfm.py
Owners: @xresende, @anacso17

PosAng.FIX: fix bug in ConfigPS-Cmd
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

TST: fix tests
  as-ap-currinfo/tests/lifetime/test_main.py
  as-ap-currinfo/tests/test_main.py
  as-ap-opticscorr/tests/chrom/test_main.py
  as-ap-opticscorr/tests/tune/test_main.py
  as-ap-posang/tests/tb-posang.txt
  as-ap-posang/tests/test_main.py
Owners: @xresende, @fernandohds564

OpticsCorr.ENH: add CorrGroup PVs
  siriuspy/siriuspy/csdevice/opticscorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MNT: move csdevice modules to corresponding new subpackages csdev.py files
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/posang/csdev.py
  siriuspy/siriuspy/psdiag/csdev.py
Owners: @xresende, @fernandohds564
