Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Fix logic in check for triggered modes.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

cycle.FIX: change Linac power supplies interlock threshold to 60
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

PS.MNT: update Linac PS interlock labels
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

cycle.FIX: change Linac power supplies interlock threshold to 64
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

PS.MNT: update Linac PS interlock labels
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

MNT: rename psdiag subpackge to diagsys
  siriuspy/siriuspy/diagsys/__init__.py
  siriuspy/siriuspy/diagsys/csdev.py
  siriuspy/siriuspy/diagsys/main.py
  siriuspy/siriuspy/diagsys/pvs.py
  siriuspy/siriuspy/psdiag/__init__.py
Owners: @xresende, @fernandohds564

MNT: update siriuspy.__init__.py
  siriuspy/siriuspy/__init__.py
Owners: @xresende, @anacso17, @fernandohds564

MNT: move the common diagsys code to separated modules
  siriuspy/siriuspy/diagsys/app.py
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
  siriuspy/siriuspy/diagsys/pvs.py
Owners: @xresende, @fernandohds564

psdiag.ENH: add LI PS
  siriuspy/siriuspy/diagsys/psdiag/csdev.py
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

pudiag.ENH: add first version
  siriuspy/siriuspy/diagsys/pudiag/__init__.py
  siriuspy/siriuspy/diagsys/pudiag/csdev.py
  siriuspy/siriuspy/diagsys/pudiag/main.py
  siriuspy/siriuspy/diagsys/pudiag/pvs.py
Owners: @xresende, @fernandohds564

MNT: rename diag subpackage to diagbeam
  siriuspy/siriuspy/diag/dcct/__init__.py
  siriuspy/siriuspy/diag/ict/__init__.py
  siriuspy/siriuspy/diag/screen/__init__.py
  siriuspy/siriuspy/diag/slit/__init__.py
  siriuspy/siriuspy/diagbeam/__init__.py
  siriuspy/siriuspy/diagbeam/bpm/__init__.py
  siriuspy/siriuspy/diagbeam/bpm/csdev.py
  siriuspy/siriuspy/diagbeam/dcct/__init__.py
  siriuspy/siriuspy/diagbeam/dcct/csdev.py
  siriuspy/siriuspy/diagbeam/ict/__init__.py
  siriuspy/siriuspy/diagbeam/ict/csdev.py
  siriuspy/siriuspy/diagbeam/screen/__init__.py
  siriuspy/siriuspy/diagbeam/screen/csdev.py
  siriuspy/siriuspy/diagbeam/slit/__init__.py
  siriuspy/siriuspy/diagbeam/slit/csdev.py
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

psdiag.ENH: differentiates labels according to section
  siriuspy/siriuspy/diagsys/psdiag/csdev.py
Owners: @xresende, @fernandohds564

MNT: move psdiag files to diagsys/psdiag
  siriuspy/siriuspy/diagsys/psdiag/__init__.py
  siriuspy/siriuspy/diagsys/psdiag/csdev.py
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

MNT: move PSDiag PVs to psdiag subpackage
  siriuspy/siriuspy/psdiag/main.py
  siriuspy/siriuspy/psdiag/pvs.py
Owners: @xresende, @fernandohds564

lidiag.ENH: add first version
  siriuspy/siriuspy/diagsys/lidiag/__init__.py
  siriuspy/siriuspy/diagsys/lidiag/csdev.py
  siriuspy/siriuspy/diagsys/lidiag/main.py
  siriuspy/siriuspy/diagsys/lidiag/pvs.py
Owners: @xresende, @fernandohds564

rfdiag.ENH: add first version
  siriuspy/siriuspy/diagsys/rfdiag/__init__.py
  siriuspy/siriuspy/diagsys/rfdiag/csdev.py
  siriuspy/siriuspy/diagsys/rfdiag/main.py
  siriuspy/siriuspy/diagsys/rfdiag/pvs.py
Owners: @xresende, @fernandohds564

FIX: fix bug left in devices.bpm
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVBBB.ENH: Add methods to make parameters sweeps.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVBBB.ENH: add methods to save and load raw data from file.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: return RF frequency in Hz.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

pwrsupply.FIX: fix bugs in Sine and DampedSine siggen signals
  siriuspy/siriuspy/pwrsupply/siggen.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: rearange Trapezoidal siggen signal definitions
  siriuspy/siriuspy/pwrsupply/siggen.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.ENH: add Square siggen signal
  siriuspy/siriuspy/pwrsupply/siggen.py
Owners: @xresende, @anacso17, @murilobalves

TST: fix siggen tests
  siriuspy/tests/pwrsupply/test_siggen.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: improve sweep methods.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

CurrInfo.FIX: check if current value is valid before calculating charges in BO IOC
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

BBB.ENH: Add acquisition times to save_raw_data.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEV.API: Change interface of DCCT device to add slow current readings.
  siriuspy/siriuspy/devices/dcct.py
Owners: @xresende, @fernandohds564

BBB.ENH: Add DCCT to the list of devices and add current to saved_data.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

posang.ENH: add verification of the need to update the reference
  siriuspy/siriuspy/posang/csdev.py
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

TST: update posang tests
  siriuspy/tests/posang/test_csdev.py
Owners: @xresende, @fernandohds564

TST: fix posang tests
  siriuspy/tests/posang/test_csdev.py
Owners: @xresende, @fernandohds564

MEASMNC.BUG: Fix Manaca IOC to apply bump to current SOFB reference orbit.
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

MEASMNC.BUG: copy pv value before changing it.
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

TIM.ENH: create another trigger for EGun.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update README.md
  siriuspy/README.md
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
