Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

DEV.SOFB.ENH: Add properties related to MeasRespMat
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

CONFDB.ENH: Add AMCFPGAEVR PVs to as_diagnostics BPMs.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CONFDB.BUG: Fix sufftix of Evt PV.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add Switching mode configuration when changing SOFB Mode.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

DEV.BPM.ENH: Add switching_mode property.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add OrbLength PV to monitor storage ring size.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Add explicit PV object del in check_pv_online
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

ENH: add new Carnauba ID to devices and update IDSearch
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

DEV.SOFB.ENH: Add wait_respm_meas method
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEV.SOFB.ENH: Add respmat property..
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEV.SOFB.ENH: Add method to correct orbit manually.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Adapt PSSearch for new BO dip comm configuration
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Fix typo
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Update spec for FAC_2S_DCDC (BO QF output stage)
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Update spec for FAC_2S_DCDC (BO QF input stage)
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update interlock labels
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update IOC for new BO QF (output stage) firmware
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Update FAC_2P4S_DCDC interlock labels
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update QF spec
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Remove accent letters in interlock bit names
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Reintroduce bsmp.Channel lock
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/factory.py
Owners: @xresende, @anacso17, @murilobalves

Fix EntitiesFAC_2P4S_DCDC
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
Owners: @xresende, @anacso17, @murilobalves

DEV.BbB.ENH: Add first vertion of BbB device.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

Fix unittests
  siriuspy/tests/bsmp/test_serial.py
Owners: @xresende, @fernandohds564

DEV.BbB.ENH: improve BbB device.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add BbB import to __init__ file.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEV.BbB.BUG: fix PV names.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEV.BUG: Return whole PV name not just the property name.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Update FAC_2P4S_ACDC bsmp spec
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Fix variable name in pwrsupply.csdev
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix merge problem
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Add BO dipole missing PVs (modA)
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix PSData not to filter aux BO dipole ps
  siriuspy/siriuspy/pwrsupply/data.py
Owners: @xresende, @anacso17, @murilobalves

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

CYCLE.ENH: Add QSs from C2 to the list of possible magnets to be cycled.
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TIM.ENH: Add control of Dir property present in AMCFPGAEVR triggers.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

SOFB.BUG: Fix check for sloworb in TB, TS and BO instances.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564
