Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Fix travis file
  .travis.yml
Owners: @xresende, @fernandohds564

Fix travis
  .travis.yml
Owners: @xresende, @fernandohds564

ramp.ENH: conclude changes to use PS instead of MA
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/util.py
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

Update travis config file
  .travis.yml
Owners: @xresende, @fernandohds564

ramp.ENH: remove unnecessary use of MAData in Magnet
  siriuspy/siriuspy/ramp/magnet.py
Owners: @xresende, @anacso17

Remove commented code
  .travis.yml
Owners: @xresende, @fernandohds564

PSSEARCH.ENH: Add method to get magfunc from ps name.
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

POSANG.BUG: Fix indices in _update_delta.
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

POSANG.BUG: Fix indices in _update_delta.
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

TST.BUG: Fix tests.
  siriuspy/tests/csdevice/test_opticscorr.py
  siriuspy/tests/csdevice/test_posang.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

PVSCONF.MNT: remove SI Wfm-SP PVs from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Use multibunch mode of BPMs in SOFB SinglePass mode.
  bpms.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Consider BPM offsets in SinglePass position calculation.
  bpms.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Use BPM MultBunch mode in SOFB SinglePass mode.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Add ADCSwp to list of possitle channels for acquisitions.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: use ADCSwp instead of ADC in SinglePass mode.
  orbit.py
Owners: @xresende, @fernandohds564

PSSearch.ENH: Add method to get ps nickname.
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Use PS in CH and CV Names instead of MA.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Remove code that shouldn't've been committed.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Change background acquisition to use multiturn instead of singlepass.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Reset count when reseting orbits.
  orbit.py
Owners: @xresende, @fernandohds564

Add Strengths calc in ps ioc classes
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/maepics.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Replace lists by typles or sets, if appropriate.
  siriuspy/siriuspy/csdevice/bpms.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/util.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/tests/csdevice/test_opticscorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Rename private variables
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

Update unittest files
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-freq.txt
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-udc.txt
  siriuspy/tests/test_data/servweb/beaglebone/ip-list.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-dipole-b1-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-dipole-b1-fam.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-dipole-b1b2-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-dipole-b2-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-dipole-b2-fam.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-quadrupole-q14-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-quadrupole-q20-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-quadrupole-q30-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-sextupole-s15-sd-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/si-sextupole-s15-sf-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-corrector-cv-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-corrector-cv-strong-std.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-corrector-cv-strong.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-corrector-cv.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-dipole-b-fam-std.txt
  siriuspy/tests/test_data/servweb/magnet/magnet-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/bsmp-dclink.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/as-dclink-fbp.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/ts-corrector-cv-strong.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/ts-corrector-cv.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-names.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/putypes-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/siggen-configuration.txt
Owners: @xresende, @fernandohds564

Fix unittests
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/magnet/tests_normalizer.py
  siriuspy/tests/pwrsupply/test_maepics.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

Change utils.print_ioc_banner according to pylint suggestions
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

Add option to pass dipole and family strengths in maepics.SConvEpics conv method
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.BUG: Correctors names are using PS now.
  correctors.py
Owners: @xresende, @fernandohds564

Fix unittest for utils
  siriuspy/tests/csdevice/test_util.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/csdevice/test_util.py
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

Add TODO comment in normalizer module
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

Code cleanup
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

Add new TS correctors to MA IOC
  as-ma/systemd/sirius-ioc-ts-ma-correctors.service
Owners: @xresende, @fernandohds564

Fix wrong names for new TS correctors
  as-ma/systemd/sirius-ioc-ts-ma-correctors.service
Owners: @xresende, @fernandohds564

Add setting EPICS_CA_MAX_ARRAY_BYTES in PS and MA IOCs
  as-ma/scripts/sirius-ioc-as-ma.py
  as-ma/scripts/sirius-ioc-as-pm.py
Owners: @xresende, @fernandohds564

Add precision to strength PVs in PS IOCs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Use prec=5 in strength PVs for PS IOCs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

API: Add SI-RF cavity control in devices
  rf.py
Owners: @xresende, @fernandohds564

Fix maepics and csdevice.pwrsupply for AS PU Conv IOC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves
