Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Remove RF from booster.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Remove RF from booster.
  correctors.py
  main.py
  matrix.py
Owners: @xresende, @fernandohds564

ENH: Add devices module
  __init__.py
  dcct.py
  klystron.py
  rf.py
  sofb.py
Owners: @xresende, @fernandohds564

Add temp test3 to beaglebone.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

ENH: Add parameter defining a small kick.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Fix bug in send_evt method of correctors class.
  correctors.py
Owners: @xresende, @fernandohds564

MNT: Change _timed_out method in correctors class.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve message of matrix measurement.
  main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Expose most import classes of the package.
  __init__.py
Owners: @xresende, @fernandohds564

Update wfmref test files
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
  siriuspy/siriuspy/pwrsupply/tests/.ipynb_checkpoints/fbp-checkpoint.ipynb
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
  siriuspy/siriuspy/pwrsupply/tests/test-2019-10-03.txt
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @anacso17, @murilobalves

Add psupply.update_wfmref to main update loop in PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update psbsmp: change curve d even in slowref mode (optimization)
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add debug methods in serial.py and pry.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Add arg interval to psupply.update_wfmref
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Clean up code
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
Owners: @xresende, @anacso17, @murilobalves

Update PS IOCS FBP data for new wfmref firmware
  siriuspy/siriuspy/bsmp/types.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/factorymodel.py
Owners: @xresende, @anacso17, @murilobalves

Implement bsmp command query_list_of_group_of_variables
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

Update FBP curve id=2 spec.
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update psbsmp class: add wfmref group, overhide a few bsmp commands, introduce sleep for disble bufsample function, update methods
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add ipython notebooks checkpoints to gitignore
  .gitignore
  siriuspy/siriuspy/pwrsupply/tests/.ipynb_checkpoints/fbp-checkpoint.ipynb
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PSupply: add update_variables and other minor updates.
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Update PRUController and tests notebook files in accordance with new PSupply and psbsmp classes
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @anacso17, @murilobalves

Update FAC_2P4S_DCDC (BO Dipoles) BSMP Specs.
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Add print_err option to anomalous_response in bsmp.commands
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

Update bsmp version string.
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add bufsamble enable/disable to UDC class and change prucparams method to return obejct, instead of class!
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

PSBSMP class: add sleep afetr busample_enable bsmp command.
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Clean init code in PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update FAC_2P4S_ACDC (BO Dipoles dclinks) BSMP Specs.
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Update PS IOC classes: first working version for new UDC firmware.
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in PRUController (prune_groups)
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Prevent PSupply from trying to read WfmRef curves of DCLinks
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Add PV WfmSyncPulseCount-Mon for PS IOCs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: Create first version of a Makefile.
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

Fix bug with PS IOC PV WfmIndex-Mon updates
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in FAC_2P4S_DCDC bsmp variable spec
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Add Wfm size constants int csdevice
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests for bsmp subpackage
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/bsmp/test_serial.py
Owners: @xresende, @fernandohds564

Move BSMPSim from bsmp subpackage to pwtsupply/bsmpsim
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Code cleanup if pwrsupply
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
