Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

cycle.ENH: add Status check in Timing connector
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

cycle.FIX: do not set -Mon PVs in Timing preparation
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix LI cycle
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: increase OpMode check timeout
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Fix devices.sofb
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/epics/__init__.py
Owners: @xresende, @fernandohds564, @anacso17

CLTCONF.ENH: Add config si_bbadata to hold bba info.
  siriuspy/siriuspy/clientconfigdb/types/si_bbadata.py
Owners: @xresende, @fernandohds564

PosaAng.FIX: add check of whether the setpoints were accepted in deltas
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

CurrInfo.STY: follow pylint suggestions
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CurrInfo.FIX: fix some PVs initialization
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CurrInfo.FIX: fix injection efficiency calculation
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Lifetime.ENH: reimplement auto reset feature, substitute deque manipulation by lists and cleanup code
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SiriusPVTimeSerie.API: change to return serie in numpy.array instead of list
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

Lifetime.ENH: implement @fernandohds564 optimization suggestions
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.ENH: change to calculate Lifetime synchronously, at a rate of 5Hz
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: change Lifetime Pvs scan frequency to 2Hz
  siriuspy/siriuspy/currinfo/csdev.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: remove unused input in filter_buffer
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: handle empty buffer case
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.FIX: fix bugs in update_times
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.FIX: handle the huge CPU usage for arrays larger than 10k samples
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Add wait_for_connection to devices.device
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Get BPM names in clientarch.devices from BPMSearch
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

API: Remove old and empty subpackage csdevice.
  siriuspy/siriuspy/csdevice/__init__.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

API: improve classes naming convention.
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

ENH: Adapt code to also provide classes to handle currinfo for LI, TB and TS.
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.ENH: Improve __init__ files.
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
Owners: @xresende, @fernandohds564

BUG: Add pyvisa and pyvisa-py to the list of requirements.
  requirements.txt
Owners: @xresende, @fernandohds564

CURRINFO.BUG: Fix tests.
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

CURRINFO.ENH: Add close method to close socket connection.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.MNT: return copy of local database in property `pvs_database`.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Clean clienarch.devices API namespace
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

Move EthBrigdeClient import to machine_application repo
  requirements.txt
  siriuspy/siriuspy/pwrsupply/factory.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CURRINFO.MNT: Apply @xresende suggestions.
  requirements.txt
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.ENH: try to apply workaround for TCPIP communication error.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.STY: fix style errors.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.BUG: Fix bugs.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.MNT: refactor code for organization.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.MNT: parametrize constant.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Improve argument naming when passing EthBridgeClient class
  siriuspy/siriuspy/pwrsupply/factory.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

CURRINFO.BUG: Fix tests.
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
