Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Update pulsed power supplies in devices
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/kicker.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/septum.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix typo in pwrsupply device
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

Fix bugs in devices.pwrsupply
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/util.py
Owners: @xresende, @fernandohds564, @anacso17

Finish PowerSupplyPU in devices
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/ict.py
  siriuspy/siriuspy/devices/llrf.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/screen.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

Update devices.rf with new inner class DEVICES
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

Update siriuspy.devices.tune
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

change devices.tune interface
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.ENH: Add Downlink check in trigger status.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

DEV.RF.BUG: Fix devname construction
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

DEV.EVG.BUG: Change class name call from Timing to EVG
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEV.TUNE.BUG: Fix class call TuneFrac instead of TuneProc
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

DEV.RF.BUG: Fix bug in self._devname
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

change bug fix in devices
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

MNT: Improve Makefile to handle correnctly installations.
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix bug in devices.tune
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @anacso17, @fernandohds564

Delete RF PVs from global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Delete empty line in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add config type 'si_bbb'
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Add missing file
  siriuspy/siriuspy/clientconfigdb/types/si_bbb.py
Owners: @xresende, @fernandohds564

Fix bugs in devices.sofb
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

merge
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

MNT: fix indentations
  siriuspy/siriuspy/epics/pv_time_serie.py
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.ENH: add BORFRampFactory and BOTIRampFactory classes
  siriuspy/siriuspy/ramp/norm_factory.py
  siriuspy/siriuspy/ramp/test_norm_factory.py
Owners: @xresende, @anacso17

ramp.MNT: rename modules of reconstruction classes
  siriuspy/siriuspy/ramp/reconst_factory.py
  siriuspy/siriuspy/ramp/test_reconst_factory.py
Owners: @xresende, @anacso17

Code clean up in devices
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

si_bbb configdb: replace ":" char to "_" in BbB pvnames
  siriuspy/siriuspy/clientconfigdb/types/si_bbb.py
Owners: @xresende, @fernandohds564

Rename si_bbb to si_bbbproc
  siriuspy/siriuspy/clientconfigdb/types/si_bbbproc.py
Owners: @xresende, @fernandohds564

Delete non-existing RF PVs and reorganize order in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update ClientConfigDB.get_config_types
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

Delete comment line
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

clientconfigdb: add get_config_types_database
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/clientconfigdb/test_configdb_client.py
Owners: @xresende, @fernandohds564

Refactor configdb.get_config_types methods
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
  siriuspy/siriuspy/clientconfigdb/configdb_document.py
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/tests/clientconfigdb/test_configdb_client.py
Owners: @xresende, @fernandohds564, @anacso17

fix bug in configdbclient get_config_types
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

ramp.ENH: change BoosterRamp.verify_ps_normalized_synchronized function to use an absolute tolerance of 1e-6 in comparisons
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

fix get-config-types
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564
