Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

devices.MNT: simplify devices set creation sentence in InjSysHandlers
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.ENH: add status description property to Trigger device
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.ENH: add new commands and properties to LILLRF device
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

devices.ENH: add new commands and wait method in LILLRF device for feedback loop control
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

devices.ENH: change LILLRF device feedback and integral enable commands
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

DEV.MNT: Remove `cmd_` prefix from setpoint methods.
  siriuspy/siriuspy/devices/bbb.py
  siriuspy/siriuspy/devices/lillrf.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

DEVLIRF.MNT: Change `turn_on` and `turn_off` methods.
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

devices.FIX: fix LILLRF cmd_turn_off_feedback_loop commands order
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

pwrsupply: access timeouts values with "self"
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Fix typo
  siriuspy/siriuspy/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

Update version to 2.32.0
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

cycle.FIX: fix bug in trims cycle procedure
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: use named tuple instead of hard coded constants in check_pwrsupplies_finalsts
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix wrong return value in LinacPSCycler.check_final_state
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: in case of some not ok states, log the correct final number of successfully checked power supplies
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: use new named tuple in connectors
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: Update device for new IOC version.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEVRF: Update Steps of RF frequency to 200Hz. Allowed by Andre Pontes via Teams in 2021/07/15.
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

DEVRF.MNT: update name of Voltage setpoint PV.
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

Fix PS IOCs timeout bug
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Update prucrontroller
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

devices.ENH: add MachShift device
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/machshift.py
Owners: @xresende, @fernandohds564

CONFDB.MNT: Update BbB configuration template.
  siriuspy/siriuspy/clientconfigdb/types/si_bbbproc.py
Owners: @xresende, @fernandohds564

devices.ENH: change the commands to return a boolean state indicating whether the command was performed successfully
  siriuspy/siriuspy/devices/bbb.py
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/devices/lillrf.py
  siriuspy/siriuspy/devices/orbit_interlock.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/devices/timing.py
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

devices.ENH: add new EVG.set_nrpulses command
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.ENH: add new commands cmd_enable and cmd_disable to Trigger device
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.ENH: add new EGBias.set_voltage command
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.ENH: add first version of EGPulsePS device
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.ENH: add new EGun device
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.FIX: fix InjSys handlers command name
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.FIX: fix InjSys cmd_reset_comm_order return value
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.ENH: add option to abort sequence of commands in InjSysStandbyHandler when running in thread
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.FIX: update ASLLRF property name according to new IOC version
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

Update version to 2.33.0
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVBBB.ENH: Add modal analysis.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEVBBB.BUG: Fix PV name used in interface.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Change some default values to be more adequate for operation.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

devices.FIX: fix bug in EGun device
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add performance monitoring PVs.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix percentage of diffs.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564
