Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

CURRINFO.TST: Add tests for base class.
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

CLTARCH.BUG: fix import error: - transform attributes into class properties to avoid comm with consts server during import time.
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Change default of SyncWithInj to Off.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Lifetime.ENH: reimplement auto reset feature, substitute deque manipulation by lists and cleanup code
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SiriusPVTimeSerie.API: change to return serie in numpy.array instead of list
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

Lifetime.ENH: implement @fernandohds564 optimization suggestions
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.ENH: change to calculate Lifetime synchronously, at a rate of 5Hz
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: change Lifetime PVs scan frequency to 2Hz
  siriuspy/siriuspy/currinfo/csdev.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: remove unused input in filter_buffer
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.MNT: handle empty buffer case
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.FIX: fix bugs in update_times
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.FIX: handle the huge CPU usage for arrays larger than 10k samples
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Lifetime.TST: fix tests
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_csdev.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

CONFDB.MNT: add delay before PU Voltage setpoints in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Callback.FIX: fix kwargs bug in run_callback
  siriuspy/siriuspy/callbacks.py
Owners: @xresende, @anacso17, @fernandohds564

Lifetime.FIX: fix bug in filter_buffer when 'indices' is empty
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Chrom.FIX: handle disconnection problems in process method
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

PosAng.FIX: fix bug in update_delta method
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

Fix bug in PSConv device (QS and QD trims)
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Improve last bug fix
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

ENH: add first version of machshift subpackage
  siriuspy/siriuspy/machshift/__init__.py
  siriuspy/siriuspy/machshift/csdev.py
  siriuspy/siriuspy/machshift/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove IDs correctors from sofb.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Add APU22 normalizer
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/magnet/factory.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Rename ID pwrsupply type
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix bugs for apu22-normalizer
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug introduced in psconv from previous commit
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix bug in StrengthConv introduced in recent commits
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @anacso17, @fernandohds564

search.ENH: add IDSearch class
  siriuspy/siriuspy/search/__init__.py
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

FIX: remove print statement
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

MNT: fix comments in util.conv_splims_labels
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

Lifetime.FIX: reset buffer when there is no store beam
  siriuspy/siriuspy/currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

TST: fix search tests
  siriuspy/tests/search/test_init.py
Owners: @xresende, @fernandohds564

Remove ID correctors from PSSOfb device
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Add additional methods in IDSearch
  siriuspy/siriuspy/search/id_search.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Add auto_mon option do Devices class init
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Add ID and ID feedforward devices.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Add missing char in IDFeedForward method
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564
