Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add test_wfmref
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bbbtests.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
Owners: @xresende, @anacso17, @murilobalves

Update wfmref methods in PSBSMP
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/bsmp/test_commands.py
Owners: @xresende, @fernandohds564

Add WfmRef SP and RB PVs (not working)
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Working version with WfmRef-SP and WfmRef-RB
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add warning print abour code cleanup.
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Implement new RmpWfm mode (with PRU sync_off)
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
Owners: @xresende, @anacso17, @murilobalves

Add debug commented prints in MA classes
  siriuspy/siriuspy/epics/computed_pv.py
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Move primary parser of firmware version to PSBSMP class
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Move reset of variables groups to UDC and PSBSMP
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/exceptions.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code
  siriuspy/siriuspy/bsmp/exceptions.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Create PSupply object in module psupply.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/bsmp/test_commands.py
Owners: @xresende, @fernandohds564

Update PSupply class
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Move BSMP constants to separate module and update imports
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

get rid of lurking bug in PRUCurve
  siriuspy/siriuspy/pwrsupply/functions.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in PSupply.wfmref method
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Move "connected" state in PRUController to PSSupply objects
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update PSupply update_groups method
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Clean up code in pwrsupply.psbsmp
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

In PRUController move state structs of groups defs to PSSupply objects
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Remove portuguese accents from strings.
  siriuspy/examples/beaglebone/IOC.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update wfmref methods is PSBSMP
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add test conditionals in beaglebone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Fix test conditional
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Fix BSMP curve read with variable sizes
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
Owners: @xresende, @anacso17, @murilobalves

Update test_wfmref.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
Owners: @xresende, @anacso17, @murilobalves

Add wfmref_sp attribute to PSupply
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Update PSBSMP
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Move current value of wfmref to PSSupply.wfmref_sp
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Add WfmRef-Mon PV to PS IOC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
  siriuspy/tests/bsmp/test_entities.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add WfmIndex-Mon PV to PS IOC classes
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/test_wfmref.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unit comment for PRU timeout constants
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Implement Wfm-Mon (not finished!)
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Change implementation of equalKick method.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Adapt _csorb.isring to be used as property.
  base_class.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Makeisring a property.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: create a property named correctors in Correctors class.
  correctors.py
  main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Uncomment error message when getting strength of correctors.
  correctors.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
