Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

FIX: fix import of optics.opticscorr module
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

TST: fix tests
  siriuspy/tests/currinfo/__init__.py
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/opticscorr/__init__.py
  siriuspy/tests/opticscorr/test_csdev.py
  siriuspy/tests/posang/__init__.py
  siriuspy/tests/posang/test_csdev.py
Owners: @xresende, @fernandohds564

TST: fix optics tests
  siriuspy/tests/optics/__init__.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: bring opticscorr_utils.py from machine-applications
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/tests/opticscorr/test_utils.py
Owners: @xresende, @fernandohds564

SOFB.STY: Add comments in methods and make a few style changes.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Fix bug in clientarch
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Clean clientarch namespace
  siriuspy/siriuspy/clientarch/__init__.py
Owners: @xresende, @fernandohds564

Delete empty line
  siriuspy/siriuspy/magnet/excdata.py
Owners: @xresende, @anacso17

SOFB.ENH: Implement non-linear correction of BPM triggered data in SOFB.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Fix typo.
  siriuspy/siriuspy/magnet/excdata.py
Owners: @xresende, @anacso17

Code cleanup and standardization.
  siriuspy/siriuspy/diag/bpm/csdev.py
  siriuspy/siriuspy/meas/csdev.py
  siriuspy/siriuspy/meas/liemit/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/orbit.py
  siriuspy/siriuspy/thread.py
  siriuspy/siriuspy/timesys/csdev.py
Owners: @xresende, @fernandohds564, @anacso17

MNT: move Apps and tests to siriuspy
  as-ap-opticscorr/as_ap_opticscorr/__init__.py
  as-ap-opticscorr/tests/tune/__init__.py
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/siriuspy/opticscorr/chrom/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/__init__.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/posang/__init__.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/psdiag/__init__.py
  siriuspy/siriuspy/psdiag/main.py
  siriuspy/tests/currinfo/__init__.py
  siriuspy/tests/currinfo/lifetime/__init__.py
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/__init__.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/tune/__init__.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/__init__.py
  siriuspy/tests/posang/tb-posang.txt
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

MNT: fix imports
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/__init__.py
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/siriuspy/opticscorr/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/__init__.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/posang/__init__.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/psdiag/__init__.py
Owners: @xresende, @fernandohds564

TST: fix imports
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_csdev.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

TST: fix opticscorr tests
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

TST: fix mocks
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

TST: create mock to consult config names
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/posang/utils.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

TST: give up adding new tests momentarily
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/tb-posang.txt
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

TST: remove more tests
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/test_utils.py
Owners: @xresende, @fernandohds564

TST: remove currinfo tests
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

FIX: fix opticscorr import
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

PosAng.MNT: move config name handling to utils
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/posang/utils.py
Owners: @xresende, @fernandohds564

TST: change tests but remove them momentarily
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/tb-posang.txt
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

More code cleanup.
  siriuspy/siriuspy/clientconfigdb/_templates.py
  siriuspy/siriuspy/util.py
Owners: @xresende, @fernandohds564, @anacso17

Add psspfb devices
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/pssofb.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/sofbcorrs_tests.py
  siriuspy/siriuspy/epics/pv_psdiag.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

More cleanup
  siriuspy/siriuspy/epics/pv.py
  siriuspy/siriuspy/pwrsupply/data.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/timesys/csdev.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix devices init module
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

Remove test file
  siriuspy/siriuspy/devices/sofbcorrs_tests.py
Owners: @xresende, @fernandohds564

Fix unittest and delete deprecated file
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MNT: change to use relative imports and revert merge error
  siriuspy/siriuspy/currinfo/lifetime/main.py
  siriuspy/siriuspy/currinfo/main.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/psdiag/csdev.py
  siriuspy/siriuspy/psdiag/main.py
Owners: @xresende, @fernandohds564

Add VACA_PREFIX to pvs in Device
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

OpticsCorr.ENH: add CorrGroup PVs
  siriuspy/siriuspy/csdevice/opticscorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MNT: move csdevice modules to corresponding new subpackages csdev.py files
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/posang/csdev.py
  siriuspy/siriuspy/psdiag/csdev.py
Owners: @xresende, @fernandohds564

FIX: fix import of optics.opticscorr module
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

TST: fix tests
  siriuspy/tests/currinfo/__init__.py
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/opticscorr/__init__.py
  siriuspy/tests/opticscorr/test_csdev.py
  siriuspy/tests/posang/__init__.py
  siriuspy/tests/posang/test_csdev.py
Owners: @xresende, @fernandohds564

TST: fix optics tests
  siriuspy/tests/optics/__init__.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: bring opticscorr_utils.py from machine-applications
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/tests/opticscorr/test_utils.py
Owners: @xresende, @fernandohds564

OpticsCorr.ENH: add grouping selection ('Individual' or 'TwoKnobs')
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in Timing Status
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

ENH: remove unnecessary uses of pcaspy.Driver.updatePVs
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
