Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Implement SET_DSP_COEFFS bsmp function
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

SICurrInfo.ENH: change to handle numerical warnings as errors in lifetime calculation
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: change to handle numerical warnings as errors in lifetime calculation
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: update Lifetime IOC
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: update Lifetime IOC
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: update Lifetime datebase
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PVSerie.ENH: add option to initialize buffers and create get_serie method
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

TST: fix SI CurrInfo Lifetime test
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

PosAng.ENH: update database
  siriuspy/siriuspy/clientconfigdb/types/ts_posang_respm.py
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PosAng.ENH: generalize code to make it possible to control sept-sept or ch-sept in TS IOC
  as_ap_posang/main.py
  as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.ENH: generalize code to make it possible to control sept-sept or ch-sept in TS IOC
  as-ap-posang/as_ap_posang/main.py
  as-ap-posang/as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

Add device Energy
  siriuspy/siriuspy/devices/energy.py
Owners: @xresende, @fernandohds564

Fix DeviceApp
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Fix device Energy
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/energy.py
Owners: @xresende, @fernandohds564

Move pwrsupply csdevice to sirius.pwrsuppy as csdev
  siriuspy/siriuspy/__init__.py
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/csdev.py
  siriuspy/siriuspy/csdevice/bpms.py
  siriuspy/siriuspy/csdevice/currinfo.py
  siriuspy/siriuspy/csdevice/dccts.py
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/csdevice/icts.py
  siriuspy/siriuspy/csdevice/opticscorr.py
  siriuspy/siriuspy/csdevice/orbitcorr.py
  siriuspy/siriuspy/csdevice/posang.py
  siriuspy/siriuspy/csdevice/psdiag.py
  siriuspy/siriuspy/csdevice/screens.py
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/cycle/bo_cycle_data.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/epics/pv_psdiag.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/data.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/status.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/tests/csdevice/test_currinfo.py
  siriuspy/tests/csdevice/test_opticscorr.py
  siriuspy/tests/csdevice/test_posang.py
  siriuspy/tests/csdevice/test_timesys.py
  siriuspy/tests/pwrsupply/test_csdev.py
  siriuspy/tests/ramp/test_waveform.py
  siriuspy/tests/test_csdev.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Update package to use new siriuspy csdevice
  as-ap-currinfo/as_ap_currinfo/main.py
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

Update package to use new siriuspy csdevice
  correctors.py
Owners: @xresende, @fernandohds564

Update package to use new siriuspy csdevice
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

Update package to use new siriuspy csdevice
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

Update package to use new siriuspy csdevice
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

Code cleanup in epics subpackage
  siriuspy/siriuspy/epics/__init__.py
  siriuspy/siriuspy/epics/pv_fake.py
  siriuspy/siriuspy/epics/pv_psdiag.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17

Code cleanup in epics init and properties modules.
  siriuspy/siriuspy/epics/__init__.py
  siriuspy/siriuspy/epics/properties.py
Owners: @xresende, @fernandohds564, @anacso17

epics: pv_fake has to be imported
  siriuspy/siriuspy/epics/__init__.py
Owners: @xresende, @fernandohds564, @anacso17

Add DevicesSync to devices
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/energy.py
Owners: @xresende, @fernandohds564

Add missing syncd module
  siriuspy/siriuspy/devices/syncd.py
Owners: @xresende, @fernandohds564

Refactor pwrsupply.psconv classes to use Devices
  siriuspy/siriuspy/devices/syncd.py
  siriuspy/siriuspy/pwrsupply/psconv.py
  siriuspy/tests/pwrsupply/test_psconv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Rename classes in pwrsupply.psconv
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/psconv.py
  siriuspy/tests/pwrsupply/test_psconv.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix typo
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Sdandardize imports in pwrsupply subpackage
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/data.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/status.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Additional import sdandardization
  siriuspy/siriuspy/magnet/data.py
  siriuspy/siriuspy/magnet/excdata.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/magnet/util.py
Owners: @xresende, @anacso17

TIM.API: Move timesys csdevice to sirius.timesys as csdev
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/timesys/csdev.py
Owners: @xresende, @fernandohds564, @anacso17

MNT: substitute use of csdevice.timesys by timesys.csdev.
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

MNT: substitute use of csdevice.timesys by timesys.csdev.
  bpms.py
  correctors.py
Owners: @xresende, @fernandohds564

MNT: substitute use of csdevice.timesys by timesys.csdev.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TIM.BUG: Fix tests.
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
  siriuspy/tests/timesys/test_csdev.py
  siriuspy/tests/timesys/test_init.py
Owners: @fernandohds564, @xresende

Fix bugs un device and move psconv from pwrsupply to devices
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Fix unittests
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/tests/devices/test_psconv.py
Owners: @xresende, @fernandohds564

Update StrengthConv in beagleBone pwrsupply module
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/tests/devices/test_psconv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Move files to the right folder
  siriuspy/siriuspy/sofb/__init__.py
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564
