Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Add SOFBCurrent PVs back to PS IOC.
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Add 'only_main_harmonic' option excdata and normalizer funtions.
  siriuspy/siriuspy/magnet/excdata.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/meas/lienergy/main.py
Owners: @xresende, @anacso17, @fernandohds564

Code cleanup
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/pscreaders.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply: implement TimestampBoot-Cte init like just any other const
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

pwersupply.beaglebone: improve documentation.
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply: fix bug identified with Cycle params initialization
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Move siriuspy.factory to siriusp.y.magnet.factory
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/magnet/factory.py
  siriuspy/siriuspy/meas/liemit/main.py
  siriuspy/siriuspy/ramp/magnet.py
  siriuspy/tests/magnet/test_factory.py
Owners: @xresende, @fernandohds564, @anacso17

Move factory to magnet.factory
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/magnet/factory.py
  siriuspy/siriuspy/meas/liemit/main.py
  siriuspy/siriuspy/ramp/magnet.py
  siriuspy/tests/magnet/test_factory.py
Owners: @xresende, @fernandohds564, @anacso17

code cleanup
  siriuspy/tests/magnet/tests_normalizer.py
Owners: @xresende, @fernandohds564

Refactor pwrsupply subpackage
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp/__init__.py
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp/factory.py
  siriuspy/siriuspy/pwrsupply/factory.py
  siriuspy/siriuspy/pwrsupply/pructrl/__init__.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/pructrl/psdevstate.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/psctrl/__init__.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscreaders.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscstatus.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/siggen.py
  siriuspy/siriuspy/pwrsupply/tests/utils.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/pwrsupply/pructrl/__init__.py
  siriuspy/tests/pwrsupply/pructrl/test_pru.py
  siriuspy/tests/pwrsupply/psctrl/__init__.py
  siriuspy/tests/pwrsupply/psctrl/test_pscreaders.py
  siriuspy/tests/pwrsupply/test_siggen.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Comment out line in pwrsupply.beaglebone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Clean pwrsupply.csdev interface
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Improve pwrsupply module documentation
  siriuspy/siriuspy/pwrsupply/__init__.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp/__init__.py
  siriuspy/siriuspy/pwrsupply/data.py
  siriuspy/siriuspy/pwrsupply/factory.py
  siriuspy/siriuspy/pwrsupply/pructrl/__init__.py
  siriuspy/siriuspy/pwrsupply/psctrl/__init__.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
Owners: @xresende, @anacso17, @murilobalves

DEV.ENH: Improve Device class to return None in case of wrong property definition.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Fix typo
  siriuspy/siriuspy/pwrsupply/data.py
Owners: @xresende, @anacso17, @murilobalves

DEVSOFB.ENH: Improve devices.SOFB to include correctly SinglePass and MultiTurn trajectories.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEV.MNT: change __getitem__ and __setitem__ back to the way they were. Add conditionals in sofb to deal with inexistent properties.
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

cycle.MNT: rename variables, update docs, follow some pylint suggestions and cleanup code
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

UTIL.API: Move get_namedtuple function to mathphys.
  siriuspy/siriuspy/csdev.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/util.py
  siriuspy/tests/test_util.py
Owners: @xresende, @anacso17, @fernandohds564

STY: Fix style of csdev and sofb.csdev modules.
  siriuspy/siriuspy/csdev.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @anacso17, @fernandohds564

cycle.ENH: stores auxiliar cyclers and create get_cycler private method
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.API: change power supplies control methods interface
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Update version number
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

cycle.MNT: fix some timings
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: change trigger state controls Enable triggers after all preparations, only before triggering cycle event.
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Bug fix in device.py for dipoles
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @anacso17, @fernandohds564

Fix PSCONV
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

PSCycle.MNT: change power supplies control methods interface
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

complete fix
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

PSCycle.FIX: fix bug in CycleController.__init__
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix Linac cycling
  siriuspy/siriuspy/cycle/li_cycle_data.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug left in Tming check
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: adapt connectors to new pwrsupply.siggen.Signal API
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: more adaptation to new pwrsupply.siggen.Signal API
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: include missing trims_psnames definition and cleanup code
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: add missing cyclers, if needed
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: add new SI cycle procedure
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: remove SI-Glob:TI-Mags-Corrs of triggers list if cycling SI Fams
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564
