Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ID.ENH: add new Ipe ID to IDSearch and devices
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.MNT: implement pylint suggestions
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ENH: add method that checks if there are curves with difference between first and last points
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

MNT: use constant in Linac PS interlock checks
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MNT: cleanup code, implement pylint suggestions
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

TST: fix tests
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

siriuspy: Include python_requires and long_description
  siriuspy/setup.py
Owners: @xresende, @fernandohds564

Add mathphys to requirements.txt
  requirements.txt
Owners: @xresende, @fernandohds564

siriuspy: Include pypi targets
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

siriuspy: Update Makefile removing specifics about the sirius environment. e.g. python-sirius, pip-sirius etc... Also install and uninstall is done directly via pip.
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

siriuspy: Update Makefile in order to keep the default install procedure.
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

siriuspy: Include Makefile documentation
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

Update README.md
  siriuspy/README.md
Owners: @xresende, @fernandohds564

Makefile: More flexible help parser
  siriuspy/Makefile
Owners: @xresende, @fernandohds564

cycle.ENH: add ID sector correctors to the cycle procedure
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

Includee PyPi deploy
  .travis.yml
Owners: @xresende, @fernandohds564

Using travis.com key
  .travis.yml
Owners: @xresende, @fernandohds564

travis: Run if master or tags
  .travis.yml
Owners: @xresende, @fernandohds564

travis: dlp2
  .travis.yml
Owners: @xresende, @fernandohds564

pypi: Add MANIFEST.in file.
  requirements.txt
  siriuspy/MANIFEST.in
  siriuspy/requirements.txt
  siriuspy/setup.py
Owners: @xresende, @fernandohds564

MNT: remove slow correctors of subsector 09SA
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add RespMatMode PV to control which planes to correct.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add RespMatMode PV to configdb params.
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
Owners: @xresende, @fernandohds564

Update VERSION file to 2.16.0.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.ENH: Make RespMat-RB return the processed response matrix, not a copy of the -SP PV.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix last commit.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix previous commit.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve printing of error messages for debugging.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add PV RespMat-Mon to return processed Respmat.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix source of inconvenient error message in Log-Mon PV:
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove deprecated codes for getting SlowOrb from BPMs.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add PV SlowOrbTimeout-Mon to monitor timeout events in orbit formation.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

PSSearch.ENH: add new methods: conv_dclink_2_psname, get_psname_2_dclink_dict and get_dclink_2_psname_dict
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TST: fix tests for PSSearch
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

BBB.ENH: Add more info to be saved in raw data acquisitions.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

BBB.ENH: Add method to sweep RF phase.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEVRF.BUG: Fix some bugs and change nomenclature from RFLL to LLRF.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

improve bbb code.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

Increase clienteweb default timeout
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/clientweb/implementation.py
Owners: @xresende, @anacso17, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
