Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Add renamed file
  siriuspy/siriuspy/pwrsupply/psbsmpsim.py
Owners: @xresende, @anacso17, @murilobalves

cycle.ENH: adapt cycle package to new PS firmware and IOC versions.
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/bo_cycle_data.py
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add WfmUpdate-Cmd PV to PS IOC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.ENH: adapt ramp package to new PS firmware and IOC versions.
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @fernandohds564, @anacso17

cycle.FIX: fix QS waveform nr. points
  siriuspy/siriuspy/cycle/bo_cycle_data.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve way _timed_out is calculated.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add bpm_enbllist and corrs_enbllist in matrix.
  matrix.py
Owners: @xresende, @fernandohds564

SOFB.API: Do not measure matrix for correctors not selected in enbllist.
  main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix _process_kicks method.
  main.py
Owners: @xresende, @fernandohds564

FIX: waveform and csdevice.pwrsupply tests
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/ramp/test_waveform.py
Owners: @xresende, @fernandohds564

cycle.MNT: add TODO to update trigger names
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

PVSCNF.MNT: Fix some PV names that changed in the IOC.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

Add timestamp functionalities in classes for PS IOCs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.ENH: fix bugs in connectors and add functionality to control several ti events
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.ENH: add methods to get inj and eje times in ti connector
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

TIM.MNT: Remove DelayType pvs from RF timing global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

ramp.FIX: fix TI connector
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Replace WfmData-SP for Wfm-SP in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add WfmUdateAuto(Sel-Sts) to PS IOC classes
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.MNT: cleanup TI connector code
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Fix bug in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Delete unnecessary import
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Fix unittest.
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix timeout to wait for InjectionEvt-Sts in TI connector and change cycle_max_duration accordingly
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: send UpdateEvt-Cmd every time events are configured. Disable Injection in Cycle mode.
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

TIM.ENH: Add new port s to DIO device.
  siriuspy/siriuspy/search/ll_time_search.py
Owners: @xresende, @fernandohds564

cycle.FIX: ensure commands are performed in a correct order
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

psdiag.MNT: add OpMode-Sel pv
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

psdiag.MNT: add OpMode-Sel pv
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

psdiag.MNT: retrieve previous version of opmode check
  siriuspy/siriuspy/epics/psdiag_pv.py
Owners: @xresende, @fernandohds564, @anacso17

Code refactoring
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MA.FIX: fix ts ma correctors service
  as-ma/systemd/sirius-ioc-ts-ma-correctors.service
Owners: @xresende, @fernandohds564

ramp.MNT: change MA connector to perform commands only when readback values are different from desired values. Cleanup code.
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.MNT: add tolerance to check states in TI connector
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @fernandohds564, @anacso17

cycle.FIX: check_final_state method was considering opmode different from slowref as an interlock problem
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Update freqs in QF
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Delete previous temporary changes
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Extend new synchronization of IOC PS to cycle and migwfm
  siriuspy/siriuspy/pwrsupply/controller.py
Owners: @xresende, @anacso17, @murilobalves

Update FAC_2P4S_DCDC spec (BO dipoles)
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Delete debug intentional exception
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves
