Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

search: improve the use of threading.Lock and server online checks
  siriuspy/siriuspy/search/bpms_search.py
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

SEARCH.FIX: lock search before check if class objects were build
  siriuspy/siriuspy/search/bpms_search.py
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Fix bug in PRUController (variable size WfmData)
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Delete stray print statement
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Improve implementation of PRUController WfmData mgmt
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix envars
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

Fix bug introduced in recent commit
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

ramp.conn.FIX: add RmpIncTs property in ConnRF
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Optics.MNT: remove unused import and fix indentation
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

util.MNT: cleanup beam_rigidity function and remove checks of energy less than rest energy
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.ENH: change Waveform and MagnetNormalizer classes to be possible to use waveforms starting from zero currents
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

TIM.FIX: Fix bug in maximum number of pulses.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: Update some conversion names.
  siriuspy/siriuspy/csdevice/linac.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Modify order in PSConvDict so as to use the same ordering as in csconstants
  siriuspy/siriuspy/csdevice/linac.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CONFIGS.MNT: Use Linac new names.
  siriuspy/siriuspy/clientconfigdb/types/as_pwrstate.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add first version of cycle subpackage
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/bo_cycle_data.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: add Linac and remove 'aborted' flag
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/li_cycle_data.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

Change default wfmdata size in various modules
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/ramp/waveform.py
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/ramp/test_waveform.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MEAS.WIP: continue implementing classes.
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

Turn off BSMP curve functions
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

ARCH.ENH: Improve interface with new methods.
  siriuspy/siriuspy/clientarch/fetch.py
  siriuspy/siriuspy/envars.py
Owners: @xresende, @fernandohds564, @anacso17

ARCH.ENH: Rename module and fix __init__.py
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

Delete USE_VACA option in MAEpics (MA IOC)
  siriuspy/siriuspy/pwrsupply/model.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

Update maioc acording to new versin of siriuspy
  as-ma/as_ma/pvs.py
Owners: @xresende, @fernandohds564

Rename pwrsupply/model.py to pwrsupply/maepics.py
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

ramp.ENH: make manames a BoosterNormalized class attribute
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.FIX: invalidade waveforms every time normalized configs are changed
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.FIX: update magnet waveform before consulting currents and strengths
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

Cleanup code in computer_pv
  siriuspy/siriuspy/epics/computed_pv.py
Owners: @xresende, @fernandohds564, @anacso17

Cleanup code in maepics
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

TIM.MNT: remove old, unused, property.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: Do not lock DevEnbl PVs.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: Change nomenclature of Low Level Width an Delay PVs.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Add PSConnStatus PV in MA iocs
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564

Add PSConnStatus PV in MA iocs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/maepics.py
  siriuspy/siriuspy/pwrsupply/sync.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittest of maepics (model)
  siriuspy/tests/pwrsupply/test_maepics.py
  siriuspy/tests/pwrsupply/test_model.py
Owners: @xresende, @fernandohds564

Fix unittest of maepics (model)
  siriuspy/tests/pwrsupply/test_maepics.py
  siriuspy/tests/pwrsupply/test_model.py
Owners: @xresende, @fernandohds564

Update unittest
  siriuspy/tests/pwrsupply/test_maepics.py
Owners: @xresende, @fernandohds564

Remove print statement in MA iocs
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564
