Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

ClientArch.ENH: add timeout to requests in ClientArchiver class
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

ClientArch.ENH: add archiver process data options to requests
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

ClientArch.FIX: handle "Not enough info" return in PVDetails class
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

MNT: change import order, following pylint suggestions
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

ClientArch.ENH: make timeout an object attribute
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

pssfob update: next steps comments
  siriuspy/siriuspy/pwrsupply/tests/test_stress_pwrsupplies.py
Owners: @xresende, @anacso17, @murilobalves

MNT: implement some pylint suggestions
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: add AuxConvRF class
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

MNT: replace epics.PV by siriuspy.epics.PV
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: change RF connector to handle voltage PVs in FPGA units
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

Update comments
  siriuspy/siriuspy/pwrsupply/tests/test_stress_pwrsupplies.py
Owners: @xresende, @anacso17, @murilobalves

ramp.FIX: fix BoosterNormalized __eq__ method
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ENH: add BODipRampFactory
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.MNT: fix bugs in factory test module and add BODipRampFactory
  siriuspy/siriuspy/ramp/test_reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: use scipy least_squares to improve precision of reconstruction
  siriuspy/siriuspy/ramp/reconst_factory.py
  siriuspy/siriuspy/ramp/test_reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: refactor BONormListFactory
  siriuspy/siriuspy/ramp/reconst_factory.py
  siriuspy/siriuspy/ramp/test_reconst_factory.py
Owners: @xresende, @anacso17

SOFB.BUG: Fix TS SOFB removing new correctors.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

DEVEVG.BUG: Fix bug in EVG device creation.
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix call to acquire_mturn_orbit method.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Work around the problem related to `sofb_update_iocs` in PSSOFB.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Update PSSOFB test script
  siriuspy/siriuspy/pwrsupply/tests/test_stress_pwrsupplies.py
Owners: @xresende, @anacso17, @murilobalves

ramp.FIX: fix WaveformDipole setters
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

ramp.ENH: add __str__ method to WaveformDipole
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

ramp.ENH: refactor BODipRampFactory using WaveformDipole
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: add use_config_times and use_straigth_estim options to BONormListFactory
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.ENH: add option to consider only beam interval in BONormListFactory
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.FIX: add missing dipoles in optimized normalized configs in BONormListFactory
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.MNT: update reconstruction factories tests
  siriuspy/siriuspy/ramp/test_reconst_factory.py
Owners: @xresende, @anacso17

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Delete legacy BSMP var groups
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/pructrl/psdevstate.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
Owners: @xresende, @anacso17, @murilobalves

Delete unused WFMREF group definition in bsmp.commands
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Update comments
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

rfdiag.FIX: update pvnames according to new RF Interlock IOC
  siriuspy/siriuspy/diagsys/rfdiag/main.py
Owners: @xresende, @fernandohds564

rfdiag.FIX: fix pvs prefix
  siriuspy/siriuspy/diagsys/rfdiag/main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

posang.MNT: increase timeout of delta check
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.MNT: add Log-Mon updates to log info
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.FIX: fix bugs in NeedRefUpdate-Mon update
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.MNT: increase delta check timeout
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564
