Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix Scope source addresses
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

DEVSCRN.ENH: Add angle property.
  siriuspy/siriuspy/devices/screen.py
Owners: @xresende, @fernandohds564

Add precision to Scope PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix format in precision field
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update limit values ofor Scope PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

CONFIG.BUG: remove PU PwrState and Pulse PVs from global config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CONFIG.BUG: Remove OpMode and Current PVs of BO PS from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CONFIG.BUG: Remove some timing PVs from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CURRINFO.BUG: Limit maximuem TranspEff in 110% to avoid large numbers due to calculation errors.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

CURRINFO.MNT: change precision of LI, TB and TS PVs to be in accordance with other CurrInfos.
  siriuspy/siriuspy/currinfo/csdev.py
Owners: @xresende, @fernandohds564

CURRINFO.BUG: attempt to fix calculation of `InjEff` in SI.
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

DEVTIM.ENH: improve EVG device.
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEVSOFB.BUG: remove SlowOrb property from booster.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: Add `si_calculate_bumps` to SOFB device.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVSCRN.ENH: Add TB, TS and BO entries to `SCreen.DEVICES`.
  siriuspy/siriuspy/devices/screen.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix bug with new Scope PVs
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Update timing.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

chrom.FIX: fix chromaticity measurement
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVSOFB.ENH: Add control of number of singular values.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add Drive Mode to SOFB to measure latency.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: add Drive properties to devices.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: turn off DriveState after finishing successfully.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Only print correction info at each 1000 iterations.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix drive properties initialization.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Update RB PVs.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix condition for drive.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix setter of nrcycles and freq_divisor.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Add REGATRON_DCLink database in csdev
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

currinfo.ENH: add AS-Glob:AP-CurrInfo:InjCount-Mon pv
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TST: fix currinfo tests
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

SOFBDEV.ENH: Add TrigSamplesPre PVs
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

clientarch.ENH: improve Time class
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add new version of ClientArchiver
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

ENH: add aiohttp to requirements
  requirements.txt
Owners: @xresende, @fernandohds564
