Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Update FAC_2P4S_ACDC spec (BO dipoles dclinks)
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update FAP (TB dipoles)
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmpsim.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update FAP_4P (TS dipoles)
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmpsim.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittest
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code refactor of PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Change BeagleBone so at to postpone scanning and processing PRUC BSMP operations
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Add start method to BeagleBone class
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in csdevice.pwrstate
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix bug in csdevice.pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change PS IOC classes
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

ramp.FIX: insert tolerance to magnets checks
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @fernandohds564, @anacso17

Add LLRF PVs to global config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Fix bug in global_config template (no RF PVs were being added)
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Remove deprecated names of RF PVs from global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add units to PMW PS IOC PVs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix exception handling bug in PRUController.execute_function
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Remove PRU data and dunctions from PS IOC classes
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/watcher.py
  siriuspy/tests/pwrsupply/test_controller.py
  siriuspy/tests/pwrsupply/test_watcher.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/pwrsupply/test_controller.py
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @fernandohds564

Refactor PRU classes
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/tests/pwrsupply/test_pru.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Remove BO BSMPComm-Sel PV from global-config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

API: deal with MTurn and MTurnIdx properly
  sofb.py
Owners: @xresende, @fernandohds564

ramp.ENH: change EpicsPropertiesList to return list of failed pvs in set_setpoint_check
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.ENH: Add PV to choose whether to update orbit in MTurn and SinglePass modes only when injecting beam.
  bpms.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Do not reset orbits when changing MTurnIdx.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Update minimum frequency to read orbit and kicks.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix Cycle mode in PS IOCs and get rid of high level ioc threads
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Add PV to control whether to updated orbits only when injecting beam.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: remove unused variable.
  bpms.py
Owners: @xresende, @fernandohds564

Add units to SigGen current PVs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add TODO file
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
  siriuspy/siriuspy/pwrsupply/tests/test-2019-10-03.txt
Owners: @xresende, @anacso17, @murilobalves

Cleanup code in PRUController
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

ramp.MNT: update name of BO correctors trigger in TI connector
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

cycle.MNT: update BO correctors trigger name
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Fix FAP_4P bsmp spec
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Update how groups of bsmp variables are reset in PS IOC classes
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Delete final structs of Ramp PRUC sync mode
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

ramp.MNT: ensure that Linac, InjBO and InjSI event delays are always calculated
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Code cleanup (bsmp mirror variables)
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @anacso17, @murilobalves

Update FAP_4P interlock names and PSupply update_timestamp property
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.FIX: ensure calculated delays are multiples of the Booster revolution period
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17
