Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Replace interlock bit names
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change bsmp curve id 0 of ps to be R/W
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

cycle.ENH: add duration properties to CycleController
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

PM.ENH: add BO EjeKckr and TS EjeSepts services
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-bo-pm-ejekckr.service
  as-ma/systemd/sirius-ioc-ts-pm-ejeseptf.service
  as-ma/systemd/sirius-ioc-ts-pm-ejeseptg.service
Owners: @xresende, @fernandohds564

Fix bug in clienr arch pausePV
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

Ignore regatron ps model in beaglebone class used in PS IOCs
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Improve error message in beaglebone class
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Update test_data files
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-udc.txt
  siriuspy/tests/test_data/servweb/beaglebone/ip-list.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/pwrsupply/bsmp-dclink.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/as-dclink-fbp.txt
Owners: @xresende, @fernandohds564

Update psmodel name for Regatron dclinks.
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

ENH: add PS and MA SI sextupoles services
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sda1b12.service
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sfa0p0-sda0p0.service
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sfa12-sda3p1.service
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sfb0-sdb01.service
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sfb12-sdb3.service
  as-ma/systemd/sirius-ioc-si-ma-sextupoles-sfp12-sdp23.service
Owners: @xresende, @fernandohds564

PSDiag.ENH: update DiagStatus PV
  siriuspy/siriuspy/csdevice/psdiag.py
  siriuspy/siriuspy/epics/psdiag_pv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PSDiag.ENH: update DiagStatus PV
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDiag.ENH: update DiagStatus PV
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

BUG: Fix diff from master.
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

ENH.SOFB: Add auto corrections for other modes than SLowOrb.
  main.py
Owners: @xresende, @fernandohds564

ENH: Add auto correction for other modes than SlowOrb.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

BUG: MTurnTime vector was not being updated properly.
  orbit.py
Owners: @xresende, @fernandohds564

BUG.SOFB: fix status for TLs.
  correctors.py
Owners: @xresende, @fernandohds564

Fix bug in BeagleBone class (print Freqs)
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

ENH.TIM: Improve create_static_table method adding logger configs to it.
  siriuspy/siriuspy/timesys/static_table.py
Owners: @fernandohds564, @xresende

Remove siriusdm
  README.md
  siriusdm/INSTALL
  siriusdm/LICENSE
  siriusdm/VERSION
  siriusdm/examples/.ipynb_checkpoints/ControllerSim-checkpoint.ipynb
  siriusdm/examples/.ipynb_checkpoints/ControllerVACA-checkpoint.ipynb
  siriusdm/examples/ControllerSim.ipynb
  siriusdm/examples/ControllerVACA.ipynb
  siriusdm/setup.py
  siriusdm/siriusdm/VERSION
  siriusdm/siriusdm/__init__.py
  siriusdm/siriusdm/designer_plugin.py
Owners: @xresende, @fernandohds564

Fix bug in device to IP function
  siriuspy/siriuspy/csdevice/util.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.MNT: Update ll_time_search to handle new names in timing-devices-connection table.
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/timesys/static_table.py
  siriuspy/tests/test_data/servweb/timesys/timing-devices-connection.txt
Owners: @xresende, @fernandohds564

TIM.ENH: Change name of EVG.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/tests/test_data/servweb/timesys/timing-devices-connection.txt
Owners: @xresende, @fernandohds564

TIM.ENH: Create method in LLTimeSearch to get the EVG name.
  siriuspy/siriuspy/csdevice/orbitcorr.py
  siriuspy/siriuspy/search/ll_time_search.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PVSCONF.ENH: remove pvs which close feedback loops in LI LLRF from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

TIM.BUG: Fix tests.
  siriuspy/tests/search/test_ll_time_search.py
Owners: @xresende, @fernandohds564

CYCLE.MNT: Change Timing connection class to get EVG name from LLTimeSearch.
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

TIM.API: remove method get_evg_name from timesys.
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/timesys/__init__.py
  siriuspy/siriuspy/timesys/ll_classes.py
  siriuspy/tests/timesys/test_init.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.MNT: stop using method get_evg_name from timesys and use from LLimeSearch.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TIM.MNT: stop using method get_evg_name from timesys and use from LLimeSearch.
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

Code cleanup of pwrsupply
  siriuspy/siriuspy/pwrsupply/bbbtests.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/factorymodel.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/pwrsupply/test_watcher.py
Owners: @xresende, @fernandohds564

Rename PRUCParms classes
  siriuspy/siriuspy/pwrsupply/factorymodel.py
  siriuspy/tests/pwrsupply/test_watcher.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Code cleanup in PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Move PRUCParms from factorymodel.py to new factoryprucparms
  siriuspy/siriuspy/pwrsupply/factorymodel.py
  siriuspy/siriuspy/pwrsupply/factoryprucparms.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/tests/pwrsupply/test_watcher.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

PM.FIX: fix units of pulsed magnets voltage PVs
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

TIM.UPT: update possible values of Events Modes.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.ENH: Add functionality to get the HL trigger associated with ll channel.
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/tests/search/test_hl_time_search.py
Owners: @xresende, @fernandohds564

TIM.BUG: Fix tests.
  siriuspy/tests/test_data/servweb/timesys/high-level-triggers.py
  siriuspy/tests/test_data/servweb/timesys/timing-devices-connection.txt
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
