Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

SOFB.MNT: Change RF_GEN_NAME.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/siriuspy/timesys/plot_network.py
Owners: @fernandohds564, @xresende

Standardize throwaway comment.
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Add simul subpackage and update Devices to use simulators
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/syncd.py
  siriuspy/siriuspy/simul/__init__.py
  siriuspy/siriuspy/simul/sim.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

Improve simul classes
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

Improve PVSim
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

namesys: fix strip to return SiriusPVname object, not str.
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

Fix SiriusPVName.substitute
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

Fix unittest.
  siriuspy/tests/namesys/test_implementation.py
Owners: @xresende, @fernandohds564

Code cleanup in namesys
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

Improve simul subpackage
  siriuspy/siriuspy/simul/__init__.py
  siriuspy/siriuspy/simul/sim.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

Fix SimPV name in device.py
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Fix SimPV
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

SiriusPVName: add replace method
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

Fix simps and simpv to use SiriusPVName.replace
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
Owners: @xresende, @fernandohds564

Improve simul
  siriuspy/siriuspy/simul/sim.py
  siriuspy/siriuspy/simul/simps.py
Owners: @xresende, @fernandohds564

New simul implementation
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/devices/pwrsupply.py
  siriuspy/siriuspy/devices/syncd.py
  siriuspy/siriuspy/simul/__init__.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/namesys/test_implementation.py
Owners: @xresende, @fernandohds564

Code cleanup
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

UTIL.BUG: Fix tests.
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

UTIL.STY: Fix style in util test file.
  siriuspy/tests/test_util.py
Owners: @xresende, @fernandohds564

TST: fix tests
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/opticscorr.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/posang/utils.py
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/optics/__init__.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_opticscorr.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

MNT: change opticscorr and posang config name handling and fix respective tests
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/siriuspy/posang/main.py
  siriuspy/siriuspy/posang/utils.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

opticscorr.MNT: change to use dicts instead fo lists
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/tests/opticscorr/tune/test_main.py
Owners: @xresende, @fernandohds564

TST: fix currinfo, posang and opticscorr tests
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/tests/currinfo/test_main.py
  siriuspy/tests/opticscorr/chrom/test_main.py
  siriuspy/tests/opticscorr/tune/test_main.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

MNT: change utils according to @fernandohds564 suggestions
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/siriuspy/posang/utils.py
Owners: @xresende, @fernandohds564

STY: Standardize use of PUB_INTERFACE across test files.
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/devices/test_psconv.py
  siriuspy/tests/opticscorr/test_csdev.py
  siriuspy/tests/posang/test_csdev.py
  siriuspy/tests/pwrsupply/test_csdev.py
  siriuspy/tests/pwrsupply/test_pru.py
  siriuspy/tests/ramp/test_waveform.py
  siriuspy/tests/test_csdev.py
  siriuspy/tests/test_envars.py
  siriuspy/tests/timesys/test_csdev.py
Owners: @xresende, @fernandohds564

Change throwaway code
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Replace replace for substitute or substitute replace for substitute
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Replace default infinite conn timeout of ClientConfigDB to 2s
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

configdb.ENH: Differentiates connection errors from other exceptions
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

configdb.MNT: cleanup: raise same exception in _make_request
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

Improve simul classes and update device class
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

Improve simul code doc, variable names.
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simpv.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

Improve variable naming in devices and simul subpackages.
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/simul/simulation.py
Owners: @xresende, @fernandohds564

Add SimFactory and SimPUTypeModel
  siriuspy/siriuspy/simul/__init__.py
  siriuspy/siriuspy/simul/simfactory.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

Add strength to pssofb devices
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Fix bugs and improve simu classes
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/simul/__init__.py
  siriuspy/siriuspy/simul/simpv.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564

Fix bugs in pssofb _get_kick
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Improve simulator and simulation classes.
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/simul/simfactory.py
  siriuspy/siriuspy/simul/simps.py
  siriuspy/siriuspy/simul/simulation.py
  siriuspy/siriuspy/simul/simulator.py
Owners: @xresende, @fernandohds564
