Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: remove debug events in PSSOFB.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

DEVORBINTLK.ENH: Add first version of orbit interlock device. Still needs work.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/orbit_interlock.py
Owners: @xresende, @fernandohds564

DEVBPMINTLK.STY: Fiz typo in comment.
  siriuspy/siriuspy/devices/orbit_interlock.py
Owners: @xresende, @fernandohds564

TIM.MNT: Update timing equipment conversion names.
  siriuspy/siriuspy/timesys/static_table.py
Owners: @fernandohds564, @xresende

Update VERSION file to 2.30.0
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Remove deprecated arg default value in PSBSMP class init
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Remove deprecated arg default value in PSBSMP-derived classes init
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

bsmp: Rename 'BSMP' parameter 'pru'->'iointerf'
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

pwrsupply: extracted read/write ps name methods from parameter read/write
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

DEVBPM.ENH: add RFFEAtt to list of properties.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: improve device.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: Add first version of TuneTrracking.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

clientarch.ENH: add pvnames property to PVDataSet
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.FIX: fix bug in PVData.is_archived
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

clientarch.ENH: change ClientArchiver.getData to return None values only for empty query responses
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

clientarch.FIX: fix ClientArchiver.getData for queries with multiple PVs and process_type option selected
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

CLTARCH.ENH: Add Orbit class based on PVDataSet.
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

CLTARCH.ENH: return a copy of _pvnames and increase bin_interval for parallel requests.
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

CLTARC.ENH: Create classes to get Orbit, Correctors strength and TrimsQuad from archiver.
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

CLTARC.MNT: Return default value of _parallel_query_bin_interval to 12h.
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

DEVBBB.ENH: Add missing PVs and devices.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update README.md
  README.md
Owners: @xresende, @fernandohds564

devices.ENH: add first version of Trigger device
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.ENH: improve Trigger device
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEV.EGUN.ENH: Add Egun Trigger PS device
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

DEV.ENH: Include new Egun device in __init__
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

DEV.BBB.ENH: Add properties to BbB Single Bunch device
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

DEV.PU.ENH: Add wait method in commands for PU devices
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

chromcorr.FIX: fix bug in chromaticity measure
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

devices.MNT: fix some style issues
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/lillrf.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

devices.ENH: add new properties to LILLRF
  siriuspy/siriuspy/devices/lillrf.py
Owners: @xresende, @fernandohds564

devices.ENH: add new properties to PowerSupply device
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

devices.FIX: fix some methods of PowerSupplyPU device
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

devices.ENH: add new properties to ASLLRF device
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

devices.ENH: use siriuspy.timesys constant in Event device
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.ENH: add auxiliary methods to Devices base class to set/wait a set of device properties
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

devices.ENH: add first version of Injection System Standby Handlers
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

DEVBASE.MNT: simplify code from `_wait_devices_propty`.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

DEVBASE.MNT: Simplify code in `_wait_devices_propty` function.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
