Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SICurrInfo.FIX: fix bugs in SI Charge and SI Lifetime
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

MAG.ENH: Create class to connect with sextupoles magnets.
  magnets.py
Owners: @xresende, @fernandohds564

MAG.STY: improve code readability.
  magnets.py
Owners: @xresende, @fernandohds564

PML.ENH: Improve sofb controls.
  sofb.py
Owners: @xresende, @fernandohds564

Remove unused symbol in siriuspy.__init__.py
  siriuspy/siriuspy/__init__.py
Owners: @xresende, @anacso17, @fernandohds564

Remove unnecessary Computer class
  siriuspy/siriuspy/computer.py
  siriuspy/siriuspy/epics/psdiag_pv.py
  siriuspy/tests/test_computer.py
Owners: @xresende, @anacso17, @fernandohds564

Update repo with new siriuspy.envars
  as_ap_currinfo/lifetime/pvs.py
  as_ap_currinfo/pvs.py
Owners: @xresende, @fernandohds564

Update repo with new siriuspy.envars
  as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

Update repo with new siriuspy.envars
  as_ap_opticscorr/chrom/pvs.py
  as_ap_opticscorr/tune/pvs.py
Owners: @xresende, @fernandohds564

Update repo with new siriuspy.envars
  bpms.py
  correctors.py
Owners: @xresende, @fernandohds564

Update repo with new siriuspy.envars
  as-ap-currinfo/as_ap_currinfo/lifetime/pvs.py
  as-ap-currinfo/as_ap_currinfo/pvs.py
  as-ap-opticscorr/as_ap_opticscorr/chrom/pvs.py
  as-ap-opticscorr/as_ap_opticscorr/tune/pvs.py
  as-ap-posang/as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

Cleanup siriuspy.envars
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/diagnostics/bpms/ioc.py
  siriuspy/siriuspy/envars.py
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/pwrsupply/psconv.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/timesys/ll_classes.py
  siriuspy/siriuspy/util.py
  siriuspy/tests/clientweb/test_implementation.py
  siriuspy/tests/test_envars.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update epics modules
  siriuspy/siriuspy/diagnostics/bpms/bpm_plugins.py
  siriuspy/siriuspy/epics/psdiag_pv.py
  siriuspy/siriuspy/epics/pv_fake.py
  siriuspy/siriuspy/epics/pv_psdiag.py
Owners: @fernandohds564, @xresende, @anacso17

Update as_ps_diag
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

Update as_ps_diag
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

PMLMAGS.BUG: Fix magnets import in __init__ file.
  __init__.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Improve printing of info.
  main.py
  matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix PV database definitions in csdevice.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

VER: Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: Fix unit in DeltaKick PVs.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update linac PS ioc PV names
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Fix PU kick conversion
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add note in csdevice pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Move sinap2sirius linac PS table to PSSearch
  siriuspy/siriuspy/csdevice/linac.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add sinap to/from sirius PS name convertion methods in PSSearch
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

PML.BUG: Increase initial waiting time in wait method from SOFB.
  sofb.py
Owners: @xresende, @fernandohds564

Fix unittest with ps_search
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

Fix bug introduced in previous commit
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Update version.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Improve code in ps_search and ma_search
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

Standardize interlock bit labels of LI PS
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Clean up normalizer code.
  siriuspy/siriuspy/factory.py
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17, @fernandohds564

Update strength PV precision values.
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Remove unused normalizers in SConvEpics
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Add linac PS strength converter
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/magnet/util.py
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add li-ps-conv in csdevice,pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

BORMP.ENH: Fix ramp to handle new timing configurations.
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
