Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Use PS instead of MA.
  correctors.py
Owners: @xresende, @fernandohds564

CHROM.ENH: Use PS instead of MA.
  as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.ENH: Use PS instead of MA.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.BUG: Fix some property names.
  as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.BUG: Fix some property names.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

TUNE.ENH: USe PS instead of MA.
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TUNE.ENH: USe PS instead of MA.
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

PSDIAG.ENH: Use PS instead of MA.
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDIAG.ENH: Use PS instead of MA.
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

POSANG.ENH: Use PS instead of MA.
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

POSANG.ENH: Use PS instead of MA.
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

TUNE.BUG: Bug fixes and style changes.
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TUNE.BUG: Bug fixes and style changes.
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

POSANG.STY: Change style of line breaking.
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

POSANG.STY: Change style of line breaking.
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in matrix measurement.
  main.py
Owners: @xresende, @fernandohds564

PSDIAG.STY: Change style of line breaking.
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDIAG.STY: Change style of line breaking.
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

CHROM.BUG: Revision of MA to PS changes.
  as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.BUG: Revision of MA to PS changes.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

TUNE.BUG: Revision of MA to PS changes.
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TUNE.BUG: Revision of MA to PS changes.
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

POSANG.ENH: Use PS instead of MA.
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

OPTCORR.ENH: Use PS instead of MA.
  siriuspy/siriuspy/csdevice/opticscorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Fix value property in septum.
  correctors.py
Owners: @xresende, @fernandohds564

ramp.ENH: add BONormFactory.
  siriuspy/siriuspy/ramp/norm_factory.py
  siriuspy/siriuspy/ramp/test_norm_factory.py
Owners: @xresende, @anacso17

ramp.ENH: define BoosterNormalized.__eq__
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

CONF.ENH: Change configurations to use PS instead of MA.
  siriuspy/siriuspy/clientconfigdb/types/bo_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/bo_normalized.py
  siriuspy/siriuspy/clientconfigdb/types/bo_tunecorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/si_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/tb_normalized.py
  siriuspy/siriuspy/clientconfigdb/types/tb_posang_respm.py
  siriuspy/siriuspy/clientconfigdb/types/ts_posang_respm.py
Owners: @xresende, @fernandohds564

PSDATA.MNT: fix bug in comment in PSData.
  siriuspy/siriuspy/pwrsupply/data.py
Owners: @xresende, @anacso17, @murilobalves

PSSEARCH.ENH: Add method to convert psname to splims.
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

RAMP.ENH: Start changing Ramp to use PS instead of MA.
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

CHROM.ENH: Remove Normalizers and connect direct to PS SL
  as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.ENH: Remove Normalizers and connect direct to PS SL
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

TUNE.ENH: Remove Normalizers and connect direct to PS KL
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TUNE.ENH: Remove Normalizers and connect direct to PS KL
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

PSDIAG.BUG: fix bug in connected creation.
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDIAG.BUG: fix bug in connected creation.
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

POSANG.ENH: Remove Normalizers and connect direct to PS Kick
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

POSANG.ENH: Remove Normalizers and connect direct to PS Kick
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

Update travis config file
  .travis.yml
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
