Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

cycle.MNT: remove duplicated commands to remove Linac PS in OpMode setpoints and checks
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: refactor check_pwrsupplies_finalsts
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: improve logging
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: use timeout of 0.1s per PV in wait_for_connection
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Make sure loop will be opened in case of corrector saturation.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

CLTCONFDB.ENH: Add Tune PVs to as_diagnostics template.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CLTCONFDB.BUG: Remove -Cmd PVs from template.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

Create SOFBUpdate-Cmd PVs in PSConnSOFB at init
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

MEASMNC.ENH: Add bump calculation.
  siriuspy/siriuspy/meas/csdev.py
  siriuspy/siriuspy/meas/lienergy/csdev.py
  siriuspy/siriuspy/meas/manaca/csdev.py
  siriuspy/siriuspy/meas/manaca/main.py
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

MEAS.BUG: Fix suffix of ReadingOrder.
  siriuspy/siriuspy/meas/csdev.py
Owners: @xresende, @fernandohds564

MEASMNC.BUG: Fix SOFBBump calculation.
  siriuspy/siriuspy/meas/manaca/csdev.py
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix LinacPSCycler
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix config_pwrsupplies
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: reduce timeout to check opmode and current
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: reduce timeout in check_pwrsupplies
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.WIP: test substitute PV.get() by PV.value
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.WIP: test logging checks after
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: substitute PV.get() by PV.value
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.MNT: increase timeouts
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

TI.BUG: Try to fix bug in timing.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TI.BUG: Fix bug introduced in last commit.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TI.BUG: one more.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TI.BUG: fix print.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

MEASLIEN.MNT: Add ImgFlip PVs to IOC.
  siriuspy/siriuspy/meas/lienergy/csdev.py
  siriuspy/siriuspy/meas/lienergy/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bugs in check methods (thanks @fernandohds564!)
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: cleanup pv_timed_get and implement @fernandohds564 suggestions
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: do not use threads to set PS currents to zero
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug introduced in pv_timed_get
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

CURRINFO.API: remove TB currinfo class.
  siriuspy/siriuspy/currinfo/__init__.py
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

Move SI and BO RF PVs from global_config to as_rf
  siriuspy/siriuspy/clientconfigdb/types/as_rf.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Print name of disconnected BPM.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

Move SI and BO RF Pvs from global_config to as_rf
  siriuspy/siriuspy/clientconfigdb/types/as_rf.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Fix global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CONF.MNT: Comment out StrkCam triggers from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Step back and use numpy.dot for kicks calculation.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in pid gain setting.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Always use PID in auto correction.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.API: Change name of DeltaFactor to ManCorrGain.
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

ENH: add new Ema ID to devices
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Small performance improvements in get_orbit method.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564
