Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

IDSearch.ENH: change to use beamline <-> id relation
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

Add auto_mon option to other Device subclasses
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/psconv.py
  siriuspy/siriuspy/devices/syncd.py
Owners: @xresende, @fernandohds564

Add IDFFWDCalc to magnet
  siriuspy/siriuspy/magnet/idffwd.py
Owners: @xresende, @anacso17

Refactor ID devices
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/search/ma_search.py
Owners: @xresende, @fernandohds564

Fix unittest and bug in IDCorrectors
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Fix bugs in APUFeedForward
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Code clenup
  siriuspy/siriuspy/magnet/idffwd.py
Owners: @xresende, @anacso17

Update magnet.idffwd
  siriuspy/siriuspy/magnet/idffwd.py
Owners: @xresende, @anacso17

Refactoring IDFeedForward class
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/magnet/idffwd.py
Owners: @xresende, @fernandohds564, @anacso17

Code cleanup
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.ENH: add string in log indicating kicks were calculated.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Adjust initial values of matrix measurement delta kicks.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix delay in correcting with RF with small kicks.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.API: Remove MaxKickRF PV from SOFB.
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.STY: Fix style errors.
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Marginal speed improvement.
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

update VERSION file to 2.5.0
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Ad NOTE in id_search
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

Add auto_mon option to psconv Devices
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Improve NOTE in psconv
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

Finish first complete version of APUFeedforward device
  siriuspy/siriuspy/devices/ids.py
  siriuspy/siriuspy/magnet/idffwd.py
Owners: @xresende, @fernandohds564, @anacso17

Refactor devices in ids
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Code cleanup
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update APU device
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Add PhaseSpeed to APU device
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Fix missing comma in APU device
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Implement kick -> current conv in PSApplySOFB
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Add wait_move method to APU device
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Fix typo bug in PSApplySOFB
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Update wait_move in APU device
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Improve PSSOFB classes
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Fix bug in PSApplySOFB device
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Fix bug in PSApplySOFB device
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

PVSCONF.ENH: Add TS screens and Vlight PVs to as_diagnostics.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

Add auto_mon option to PSSOFB devices
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

SOFB.MNT: print elapsed time of loop correction in `log.info` instead of `log.debug`.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.STY: Fix some style errors.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix `correctors.timed_out` method.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
