Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

cycle.WIP: test move trims configuration to cycle_all_trims
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug left in last commit
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in cycle trims task size definition
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: add logger property
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix trigger configurations
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix cycle_all_trims timings
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug left in last commit
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Fix psdiag
  siriuspy/siriuspy/psdiag/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: change CycleEnbl check to 9-10s after trigger
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: separate setting OpMode to SlowRef from final state checks
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: adapt connectors to new pwrsupply.siggen.Signal API
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in LI cycle waveforms
  siriuspy/siriuspy/cycle/li_cycle_data.py
Owners: @xresende, @fernandohds564

cycle.ENH: create cyclers and timing properties in CycleController
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: change to cycle CV-2 of subsectors C2 with SI families
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in trims_psnames
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bugs in CVs of subsectors C2 preparation
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: add 'finished' message to cycle_all_trims
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: configure CV of subsectors C2 parameters after cycling trims
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug left in last commit
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: do not prepare CV of subsector C2 parameters before cycling trims
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: use get_cycler instead consulting aux_cyclers dict
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: move trims CycleEnbl check to 14-15s
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in prepare OpMode
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix LI cycle
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: increase triggers state check timeout
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: in case of problems in trims cycle, set power supplies to SlowRef
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Fix meas.csdev and meas.util
  siriuspy/siriuspy/meas/csdev.py
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SiriusPVTimeSerie.FIX: fix bug in acquire
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

posang.FIX: fix bug in updating delta kicks
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

poasng.FIX: initialize correctly Status and RefKL pvs
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

opticscorr.FIX: initialize Status and RefKL pvs correctly
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

ChromCorr.FIX: specify field info to update limits in process
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

ChromCorr.FIX: fix bug in estimating chrom
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

OpticsCorr.FIX: fix optics parameter PVs initialization
  siriuspy/siriuspy/opticscorr/base.py
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: subsitute get item index in loops by enumerate
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

TuneCorr.FIX: fix update_ref
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

Add PV 'RF-Gen:GeneralFreq-SP' to configdb type global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Code standardization
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
