Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Use Class `PSApplySOFB` in autocorrection mode to improve speed.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

posang.ENH: update TS config to consider 4 CVs
  siriuspy/siriuspy/clientconfigdb/types/tb_posang_respm.py
  siriuspy/siriuspy/clientconfigdb/types/ts_posang_respm.py
Owners: @xresende, @fernandohds564

posang.STY: fix some style errors
  siriuspy/siriuspy/posang/csdev.py
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.MNT: use pwrsupply.csdev.Const
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.ENH: generalize code in update_delta
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

posang.ENH: change TS IOC to use 4 CVs in vertical correction
  siriuspy/siriuspy/posang/csdev.py
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

SiriusPVName.FIX: fix subsection comparison
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

SOFB.MNT: Add `auto_mon=True` option fo `PSApplySOFB` instance.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Usa SOFB objet as primary source of CH and CV psnames lists
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Replace np.isclose and math.isclose with functions that do exaxt single-precision float comparisons
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
  siriuspy/siriuspy/cycle/util.py
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @fernandohds564, @anacso17

Refactor PSSOFB to avoid circular import from SOFB
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Avoid setting None value to RF when using PSApplySOFB.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Fix bug with PSSOFB that is triggered when PSs respond with errors
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Revert benchmark-pssofb script to previous version
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

posang.FIX: fix delta type
  siriuspy/siriuspy/posang/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Increase max update rate of orbit to 30Hz.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Add benchmark pssofb script update
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

DEVPSSOFB.BUG: Import PS names from sofb.csdev package.
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

CONF.MNT: change PU setpoints order in global_config and remove delay
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update benchmark script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

ChromCorr.ENH: add option to set deltas based on implemented values
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/csdev.py
Owners: @xresende, @fernandohds564

ChromCorr.ENH: add calculated chromaticity estimative PVs
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/csdev.py
Owners: @xresende, @fernandohds564

TST: fix ChromCorr tests
  siriuspy/tests/opticscorr/test_chrom.py
  siriuspy/tests/opticscorr/test_csdev.py
Owners: @xresende, @fernandohds564

Fix typo
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Change how SOFB signals not to use corrs in kicks and fix bugs in pssofb
  siriuspy/siriuspy/devices/pssofb.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

DEVPSSOFB.BUG: Fix `current` setter method.
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Update
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update benchmark script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

DEVPSSOFB.MNT: Substitute `np.array` by `np.asarray`.
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Update script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Improve loging info of arrays writes in bace_class.
  siriuspy/siriuspy/sofb/base_class.py
Owners: @xresende, @fernandohds564

Update benchmarking script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Update
  siriuspy/siriuspy/devices/pssofb.py
Owners: @xresende, @fernandohds564

Update
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: change default of `PolyCalibration` to `Enbld`
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: get kicks properly in auto_corr loop.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix RF comparison for ready and applied kicks.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
