Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

cycle.ENH: move the trim cycle parameter setting to the prepare_pwrsupplies_parameters step. This is possible now that the new PS firmware makes siggen parameters independent (yay)
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: refactor CycleController __init__ and properties
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: remove ID correctors
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: do not enable trim triggers in cycle step. Improve log message. Cleanup code.
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: separate trims and auxiliar cyclers creation
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: cycle CV-2 of C2 with CV trims. This is now possible with the new PS firmware (yay).
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Fix bug in PSSOFB new func_return
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug with different int sizes in PSSOFB
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix pssofb method in commands.FBP
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Update sofb2bsmp script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Add checks of function return value to check_pssofb.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.API: Fix __init__ to avoid recursive imports.
  siriuspy/siriuspy/sofb/__init__.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix thread initialization in matrix module.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in error print message.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix bug in compare_kicks.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in auto_corr thread start.
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug with corr delay setting.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Comment dkicks update.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

Improve BSMP entities load_to_value conversions
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
Owners: @xresende, @anacso17, @murilobalves

Delete option of NaN values in SOFB current setpoint
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Stop converting numpy to tuple in PSConnSOFB current setpoints
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix bsmp.entities
  siriuspy/siriuspy/bsmp/entities.py
Owners: @xresende, @anacso17

SOFB.MNT: Perform kicks calculation with einstein summation method from numpy.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove CorrDelay PV from interface.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove DelayRaw from ok_values in timing object.
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Do not include correctors timeout in difference statistic.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug of last commit.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Add missing PV-bsmpvar link for FAC_2P4S
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Add yet another missing PV-bsmpvar connection for FAC_2P4S_ACDC
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: change order of printing in auto_corr loop.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

cycle.STY: implement some pylint suggestions
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix limits of AutoCorrFreq.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

SOFB.MNT: improve way of waiting for orbits in pssofb auto correction mode.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

TUNE.ENH: Add TuneCorr class in Tune device
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add TuneCorr in init
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Add error info in case corrector has problema in pssofb.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/bsmp/test_serial.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Possible bug fix for open loop.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

cycle.ENH: add method to save current TI status as initial state and make restore TI initial state action a separated step
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: remove unused method
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
