Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Fix problem with wfmdata sp/rb when changing ps mode
  siriuspy/siriuspy/pwrsupply/controller.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: Improve CPU Usage.
  bpms.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix small bug.
  orbit.py
Owners: @xresende, @fernandohds564

Remove ramp of ramp in PS iocs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
  siriuspy/siriuspy/pwrsupply/pruc_ramp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Change default values of some PVs.
  bpms.py
  correctors.py
  main.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Change the default values of some PVs.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Implement method to get maximum number of singular values allowed.
  matrix.py
Owners: @xresende, @fernandohds564

SERVCONF.ENH: Add some AMCFPGAEVR PVs to diagnostics configuration.
  siriuspy/siriuspy/servconf/types/as_diagnostics.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.ENH: Improve BPM status checking.
  bpms.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Facilitate mode change in SOFB.
  orbit.py
Owners: @xresende, @fernandohds564

BPM.MNT: Add option to acquisition
  siriuspy/siriuspy/csdevice/bpms.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/pwrsupply/test_controller.py
Owners: @xresende, @fernandohds564

Generalize PRUCQueue and move it to thread.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Change PRUC mode changes in ioc ps
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
Owners: @xresende, @anacso17, @murilobalves

Implement suggestions in PR review
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Updates
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/pwrsupply/test_controller.py
Owners: @xresende, @fernandohds564

Move OpMode-Sel to first PV in global_config
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

Update beaglebone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

THREAD.BUG: Fix variable name.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.STY: style changes suggestions.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Make _lock an object attribute.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Generalize DequeThread to also accept kwargs.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Add return values to append method of DequeThread.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: raise TypeError when operation is not callable in thread classes.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Improve error messages of raised errors.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Insert PwrState-Sel back into original order in global_config template
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

Create as_pwrstate_on configuration type
  siriuspy/siriuspy/servconf/types/as_pwrstate_on.py
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

Rename pwrstate config type
  siriuspy/siriuspy/servconf/types/as_pwrstate.py
Owners: @xresende, @anacso17, @fernandohds564

Code cleanup
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in ps ioc affecting readout of bsmp vars of dclinks with high bsmp ids
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Add back import deepcopy into prucontroller.
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

EpicsPropertyList: improve set_setpoints_check method
  siriuspy/siriuspy/epics/properties.py
Owners: @xresende, @fernandohds564, @anacso17

SiriusPVName: Fix bug in join_name method
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

ramp.conn: Fix bug in ConnSOFB
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.conn: replace hardcoded constants with timing csdevice trigger data.
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.conn: fix delays and duration units
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.conn: remove RmpReady property
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

bo_normalized: add new version, with field 'pvs'
  siriuspy/siriuspy/servconf/types/bo_normalized.py
Owners: @xresende, @anacso17, @fernandohds564
