Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Init add servarch
  siriuspy/siriuspy/envars.py
  siriuspy/siriuspy/servarch/__init__.py
  siriuspy/siriuspy/servarch/timestamp.py
  siriuspy/tests/test_envars.py
Owners: @xresende, @anacso17, @fernandohds564

Update TimeStamp
  siriuspy/siriuspy/servarch/timestamp.py
Owners: @xresende, @fernandohds564

Add sync_start option in PRUController commented out
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

MEAS.WIP: Continue implementing the classes.
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

THREAD.ENH: Add pause option to repeater thread.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.MNT: Remove ByPassIntlk option from devices where it does not apply.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.DEP: Remove deprecated methods to get pv names.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Cleanup PRUController code
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Remove addition of fluctuation to ps readout in PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

TIM.BUG: Fix max recursive call of lock_thread. Now instead of calling itself, a loop was implemented when setting the PV.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.STY: Remove comments related to use of QueueThread.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: Derive thread class do set daemon=True as default.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

MEAS.ENH: create epics interface for classes.
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

THREAD.ENH: Add alias for unpause.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Add methods to check if thread is paused.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.ENH: Improve relation between pause and stop calls.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

THREAD.API: Make stopped a hidden attribute.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Update firmware default version in pwrsupply.bsmp
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add try/exception/note to circumvent problem when changing from SlowRef to RmpWfm
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: improve initialization speed.
  base_class.py
Owners: @xresende, @fernandohds564

MEAS.WIP: code is broken
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

Fix magnet factory for linac ps
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/magnet/data.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PSLI.BUG: fix tests.
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

PSLI.MNT: Change order of function definitions in pwrsupply module.
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add freq control for UDC (just as for BBB)
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/fields.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in fac-2p4s-dcdc bsmp variable group def
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Add bsmp vars Arm1/2 to SYNCOFF group for FAC_2P4S
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in MA IOC (log.info)
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564

Add log.info in as_ma
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564

Fix bug in computed_pv
  siriuspy/siriuspy/epics/computed_pv.py
Owners: @xresende, @fernandohds564, @anacso17

Fix typo
  siriuspy/siriuspy/epics/computed_pv.py
Owners: @xresende, @fernandohds564, @anacso17

Add units to dclink properties
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Substitute hardcoded const in functions.py
  siriuspy/siriuspy/pwrsupply/functions.py
Owners: @xresende, @anacso17, @murilobalves

Add TODO note
  siriuspy/siriuspy/epics/computed_pv.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.ENH: Remove Timing PVs from SOFB IOC.
  siriuspy/siriuspy/csdevice/orbitcorr.py
  siriuspy/siriuspy/servconf/types/as_ap_params.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Remove Timing PVs from SOFB IOC.
  bpms.py
  orbit.py
Owners: @xresende, @fernandohds564

EPICS.ENH: Create pv module with PV class and start using it in Timing IOC.
  siriuspy/siriuspy/epics/__init__.py
  siriuspy/siriuspy/epics/pv.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.MNT: Start Using PV class from siriuspy.
  bpms.py
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add protection in threads and fix bug when setting average turns in SPass mode.
  correctors.py
  orbit.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
