Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.BUG: Fix tests properly this time.
  siriuspy/tests/mock_servweb.py
  siriuspy/tests/test_data/servweb/diagnostics/bpms-data.txt
Owners: @xresende, @fernandohds564

Add PU pvs in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

BUG: Fix events modes since LL was not updated yet.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CONF.BUG: Remove pvs which enable external trigger and integral of LLRF from global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add method getPausedPVsReport to clientarch
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

Update pwrsupply.bsmp: add wfmref curve read and write
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/bsmp/types.py
Owners: @xresende, @anacso17

Update bsmp function in pwrsupply.bsmp
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/fields.py
Owners: @xresende, @anacso17, @murilobalves

Update factorymodel with new wfmref pvs
  siriuspy/siriuspy/pwrsupply/factorymodel.py
Owners: @xresende, @anacso17, @murilobalves

Add wfmref curve read/update/write methods to PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Add wfmref PVs to csdevice (commented)
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Create FactoryPSBSMP and add wfmref functions to PSBSMP
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup in factorymodel.py
  siriuspy/siriuspy/pwrsupply/factorymodel.py
Owners: @xresende, @anacso17, @murilobalves

Refactor class UDC
  siriuspy/siriuspy/pwrsupply/factoryprucparms.py
Owners: @xresende, @anacso17, @murilobalves

Update PRUController to new PSBSMP class with wfmref
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

new diffs
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/exceptions.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Pwrsupply code refactoring
  siriuspy/siriuspy/pwrsupply/bbbtests.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/udc.py
  siriuspy/tests/pwrsupply/test_watcher.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Update docstrings in pwrsuplly classes
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Rename BSMP functions in bsmp subpackage
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/tests/bsmp/test_bsmp.py
  siriuspy/tests/bsmp/test_commands.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Cleanup code in bsmp.commands
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bbbtests.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmpsim.py
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/bsmp/test_serial.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Update BSMP PS version compatibility
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update python package six to 1.12.0
  requirements.txt
Owners: @xresende, @fernandohds564

Update python package six to 1.12.0
  requirements.txt
Owners: @xresende, @fernandohds564

Implement wfmref write in PSBSMP
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Fix unittests
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.MNT: Update name of raw Widths and Delays for AMCFPGAEVRs.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Cleanup code in PRUController
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/tests/bsmp/test_entities.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.BUG: Decrease update rate to conform with slow update of AMCFPGAEVRs.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: Use EVG Time reference for computation of delays and durations.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Minor code cleanup in prucontroller
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update PSBSMP for new wfmref spec
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Remove curves entities for dclinks
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Implement wfmref_maxsize in PSBSMP
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update WfmRef PV names
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update wfmref methods in PSBSMP and add wfmref BSMP variables
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Rename BSMP constant class attributes in pwrsupply modules
  siriuspy/siriuspy/pwrsupply/bbbtests.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup PS bsmp classes
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code in PRUController
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Add sleep to udc.reset function
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

MNT: Update KsL convention sign.
  siriuspy/siriuspy/factory.py
Owners: @xresende, @anacso17, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
