Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Create reset_group method in bsmp Entities class
  siriuspy/siriuspy/bsmp/entities.py
Owners: @xresende, @anacso17

Fix typo
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Implement add_groups_of_variables in pwrsupply UDC class
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
Owners: @xresende, @anacso17, @murilobalves

Rename Channel._lock to Channel.LOCK
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

Start new optimized PSSOFB: SOFB will directly interact with power supplies
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update sofb2bsmp.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Remove a bogus print line
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Delete bogus print line in prucontroller
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Remove SlowOrb mode for BOSOFB.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Connect to MONIT PVs in different processes.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: change charge calculation to avoid to register wrong values of current
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: code style change in _create_processes method.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

MNT: replace local constant by class constant
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix bugs related to slow orbit acquisition
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: gently shutdown processes on exit.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix comparison in shutdown method.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: use array instead of pipe to get data.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: remove usage of Array to communicate among processes.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Add reset_group method to bsmp Entities.
  siriuspy/siriuspy/bsmp/entities.py
Owners: @xresende, @anacso17

Add option to use or not lock in Channel request method
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

Fix typo.
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Add add_group_of_variables to pwrsupply UDC.
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
Owners: @xresende, @anacso17, @murilobalves

Update benchmark script with IOC-based PSSOFB
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Add new PSSOFB that interacts directlty with PS using EtherBridge
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Add benchmark script for new PSSOFB class
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Improve note in bsmp.serial
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

SOFB.BUG: Remove __del__method from EpicsOrbit.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: change default value of TbT Tag Enbl to disabled.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/bsmp/test_serial.py
Owners: @xresende, @fernandohds564

update VERSION file to 2.6.2.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Modify PSSOFB to use IOC-index OpMode
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in PSSOFB.pstatus_get
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix PSSOFB bsmp methods that change correctors' states.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Add kick method to PSSOFB and docsstrings.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix antenna selection for BPM position algebra (singlepass) (on behalf of fernando h. de sá)
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

Update benchmark script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

New ps bsmp spec: update power supply functions
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
Owners: @xresende, @anacso17, @murilobalves

New ps bsmp spec: update power supply parameters
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

New ps bsmp spec: update power supply enums
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves
