Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Create as_rf config type
  siriuspy/siriuspy/clientconfigdb/types/as_rf.py
Owners: @xresende, @fernandohds564

Fix comment line
  siriuspy/siriuspy/clientconfigdb/types/as_rf.py
Owners: @xresende, @fernandohds564

Fix clientconfigdb.types.as_rf.py
  siriuspy/siriuspy/clientconfigdb/types/as_rf.py
Owners: @xresende, @fernandohds564

Improve devices.DevicesSync
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/syncd.py
Owners: @xresende, @fernandohds564

Improve NOTE comment
  siriuspy/siriuspy/devices/syncd.py
Owners: @xresende, @fernandohds564

Improve NOTE text
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Add PV RF-Gen:FreqPhsCont-Sel to global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TuneCorr.MNT: remove KL-RB dict update in update_ref
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix timing status in BO IOCs
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix function name in save_corrparams
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: initialize local variable value in start_meas_config
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in checking power supplies status
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix bug in updating Log-Mon PV
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix configuration handling
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: rename update_corrparams
  siriuspy/siriuspy/opticscorr/base.py
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

OpticsCorr.WIP: move integrated strength RB PVs creation to specific modules
  siriuspy/siriuspy/opticscorr/base.py
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

OpticsCorr.ENH: change delta int. strength PVs meaning Now, the PV values correspond to family delta and the value the power supply receives is delta divided by number of elements of that family
  siriuspy/siriuspy/opticscorr/base.py
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

bug on const-fbp
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

OpticsCorr.FIX: fix bugs in config. measurement
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.MNT: improve step log
  siriuspy/siriuspy/opticscorr/base.py
Owners: @xresende, @fernandohds564

OpticsCorr.FIX: fix delta int. strength initial values
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/tune.py
Owners: @xresende, @fernandohds564

ChromCorr.MNT: change to control RF frequency using RFGen device
  siriuspy/siriuspy/opticscorr/chrom.py
Owners: @xresende, @fernandohds564

Improve device get method
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

TST: fix tests
  siriuspy/tests/opticscorr/test_chrom.py
  siriuspy/tests/opticscorr/test_tune.py
Owners: @xresende, @fernandohds564

Specialize exception in devices.device
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Cleanup code
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

RFGEN.MNT: Update max delta RF frequency
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

This PR adds and remove some BO and SI DLLRF PVs.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add debugging info in prucontroller
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Improve clientarch.pvarch.py
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

PR to remove BO and SI DLLRF Autostartup related PVs
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Create Orbit device for retrievinf orbits from archiver
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/devices.py
  siriuspy/siriuspy/clientarch/pvarch.py
  siriuspy/siriuspy/clientarch/time.py
  siriuspy/siriuspy/clientarch/timestamp.py
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

Remove comment in clientconfigdb/pvsconfig.py
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

Fix typo
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

Add OrbitSOFB to clientarch.devices
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/devices.py
Owners: @xresende, @fernandohds564

cycle.FIX: remove QS of subsectors C2
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
