Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Update PSSOFB class
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update sofb2bsmp benchmark script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

TST: fix currinfo tests
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

Update ps bsmp parameters
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Delete ParamSlewrate PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update PS epics dbase for new firmware
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Remove closing loop after turning power supply on in IOC
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
Owners: @xresende, @anacso17, @murilobalves

MNT: update Caterete and Ema beamline ID names
  siriuspy/siriuspy/search/id_search.py
Owners: @xresende, @fernandohds564

Add PSMode-Sel/Sts PVs to FBP PS IOCs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Improve docstring in pwrsupply.csdev
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

DEV.SOFB.ENH: Add MTTime property
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add pvs property
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

DEV.MNT: Merge pvs and pv_object
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Add test in sofb2bsmp.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update last test added
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update sofb2bsmp.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

DEV.SOFB.ENH: Add MTurnTime-Mon property
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update test scripts
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update test scripts
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update bsmp.serial.Channel with write_and_read new method
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

SOFB.ENH: Implement orbit synchronization with BPMs.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix last commit.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix wait of clearing BPM events.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Fix new Channel write_then_read
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

Add more pssofb tests
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: Add protections in orbit to do not let user set wrong OrbAcqRates.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

CLTCONFDB.MNT: Remove SI correctors OpMode from template.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update pssodb test script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add option fo sofb2bsmp plot method
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update FBP for firmware v1.25-0.42
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

Add new bsmp functionality slowref_fbp_readbck_ref (commented)
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Update FAP for firmware v1.25-0.42
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

DEV.SOFB.ENH: Add TrigAcqChan properties
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Fix typo.
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Add PV
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Implement readback_ref update for PSSOFB
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update VERSION to 2.7.0
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Fix bug in SOFBMode
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
Owners: @xresende, @anacso17, @murilobalves

Rename PS class methods related to WfmRef according to new BSMP spec naming standard
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/pructrl/psdevstate.py
  siriuspy/siriuspy/pwrsupply/pructrl/udc.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscreaders.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @anacso17, @murilobalves

Additional name adaptations and docstring improvements
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves
