Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

TIM.BUG: Fix problem of calling static tables during import time in csdevice.timesys.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.FIX: bug in ps_normalized_configs_change_time
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

currinfo.ENH: add IntCurrent3GeV-Mon pv
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add IntCurrent3GeV-Mon pv
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add IntCurrent3GeV-Mon pv
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TST: fix currinfo tests
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

cycle.ENH: add SI power supplies
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: change to cycle SI family power supplies using timing external pulse instead of sync pulse command
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

MA.MNT: change SI Dipole Normalizer to consider only B1B2 currents in energy calculation
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

CONFDB.ENH: Add SI FBP PS to global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

ramp.FIX: fix bug in inserting a norm config that already existed in the list
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

MA.FIX: fix SI Trims and QS services
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia01.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia02.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia03.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia04.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia05.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia06.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia07.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia08.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia09.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia10.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia11.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia12.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia13.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia14.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia15.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia16.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia17.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia18.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia19.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-c1234-ia20.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia01.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia02.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia03.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia04.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia05.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia06.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia07.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia08.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia09.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia10.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia11.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia12.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia13.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia14.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia15.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia16.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia17.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia18.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia19.service
  as-ma/systemd/sirius-ioc-si-ma-trims-qs-m12-ia20.service
Owners: @xresende, @fernandohds564

psdiag.ENH: add Wfm checks to BO power supplies
  siriuspy/siriuspy/csdevice/psdiag.py
  siriuspy/siriuspy/epics/psdiag_pv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

psdiag.ENH: add Wfm checks to BO power supplies
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

psdiag.ENH: add Wfm checks to BO power supplies
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in method to set mask for singlepass calculations.
  orbit.py
Owners: @xresende, @fernandohds564

cycle.FIX: after cycling finished, set power supplies OpMode-Sel to SlowRef and wait for OpMode-Sts before restore timing initial state.
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

psdiag.MNT: change BO Wfm check to consider Current-Mon PV as the current error
  siriuspy/siriuspy/epics/psdiag_pv.py
Owners: @xresende, @fernandohds564, @anacso17

PSDiag.MNT: remove WfmRef-Mon of list of PVs
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDiag.MNT: remove WfmRef-Mon of list of PVs
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Check if raw orbits are not empty before averaging them.
  orbit.py
Owners: @xresende, @fernandohds564

ramp.FIX: in _set_item, do not set syncronized to False if setting a not modified normalized config
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

CYCLE.BUG: Do not send external trigger to event when restoring timing.
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

ramp.ENH: use MASearch and PSSearch to get appropriate waveform number of points
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ENH: add verify_syncronized function to BoosterNormalized
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ENH: change BoosterRamp.save to return a dict of renamed normalized configs
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

cycle.ENH: remove sleep before restoring timing
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

ramp.ENH: add methods in _WaveformMagnet to get current and strength from time instant
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

ramp.ENH: add option to create Waveform from current value
  siriuspy/siriuspy/ramp/waveform.py
Owners: @xresende, @anacso17

SOFB.ENH: Improve status check and report system.
  base_class.py
  bpms.py
  correctors.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Fix RFCtrl PV names.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.MNT: change wait of setting PVs. Use put istead of value property.
  base_class.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add wait time before starting acquisition and after stopping it.
  orbit.py
Owners: @xresende, @fernandohds564

PS.MNT: update power supplies interlock labels
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: Use PS in SOFB instead of MA.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Add ADCSwp to list of possitle channels for acquisitions.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

POSANG: Use PS instead of MA.
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PSDIAG.ENH: Use PS instead of MA.
  siriuspy/siriuspy/csdevice/psdiag.py
  siriuspy/siriuspy/epics/psdiag_pv.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

RAMP.ENH: Communicate with PS instead of MA.
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

SOFB.BUG: Fix length of transport lines.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves
