Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittest
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/pwrsupply/test_maepics.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Move setpoint setter from PUEpicsConn to PSEpicsConn
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

Add limits property to PSEpicsConn
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

Add strength limits to ps ioc
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

Implement strength ocnv for limits
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

DEV.ENH: Add timing in devices
  timing.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add timing in devices init
  __init__.py
Owners: @xresende, @fernandohds564

DEV.API: Add SI DCCTs options
  dcct.py
Owners: @xresende, @fernandohds564

NAM.ENH: add get_nickname method to SiriusPVName
  siriuspy/siriuspy/namesys/implementation.py
  siriuspy/tests/namesys/test_implementation.py
Owners: @fernandohds564, @anacso17, @xresende

Fix bugs in add-convertion-ps-ioc-classes
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix bug with PS ioc connectors for SI
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.ENH: Remove normalizers and use kicks from PS IOC.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Remove ENERGY constant from csdevice definitions.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Change discipline checking from PM to PU in Corrector construction.
  correctors.py
Owners: @xresende, @fernandohds564

In pwrsupply.beaglebone add exception for new TS correctors
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

cleanup code
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in previous commit
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

cycle.FIX: remove new TS CVs from PSCycle
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

Comment TS CV excpetion in beaglebone
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

CHROM.FIX: fix typo in processing limits
  as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

CHROM.FIX: fix typo in processing limits
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
Owners: @xresende, @fernandohds564

Code cleanup
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

TUNE.FIX: fix minor bugs in checking timing state
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

TUNE.FIX: fix minor bugs in checking timing state
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

CONF.ENH: add new TS CVs to global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

PSDIAG.FIX: bug in pv list length
  as_ps_diag/main.py
Owners: @xresende, @fernandohds564

PSDIAG.FIX: bug in pv list length
  as-ps-diag/as_ps_diag/main.py
Owners: @xresende, @fernandohds564

Fix bugs in new BeagleBone factory
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

CSDEV.FIX: fix FAP_2P2S interlock labels
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change associated dipole for BO InjKckr and EjeKckr
  siriuspy/siriuspy/magnet/util.py
Owners: @xresende, @anacso17

Fix bug in previous commit
  siriuspy/siriuspy/magnet/util.py
Owners: @xresende, @anacso17

Fix bug in previous commit
  siriuspy/siriuspy/magnet/util.py
Owners: @xresende, @anacso17

Change maepics
  siriuspy/siriuspy/pwrsupply/maepics.py
Owners: @xresende, @anacso17, @murilobalves

RF.ENH: Add new SI RF frequency generator
  rf.py
Owners: @xresende, @fernandohds564

ramp.FIX: ramp was not updating when setting norm config equal to the original value. Problem was observed when setting the original value after setting a different one.
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.FIX: fix loop in save method
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

Remove deprecated code used to be used in MA iocs
  siriuspy/siriuspy/epics/computed_pv.py
  siriuspy/siriuspy/epics/pv.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/maepics.py
  siriuspy/siriuspy/pwrsupply/psconv.py
  siriuspy/siriuspy/pwrsupply/sync.py
  siriuspy/siriuspy/thread.py
  siriuspy/tests/pwrsupply/test_maepics.py
  siriuspy/tests/pwrsupply/test_psconv.py
  siriuspy/tests/pwrsupply/test_sync.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix merge conflict
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Fix typo in psconv
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

Insert debug prints in ps ioc
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
