Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Add timeout to BPMs sync.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix timeout usage in orbit synchronization.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

ID.ENH: Add APU22-07SP ID device - Caterete beamline
  siriuspy/siriuspy/devices/ids.py
Owners: @xresende, @fernandohds564

Fix bug with Wfm-RB resize.
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pructrl/psdevstate.py
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Add explanation for timeout in run_subprocess method.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in OrbAcqRate limits update.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add Monit and Monit1 synchronization to bpms_config.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug of last commit.
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix orders of PVs in bpms synchronization.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Revert back to previous PS BSMP spec
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
Owners: @xresende, @anacso17, @murilobalves

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

PWRSP.MNT: Change PSSOFB class to use the same threads along its lifetime.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PWSP.MNT: Adapt tests for new thread scheme in PSSOFB.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix non-standard PV name of new FAP alarm and interlock bits
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.STY: remove wrong whitespaces
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.FIX: fix IIB interlock labels PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.FIX: add missing FAC_2S_DCDC IIB interlock labels PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.FIX: fix FAP_4P and FAP_2P2S IIB interlock PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.FIX: add missing FAC_DCDC and FAC_2S_ACDC IIB interlock PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: comment out IIB interlock labels PVs without specification
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

DEV.ENH: Create CurrInfo device
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add CurrInfo in devices__init__
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

CURR.BUG: Fix typo in charge property
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

CURR.BUG: Fix missing commas
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

DEV.BUG: remove all selection
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

pwrsupply.ENH: add new FAP model PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

CURR.API: Divide devices in classes
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

DEV.ENH: Update currinfo classes in __init__
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add PSSOFB to SOFB.
  siriuspy/siriuspy/sofb/base_class.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

Update ps bsmp functions according to new spec
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Add missing PS interlock bit label PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Improve anomalous ps response print statement
  siriuspy/siriuspy/pwrsupply/bsmp/commands.py
Owners: @xresende, @anacso17, @murilobalves

Update benchmark_bsmp_sofb_current_setpoint in sofb2bsmp test script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Revert back to default nr of events in pssofb benchmark script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

ICT.ENH: Add ICT properties for TB and TS
  siriuspy/siriuspy/devices/ict.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add shutdown method to Correctors.
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

CURR.ENH: Add ICT properties in LI, TB and TS
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add new class from currinfo device in __init__
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

PSSOFB.BUG: Fix handling of events in worker thread.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTEST.ENH: Improve graphics.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
