Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

TIM.BUG: Again, in the wrong place...
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: Remove unnecessary warning message.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TIM.BUG: Fix bug in get_in_inj_table method.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

DEVSOFB.ENH: Add properties to device.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Add setpoint properties update when SOFMode moves to Off
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
Owners: @xresende, @anacso17, @murilobalves

Generalizer SOFBMode to StandByMode
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
  siriuspy/siriuspy/pwrsupply/tests/test_stress_pwrsupplies.py
  siriuspy/siriuspy/sofb/correctors.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
  siriuspy/siriuspy/sofb/orbit.py
  siriuspy/siriuspy/sofb/performance_tests/orbit_times.py
  siriuspy/siriuspy/sofb/performance_tests/orbit_times_short_term.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

fixbug: add condicional of pm 'SOFMode-Sel' also in StandardPSController write
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
Owners: @xresende, @anacso17, @murilobalves

fix tests.
  siriuspy/tests/timesys/test_csdev.py
Owners: @xresende, @fernandohds564

SOFB.FIX: fix problem with launching new processes.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

TIM.BUG: Remove imports from __init__ file.
  siriuspy/siriuspy/timesys/__init__.py
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
  siriuspy/siriuspy/timesys/plot_network.py
  siriuspy/siriuspy/timesys/static_table.py
Owners: @fernandohds564, @xresende

SOFB.BUG: Fix bug with get_context usage.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

PSSOFB.STY: remove extra line between classes definition.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

EPICS.ENH: Add `CAProcessSpawn` class to create processes via spawn method.
  siriuspy/siriuspy/epics/__init__.py
  siriuspy/siriuspy/epics/multiproc.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.MNT: Adopt usage of `siriuspy.epics` `CAProcessSpawn class in SOFB.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

TIM.BUG: Fix test. Remove test of public interface, since timesys doesn't have an interface anymore.
  siriuspy/tests/timesys/test_init.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix small bugs.
  siriuspy/siriuspy/epics/multiproc.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: recover old behavior.
  siriuspy/siriuspy/epics/multiproc.py
Owners: @xresende, @fernandohds564, @anacso17

EPICS.ENH: Use spawn to create new processes.
  siriuspy/siriuspy/epics/multiproc.py
Owners: @xresende, @fernandohds564, @anacso17

SOFB.ENH: Change default MIN_SING_VAL to 0.2.
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix misplaced comma in code.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

rename function wfm to scope substrings
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscreaders.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.BUG: fix update of RF freq value.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Fix reference to G_SOFB in FBP Pruc parms
  siriuspy/siriuspy/pwrsupply/pructrl/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.BUG: Fix problem with spawn start method in PSSOFB.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

SOFB.ENH: Add PV `ApplyDelta-Mon` to keep track of kicks being applied.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: Add MaxDelta properties to device SOFB.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: improve method `wait` of base class `Device`
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: Use `ApplyDelta-Mon` in manual correction loop to handle cases of large RF kicks.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVSOFB.ENH: Improve `cmd_turn_on_autocorr` and `cmd_turn_off_autocorr`.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update VERSION file.
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVCURRINFO.ENH: Improve devices and make them more intuitive.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

DEVCURRINFO.API: Rename CurrInfoTransp class to CurrInfoTranspEff
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add utils module with function to calculate bumps in the storage ring.
  siriuspy/siriuspy/sofb/__init__.py
  siriuspy/siriuspy/sofb/utils.py
Owners: @xresende, @fernandohds564

Add Scope PVs to PS IOCs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Implement Scope-* PVs and refactor code
  siriuspy/siriuspy/pwrsupply/factory.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscreaders.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
  siriuspy/tests/pwrsupply/psctrl/test_pscwriters.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

DEV.BUG: reimport Event class.
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

DEVCURRINFO.BUG: Fix CurrInfoLinear devices checking
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564
