Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Delete empty line
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Change default ps parameters from nan to zero.
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

configdb.ENH: add first version of PVsConfig
  siriuspy/siriuspy/clientconfigdb/__init__.py
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

ramp.MNT: cleanup code in ConnTI.Const
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

PVsConfig.ENH: add connect method and connected property
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

DEV.ENH: Improve SOFB class to handle slow orbit.
  sofb.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add trimquads and correctors control.
  __init__.py
  magnets.py
Owners: @xresende, @fernandohds564

fix bug in psconv module
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

update psconv methods
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

PML.ENH: Improve magnets module.
  magnets.py
Owners: @xresende, @fernandohds564

PMLDEV.BUG: Add current pvs to connected property.
  magnets.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in get_orbit method.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in RF frequency setter.
  correctors.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add new pvs related to Lifetime calculated using BPM data
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.TST: update tests
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

SICurrInfo.FIX: fix bug in StoredEBeam pv
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.FIX: fix bug in StoredEBeam pv
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

SILt.ENH: add LifetimeBPM-Mon pv
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SILt.ENH: add LifetimeBPM-Mon pv
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Add ps ioc PVs to psmodel FAP_4P
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Add new FAC_4P psmodel ioc pvs to csdevice
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Imprive PRU: avoid creating "general" ethbridge channel/thread
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Delete Connection class in beaglebone module
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

remove open method from PRU class.
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Move PVName manipulations from timesys to namesys.
  siriuspy/siriuspy/namesys/implementation.py
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
  siriuspy/siriuspy/timesys/util.py
  siriuspy/tests/namesys/test_implementation.py
  siriuspy/tests/timesys/test_init.py
Owners: @fernandohds564, @anacso17, @xresende

Fix typo and delete commented lines
  siriuspy/siriuspy/pwrsupply/controller.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/pwrsupply/siggen.py
Owners: @xresende, @anacso17, @murilobalves

code cleanup
  siriuspy/siriuspy/pwrsupply/controller.py
Owners: @xresende, @anacso17, @murilobalves

Update psmodel not to use deprecated beaglebone connectors
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Add new requirements
  requirements.txt
Owners: @xresende, @fernandohds564

cleanup: ma_search imports
  siriuspy/siriuspy/search/ma_search.py
Owners: @xresende, @fernandohds564

madata: cleanup
  siriuspy/siriuspy/__init__.py
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/factory.py
  siriuspy/siriuspy/magnet/data.py
  siriuspy/siriuspy/magnet/normalizer.py
  siriuspy/siriuspy/ramp/magnet.py
  siriuspy/siriuspy/search/ma_search.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

fix unittests
  siriuspy/tests/clientweb/test_implementation.py
  siriuspy/tests/csdevice/test_pwrsupply.py
  siriuspy/tests/mock_servweb.py
  siriuspy/tests/search/test_ma_search.py
  siriuspy/tests/search/test_ps_search.py
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-freq.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/magnet/magnet-excitation-ps.txt
  siriuspy/tests/test_data/servweb/magnet/magnet-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/magnet/magnets-model-data.txt
  siriuspy/tests/test_data/servweb/magnet/pulsed-magnet-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/bsmp-dclink.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-names.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/putypes-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/siggen-configuration.txt
  siriuspy/tests/test_factory.py
Owners: @xresende, @fernandohds564

add missing test files
  siriuspy/tests/test_data/servweb/magnet/excitation-data/ts-quadrupole-q14-cv.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/ts-quadrupole-q14-cv.txt
Owners: @xresende, @fernandohds564

Rename linac PS ioc PVs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Rename linac PS ioc pvs in other modules
  siriuspy/siriuspy/clientconfigdb/types/as_pwrstate.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564

Remove hard-coded sign_conv factor in trim normalizer
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

SICurrInfo.FIX: fix bugs in SI Charge and SI Lifetime
  as_ap_currinfo/lifetime/main.py
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564
