Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

currinfo.FIX: querying archiver with wrong pv name
  as_ap_currinfo/lifetime/main.py
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: update current limiar
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: update current limiar
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

ENH: Add uninstall-services to Makefile.
  as-ma/systemd/Makefile
Owners: @xresende, @fernandohds564

ASMA.BUG: Fix name of ts-correctors service in Makefile.
  as-ma/systemd/Makefile
Owners: @xresende, @fernandohds564

ENH: Add uninstall-scripts to Makefile.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

BUG: Fix bug in uninstall-scripts in all subpackages Makefiles.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

ENH: Use pip to install packages, so uninstall can also remove scripts.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

ENH: Add develop-scripts directive to Makefiles.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

ENH: do not install dependencies.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

BUG: Fix bug in develop-scripts.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

PML.BUG: Increase time SOFB waits before checking orbit accumulation is ready.
  sofb.py
Owners: @xresende, @fernandohds564

ramp.MNT: rename connectors
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.MNT: remove RF ramp mode enable control and IncTs checks
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Fix bug in exact dipole normalizer
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

ramp.ENH: do not update config if setpoints are equal to current values
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

MA.FIX: update systemd/Makefile
  as-ma/systemd/Makefile
Owners: @xresende, @fernandohds564

Update ps_search so as to read only one beaglebone freq
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

PML.ENH: Add septum and Screen Models.
  __init__.py
  screen.py
  septum.py
Owners: @xresende, @fernandohds564

PML.ENH: Add BPM class.
  bpm.py
Owners: @xresende, @fernandohds564

PML.ENH: Add BPM to __init__.py
  __init__.py
Owners: @xresende, @fernandohds564

Delete watcher class
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/watcher.py
Owners: @xresende, @anacso17, @murilobalves

PS IOC: Group devices of the same psmodel into one PRUController
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

CONFS.MNT: Change global_config to conform with #lnls-sirius/control-system-constants/pull/126
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Adapt csdevice to conform with #lnls-sirius/control-system-constants/pull/126
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CYCLE.MNT: Adapt package to conform with #lnls-sirius/control-system-constants/pull/126
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

RAMP.MNT: Adapt package to conform with #lnls-sirius/control-system-constants/pull/126
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

MNT: Adapt package to conform with #lnls-sirius/control-system-constants/pull/126
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/tests/test_data/servweb/timesys/high-level-triggers.py
Owners: @xresende, @fernandohds564

OPTCORR.MNT: Adapt package to conform with #lnls-sirius/control-system-constants/pull/126
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

OPTCORR.MNT: Adapt package to conform with #lnls-sirius/control-system-constants/pull/126
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

PML.ENH: Upgrade device models for septum screen and bpm.
  bpm.py
  screen.py
  septum.py
Owners: @xresende, @fernandohds564

Update PRU
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Update PRU class
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

API: Create LiLLRF module
  __init__.py
  klystron.py
  li_llrf.py
Owners: @xresende, @fernandohds564

WIP: Continue implementation.
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/measurements/__init__.py
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ENH: Add ICT device
  ict.py
Owners: @xresende, @fernandohds564

ENH: Add egun device
  __init__.py
  egun.py
Owners: @xresende, @fernandohds564

ENERMEAS.ENH: Finish first version.
  siriuspy/siriuspy/csdevice/energymeas.py
  siriuspy/siriuspy/measurements/base.py
  siriuspy/siriuspy/measurements/calculations.py
  siriuspy/siriuspy/measurements/measurements.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Implement power supply parameter read/write methods in PSBSMP
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
  siriuspy/siriuspy/pwrsupply/tests/fbp.ipynb
Owners: @xresende, @anacso17, @murilobalves

MNT: Add docstring and change on/off status setting
  bpm.py
  dcct.py
  ict.py
  kicker.py
  rf.py
  screen.py
  septum.py
  sofb.py
Owners: @xresende, @fernandohds564
