Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Add properties to PRU class
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup
  siriuspy/siriuspy/util.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: better fix for Open Loop.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Fix unittest
  siriuspy/tests/pwrsupply/pructrl/test_pru.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Fix comment.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Add 'Square' option to PS SigGen
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in BSMP function load_to_value
  siriuspy/siriuspy/bsmp/entities.py
Owners: @xresende, @anacso17

SOFB.BUG: fix logic of kicks comparison when using pssofb.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Add print for debugging.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: fix bug in print guilty.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG:Fix last commit bug.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.MNT: comment debugging print.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bugs in cyclers setter
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: create auxiliar cycler only if needed
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.MNT: remove duplicated code
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix prepare PS properties
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

SOFB.MNT: change _auto_corr by _loop in attribute names.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add check to open loop in case of BPM disconnection or large orbit distortion.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add Tikhonov regularization. Select SVs by minimum value instead of quantity.
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

cycle.MNT: refactor checks that depend on cycle mode
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.STY: fix typo
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Update PRUController to avoid write bsmp commands while in SOFBMode On
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

cycle.ENH: update sequence of main commands
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix save and restore timing commands
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Rewrite comment
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Rewrite comments
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.API: change name ClosedLoop by LoopState and ClosedLoopFreq by LoopFreq
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Implement PID control in SOFB.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Use PID control for kicks, not correctors.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

DEVSOFB.BUG: fix bug introduced in names changing.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Add SOFBUpdate-Cmd PV to PS IOCs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscontroller.py
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.BUG: fix LoopState usage.
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

change PRUController so that sofb_update is ignored when not in SOFB mode
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Do not apply correction factor when using PID.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bug in singular values calculation.
  siriuspy/siriuspy/sofb/matrix.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix use of constant LoopState.
  siriuspy/siriuspy/sofb/main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

This PR will be used in place of previous PR https://github.com/lnls-sirius/dev-packages/pull/528 due to merge problems
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

MEASMANACA.ENH: Initial commit.
  siriuspy/siriuspy/meas/manaca/__init__.py
  siriuspy/siriuspy/meas/manaca/csdev.py
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

MEASMNC.BUG: Fix imports.
  siriuspy/siriuspy/meas/manaca/__init__.py
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564
