Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix a typo in pwrsupply.csdev
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Add registration state methods to Simulation
  siriuspy/siriuspy/simul/simpv.py
  siriuspy/siriuspy/simul/simulation.py
Owners: @xresende, @fernandohds564

Rename pwrsupply fields,functions,controller to pscreaders,pscwritters,pscontroller
  siriuspy/siriuspy/pwrsupply/pscontroller.py
  siriuspy/siriuspy/pwrsupply/pscreaders.py
  siriuspy/siriuspy/pwrsupply/pscwriters.py
  siriuspy/tests/pwrsupply/test_psreaders.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

pwrsupply: add SOFBCurrent readers and writer
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/pscontroller.py
  siriuspy/siriuspy/pwrsupply/pscreaders.py
  siriuspy/siriuspy/pwrsupply/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/tests/pwrsupply/test_psreaders.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Implement SOFBCurrent PVs
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/pscontroller.py
  siriuspy/siriuspy/pwrsupply/pscwriters.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/psupply.py
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

opticscorr.MNT: move OpticsCorr class to opticscorr subpackage
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/opticscorr.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/tests/optics/__init__.py
  siriuspy/tests/opticscorr/test_opticscorr.py
Owners: @xresende, @fernandohds564

STY: fix style and variable names according to pylint
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

opticscorr.MNT: create DeltaTune-Mon and Chrom-Mon PVs
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/csdev.py
  siriuspy/siriuspy/opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

Minor code cleanup
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Simple cleanup
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Refactoring of pwrsupply.beaglebone classes
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

Add bsmp group ids in pwrsupply.bsmp.ConstPSBSMP
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Add bsmp var group IDs to pwrsupply.bsmp.ConstPSBSMP
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

In pwrsupply.csdev, rename MAX_NRDEV_PER_BBB to PSSOFB_MAX_NR_UDC and add UDC_MAX_NR_DEV
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Refactor pwrsupply.prucontroller class
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

In pwrsupply.prucparms delete util class _PRUCParms and add var group SOFB for PRUCParmsFBP
  siriuspy/siriuspy/pwrsupply/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

Variable renaming in pwrsupply modules
  siriuspy/siriuspy/pwrsupply/pscreaders.py
  siriuspy/siriuspy/simul/simps.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix unittest for pwrsupply.csdev
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @fernandohds564

Add SOFB methods in pwrsupply.psbsmp.FBP
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update how pwrsupply.PSupply access bsmp var group IDs
  siriuspy/siriuspy/pwrsupply/psupply.py
Owners: @xresende, @anacso17, @murilobalves

Update SOFB methods in pwrsupply.udc.UDC class
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @fernandohds564

Refcator prwsupply.pscontroller classes
  siriuspy/siriuspy/pwrsupply/pscontroller.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup and standardization
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update pwrsupply.psbdmp to first working version with SOFBCurrents comm.
  siriuspy/siriuspy/pwrsupply/psbsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update pwrsupply.pscontroller.write to return priority pv dict
  siriuspy/siriuspy/pwrsupply/pscontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update pwrsupply.prucontroller: excecute sofb setpoint right away
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Add sofb_interval in pwrsupply.prucontroller
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in pwrsupply.udc.sofb_current_set
  siriuspy/siriuspy/pwrsupply/udc.py
Owners: @xresende, @anacso17, @murilobalves

Add test script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update pssofb benchmark script
  siriuspy/siriuspy/pwrsupply/tests/benchmark-pssofb.py
Owners: @xresende, @anacso17, @murilobalves

opticscorr.ENH: create BaseApp and update database
  siriuspy/siriuspy/opticscorr/base.py
  siriuspy/siriuspy/opticscorr/csdev.py
Owners: @xresende, @fernandohds564

opticscorr.ENH: add new version of Tune and Chrom corr IOCs - Reimplement Tune and Chrom Apps using BaseApp - Add Chromaticity measurement - Add Correction Configuration measurement
  siriuspy/siriuspy/opticscorr/chrom.py
  siriuspy/siriuspy/opticscorr/chrom/__init__.py
  siriuspy/siriuspy/opticscorr/chrom/main.py
  siriuspy/siriuspy/opticscorr/tune.py
  siriuspy/siriuspy/opticscorr/tune/__init__.py
  siriuspy/siriuspy/opticscorr/tune/main.py
  siriuspy/tests/opticscorr/chrom/__init__.py
  siriuspy/tests/opticscorr/test_chrom.py
  siriuspy/tests/opticscorr/test_tune.py
  siriuspy/tests/opticscorr/tune/__init__.py
Owners: @xresende, @fernandohds564

FIX: fix bug in SiriusPVTimeSerie
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

TST: fix currinfo tests to mock epics communication
  siriuspy/tests/currinfo/lifetime/test_main.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

STY: fix style according to pylint suggestions
  siriuspy/tests/optics/test_opticscorr.py
  siriuspy/tests/opticscorr/test_utils.py
  siriuspy/tests/posang/test_main.py
Owners: @xresende, @fernandohds564

Add rescaling_factor to magnet.excdata
  siriuspy/siriuspy/magnet/excdata.py
Owners: @xresende, @anacso17

Change magnet.excdata to comply to pylint
  siriuspy/siriuspy/magnet/excdata.py
Owners: @xresende, @anacso17

SOFB.BUG: Fix missing suffix in polynom PV name.
  siriuspy/siriuspy/sofb/bpms.py
Owners: @xresende, @fernandohds564

Comment ou PS IOC PVs SOFBCurrent-*
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
