Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PMLRF.BUG: fix frequency setter.
  rf.py
Owners: @xresende, @fernandohds564

Remove unnecessary deepcopy in ps_search
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add DeltaKicks setter.
  main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve messages printing in auto correction.
  main.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add DeltaKicks setters.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PMLSOFB.ENH: Add setter for deltakicks.
  sofb.py
Owners: @xresende, @fernandohds564

PMLSOFB.ENH: Add control of DeltaFactors.
  sofb.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix some bugs with DeltaKick setter.
  main.py
Owners: @xresende, @fernandohds564

PMLSOFB.BUG: Fix name of property setter.
  sofb.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Make CorrSync a property exclusive of SI SOFB.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Fix last commit.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Make SyncCorrs an exclusive property of SI SOFB.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix return False.
  matrix.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

PMLDEV.ENH: Create SITune class to read tunes from storage ring.
  __init__.py
  situne.py
Owners: @xresende, @fernandohds564

cycle.MNT: remove BO
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix order in checking final state
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.ENH: change CycleController to set all SI PS current to zero in prepare_ps_parameters
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

Create new structure for SI RF PVs in configdb
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add Voltage IOC PVs for FBP model power supplies
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add ioc PVs corresponding to ps parameters
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add missing suffixes in newly added PS ioc PVs
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add PVArch in clientarch
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Add NLK PVs in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Add more NLK PVs in global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

DEV.ENH: move files to the correct folder.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/ict.py
  siriuspy/siriuspy/devices/kicker.py
  siriuspy/siriuspy/devices/li_llrf.py
  siriuspy/siriuspy/devices/magnets.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/screen.py
  siriuspy/siriuspy/devices/septum.py
  siriuspy/siriuspy/devices/situne.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEV.MNT: fix order or init file.
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

Update clientarch classes.
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/client.py
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

DEV.BUG: add devices module entry to init file.
  siriuspy/siriuspy/__init__.py
Owners: @xresende, @anacso17, @fernandohds564

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVRF.BUG: Fix RF class.
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

Implement clientarch.pvarch
  siriuspy/siriuspy/clientarch/pvarch.py
Owners: @xresende, @fernandohds564

Remove Intlk8-Mon PV from septa IOCs.
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix bug in previous commit
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Remove undefined pulsed PS PVs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Cleanup unused functions in csdevice.pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/csdevice/test_pwrsupply.py
Owners: @xresende, @fernandohds564

devices: rename magnet to pwrsupply and add general device class
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/magnets.py
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
