Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

PSFOBTST.BUG: Fix current testing method.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Refactor function to run PSSOFB.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

THREAD.ENH: Create AsynchronousWorker thread.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

PSSOFBTST.ENH: improve data saving mechanism.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.BUG: Fix BBBThread.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.BUG: Fix last commit.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTST.ENH: Improve definition of number of bins.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Improve sofb2bsmp.py benchmark script
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTST.ENH: Only compute setpoint time in kick benchmark.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTST.ENH: Implement test with multiprocessing.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTST.MNT: remove stop_threads().
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFBTST.BUG: Fix start process and indices.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

THREAD.BUG: Fix AsynchronousWorker stop method.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

PSSOFB.BUG: fix last commit.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Updated PV names provided by IIB boards
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

PWRSPLYPRU.MNT: Adapt classes to #lnls-sirius/eth-bridge-pru-serial485.
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

THREADWORKER.BUG: Fix stop bug.
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: Fix bug in booster sofb.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

MNT: Change names write_then_read by request throughout the code.
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Rename AsynchronousWorker to AsyncWorker
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Refactor implementation of PSSOFB
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Refactor PSSOFB
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix sofb2bsmp.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix typo.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix typo.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/bsmp/test_commands.py
  siriuspy/tests/bsmp/test_serial.py
  siriuspy/tests/pwrsupply/pructrl/test_pru.py
Owners: @xresende, @fernandohds564

Remove setting Channel.LOCK from PSSOFB
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Cleanup code
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

Fix unittest
  siriuspy/tests/pwrsupply/pructrl/test_pru.py
Owners: @xresende, @fernandohds564

Fix attribute name in pru.request
  siriuspy/siriuspy/pwrsupply/pructrl/pru.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in pssofb and thread
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix bug introduced in AsyncWorker
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @fernandohds564

Fix bug with Wfm-SP
  siriuspy/siriuspy/pwrsupply/psctrl/pscwriters.py
Owners: @xresende, @anacso17, @murilobalves

Bugfix in Wfm-SP and revert to using legacy Channel.LOCK
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.WIP: Start adding multiprocessing to psssofb.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.ENH: Add multiprocessing to PSSOFB.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.ENH: Add current_refmon to the list of shared properties in PSSOFB.
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.MNT: Adapt testing script to handle new PSSOFB and PSConnSOFB classes.
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves

PSSOFB.ENH: Do not spawn processes at object initialization. create method create_processes to do it.
  siriuspy/siriuspy/pwrsupply/pssofb.py
  siriuspy/siriuspy/pwrsupply/tests/sofb2bsmp.py
Owners: @xresende, @anacso17, @murilobalves
