Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Remove print statement in MA iocs
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564

Replace literal with csdevice consts
  as-ma/as_ma/main.py
Owners: @xresende, @fernandohds564

TIM.MNT: Avoid locking DevEnbl states.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

ramp.FIX: template values must be float
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/ramp/util.py
Owners: @xresende, @fernandohds564, @anacso17

ENH: adapt properties and ramp connectors to check magnet pvs
  siriuspy/siriuspy/epics/properties.py
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.FIX: adapt BoosterRamp class to handle configs with no normalized configs. Fix bug in changing norm config time
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

Fix bug in ps ioc sim bsmp curves (for dclinks)
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
Owners: @xresende, @anacso17, @murilobalves

cycle.FIX: add first functional version of cycle subpackage with Linac control
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.MNT: change maximum amplitude of Booster dipoles ramp
  siriuspy/siriuspy/cycle/bo_cycle_data.py
Owners: @xresende, @fernandohds564

Rename servweb subpackge to clientweb
  siriuspy/siriuspy/__init__.py
  siriuspy/siriuspy/clientweb/__init__.py
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/csdevice/util.py
  siriuspy/siriuspy/magnet/excdata.py
  siriuspy/siriuspy/optics/lattice_survey.py
  siriuspy/siriuspy/search/bpms_search.py
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/siriuspy/servccdb/__init__.py
  siriuspy/siriuspy/servccdb/implementation.py
  siriuspy/siriuspy/servname/__init__.py
  siriuspy/siriuspy/servname/implementation.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Fix unittest for clientweb
  siriuspy/tests/clientweb/__init__.py
  siriuspy/tests/clientweb/test_implementation.py
Owners: @xresende, @fernandohds564

Delete clientarch from siriuspy __init__
  siriuspy/siriuspy/__init__.py
Owners: @xresende, @anacso17, @fernandohds564

Fix bug in ps database, 'prec' field.
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add PwrState-Sel to global_config template
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

TIM.FIX: Fix bug in timing when setting PVs.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Update FBPDCLink simulator in ps
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.FIX: Fix bug in time vector.
  bpms.py
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: Remove debug prints.
  orbit.py
Owners: @xresende, @fernandohds564

Init version
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/pru.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Update unittest data files
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-freq.txt
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-udc.txt
  siriuspy/tests/test_data/servweb/beaglebone/ip-list.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/li-lens-reversed.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/tb-corrector-strong-ch.txt
  siriuspy/tests/test_data/servweb/magnet/excitation-data/tb-corrector-strong-cv.txt
  siriuspy/tests/test_data/servweb/magnet/magnet-excitation-ps.txt
  siriuspy/tests/test_data/servweb/magnet/magnet-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/magnet/magnets-model-data.txt
  siriuspy/tests/test_data/servweb/pwrsupply/bsmp-dclink.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/bo-dclink-fac-2s.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-corrector-ch-long.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-corrector-ch-short.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-corrector-cv-long.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-corrector-cv-short.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-lens-reversed.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-lens.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-quadrupole-long.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-quadrupole-short.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-solenoid-fam.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-solenoid.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/li-spect-45deg.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/tb-corrector-ch.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/tb-corrector-cv.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/tb-corrector-strong-ch.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-data/tb-corrector-strong-cv.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-names.txt
  siriuspy/tests/test_data/servweb/pwrsupply/pstypes-setpoint-limits.txt
  siriuspy/tests/test_data/servweb/pwrsupply/siggen-configuration.txt
Owners: @xresende, @fernandohds564

Update config templates with new TB corrector names
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/clientconfigdb/types/tb_normalized.py
Owners: @xresende, @fernandohds564

Update TB corretor names in as_pwrstate config
  siriuspy/siriuspy/clientconfigdb/types/as_pwrstate.py
Owners: @xresende, @fernandohds564

Add TB-04:MA-CH-1 amd TB-04:MA-CH-2 to MA IOC
  as-ma/systemd/sirius-ioc-tb-ma-correctors.service
Owners: @xresende, @fernandohds564

Code cleanup
  as-ma/systemd/sirius-ioc-tb-ma-correctors.service
Owners: @xresende, @fernandohds564

PosAng.ENH: add version to use TB slow corrector instead of septum
  as_ap_posang/main.py
  as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.ENH: add version to use TB slow corrector instead of septum
  as-ap-posang/as_ap_posang/main.py
  as-ap-posang/as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.ENH: adapt to use TB slow corrector instead of septum
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PosAng.MNT: adapt config template to consider ch-ch version
  siriuspy/siriuspy/clientconfigdb/types/tb_posang_respm.py
Owners: @xresende, @fernandohds564

FIX: PosAng tests
  siriuspy/tests/csdevice/test_posang.py
Owners: @xresende, @fernandohds564

Fix PSConnStatus-Mon for PM
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change systemd as-ma service file names
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia01.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia02.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia04.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia05.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia07.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia08.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia10.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia11.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia13.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia14.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia16.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia17.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia20.service
Owners: @xresende, @fernandohds564

cycle.ENH: separate magnets opmode preparation from cycle command
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: change checks of magnets states
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in CycleEnbl check and cleanup code
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

Refactor systemd services
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

Refactor systemd services
  as-ap-opticscorr/as_ap_opticscorr/opticscorr_utils.py
  as-ap-posang/as_ap_posang/main.py
  as-ma/systemd/Makefile
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia01.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia02.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia04.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia05.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia07.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia08.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia10.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia11.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia13.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia14.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia16.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia17.service
  as-ma/systemd/sirius-ioc-bo-ma-correctors-ia20.service
  as-ma/systemd/sirius-ioc-bo-ma-dipoles.service
  as-ma/systemd/sirius-ioc-bo-ma-quadrupoles.service
  as-ma/systemd/sirius-ioc-bo-ma-sextupoles.service
  as-ma/systemd/sirius-ioc-bo-pm-injkckr.service
  as-ma/systemd/sirius-ioc-tb-ma-correctors.service
  as-ma/systemd/sirius-ioc-tb-ma-dipoles.service
  as-ma/systemd/sirius-ioc-tb-ma-quadrupoles.service
  as-ma/systemd/sirius-ioc-tb-pm-injsept.service
Owners: @xresende, @fernandohds564

Refactor systemd services
  as_ap_opticscorr/opticscorr_utils.py
Owners: @xresende, @fernandohds564

Change IOC log folder and remove save_pv_list from util
  siriuspy/siriuspy/csdevice/orbitcorr.py
  siriuspy/siriuspy/util.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittest
  siriuspy/siriuspy/util.py
  siriuspy/tests/test_util.py
Owners: @xresende, @anacso17, @fernandohds564

OpticsCorr.MNT: change to use siriuspy.optics
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/opticscorr_utils.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-opticscorr/tests/test_opticscorr_utils.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
