Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Update version to 2.33.1
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

ramp.FIX: use the correct source info to calculate injection and ejection time instants
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17, @fernandohds564

epics.ENH: add auxiliary methods to EpicsProperty(ies)
  siriuspy/siriuspy/epics/properties.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.FIX: use the correct source info to calculate injection and ejection time instants
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Update version
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

currinfo.ENH: add new InjCurr-Mon and InjCharge-Mon PVs
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: use RF freq. PV to calculate BO charges
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

devices.ENH: add new CurrInfo properties
  siriuspy/siriuspy/devices/currinfo.py
Owners: @xresende, @fernandohds564

TST: update currinfo tests
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

TST: update currinfo tests
  siriuspy/tests/currinfo/test_csdev.py
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

ramp.ENH: replace the use of FPGAClk-Cte EVG PV with RF frequency in delay calculations
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

DEVSOFB.MNT: refactor SOFB device.
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

CONFDB.MNT: Remove RTMFreq and AFCFreq from as_diagnostics.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CONFDB.STY: fix comment identation.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CONFDB.ENH: Add FPGAClk PVs to global_config
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

devices.MNT: remove \n characters from Inj.Sys. handler messages
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.FIX: reset the initial value of the Inj.Sys. handler result in new command
  siriuspy/siriuspy/devices/injsys.py
Owners: @xresende, @fernandohds564

devices.FIX: fix EVG.fill_bucketlist
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.FIX: change EVG bucketlist properties to handle only valid fields
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEV.BUG: fix _wait_methods for numpy array properties.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

devices.ENH: add EGun is_hv_on property
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.FIX: fix EGun is_single_bunch and is_multi_bunch properties
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.FIX: remove bias voltage check in EGun is_single_bunch and is_multi_bunch properties
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.MNT: update default value of egun multi bunch bias voltage
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

DEVEVG.ENH: Improve bucket list setter.
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

devices.MNT: update bias voltage tolerance and use new tolerance in set_voltage
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

CONFDB.ENH: Refactor as_diagnostics template.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CONFDB.MNT: temporarely remove BPM3 from Linac from the template.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CONFDB.MNT: temporarely remove ICT PVs from as_diagnostics.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

CONFDB.BUG: fix extra plus sign at end of the line.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Do not accept setpoint in case number of points is zero.
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

Fix li-ps properties
  siriuspy/siriuspy/VERSION
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @fernandohds564, @murilobalves

Adpat for resurrect VACA
  siriuspy/siriuspy/pwrsupply/simul/__init__.py
  siriuspy/siriuspy/pwrsupply/simul/controller.py
  siriuspy/siriuspy/pwrsupply/simul/cycgen.py
  siriuspy/siriuspy/pwrsupply/simul/enumtypes.py
  siriuspy/siriuspy/pwrsupply/simul/model.py
  siriuspy/siriuspy/pwrsupply/simul/waveform.py
  siriuspy/siriuspy/timesys_orig/__init__.py
  siriuspy/siriuspy/timesys_orig/time_data.py
  siriuspy/siriuspy/timesys_orig/time_simul/__init__.py
  siriuspy/siriuspy/timesys_orig/time_simul/device_models.py
  siriuspy/siriuspy/timesys_orig/time_simul/time_simul.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

devices.FIX: fix bugs in EGun.is_hv_on
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.ENH: add EGun.is_fila_on property
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

diagsys.ENH: add new lidiag PVs for modulators
  siriuspy/siriuspy/diagsys/lidiag/csdev.py
  siriuspy/siriuspy/diagsys/lidiag/main.py
  siriuspy/siriuspy/diagsys/lidiag/pvs.py
Owners: @xresende, @fernandohds564

diagsys.ENH: implement @fernandohds564 suggestions to LI modulators PVs
  siriuspy/siriuspy/diagsys/lidiag/main.py
  siriuspy/siriuspy/diagsys/lidiag/pvs.py
Owners: @xresende, @fernandohds564

diagsys.ENH: implement LI modulators PV checks in a loop
  siriuspy/siriuspy/diagsys/lidiag/pvs.py
Owners: @xresende, @fernandohds564

devices.MNT: update EGun filament current tolerance
  siriuspy/siriuspy/devices/egun.py
Owners: @xresende, @fernandohds564

devices.ENH: add BucketListSyncStatus PV to EVG properties
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564
