Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CONFDB.ENH: Remove BSPMComm from TB. Add SI-Fam:PS PVs. Add TS-*:PS PVs
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Only consider BPM configured check for status in MultiTurn and SinglePass modes.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add EjeSeptG to TS SOFB
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Add EjeSeptG to TS SOFB.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.MNT: FIx limits and precision of some PVs.
  siriuspy/siriuspy/csdevice/orbitcorr.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Code cleanup and timing print statements
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.BUG: Fix bug in status check.
  orbit.py
Owners: @xresende, @fernandohds564

SOFB.MNT: remove print in get_corr method.
  correctors.py
Owners: @xresende, @fernandohds564

Change how PS IOC TimestampUpdate behaves
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Change ps_search
  siriuspy/siriuspy/clientweb/implementation.py
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CLIENTARCH.ENH: Create _make_request method to only use login session when needed.
  siriuspy/siriuspy/clientarch/client.py
Owners: @xresende, @fernandohds564

Update how PS IOC updates its timestamp
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

currinfo.WIP: remove charge and current iocs files
  as-ap-currinfo/as_ap_currinfo/__init__.py
  as-ap-currinfo/as_ap_currinfo/charge/__init__.py
  as-ap-currinfo/as_ap_currinfo/charge/access_rules.as
  as-ap-currinfo/as_ap_currinfo/charge/charge.py
  as-ap-currinfo/as_ap_currinfo/charge/charge.txt
  as-ap-currinfo/as_ap_currinfo/charge/main.py
  as-ap-currinfo/as_ap_currinfo/charge/pvs.py
  as-ap-currinfo/as_ap_currinfo/current/__init__.py
  as-ap-currinfo/as_ap_currinfo/current/access_rules.as
  as-ap-currinfo/as_ap_currinfo/current/current.py
  as-ap-currinfo/as_ap_currinfo/current/main.py
  as-ap-currinfo/as_ap_currinfo/current/pvs.py
  as-ap-currinfo/tests/charge/__init__.py
  as-ap-currinfo/tests/charge/test_main.py
  as-ap-currinfo/tests/charge/test_pvs.py
  as-ap-currinfo/tests/current/__init__.py
  as-ap-currinfo/tests/current/test_main.py
  as-ap-currinfo/tests/current/test_pvs.py
Owners: @xresende, @fernandohds564

currinfo.WIP: remove charge and current iocs files
  as_ap_currinfo/__init__.py
  as_ap_currinfo/charge/__init__.py
  as_ap_currinfo/charge/access_rules.as
  as_ap_currinfo/charge/charge.py
  as_ap_currinfo/charge/charge.txt
  as_ap_currinfo/charge/main.py
  as_ap_currinfo/charge/pvs.py
  as_ap_currinfo/current/__init__.py
  as_ap_currinfo/current/access_rules.as
  as_ap_currinfo/current/current.py
  as_ap_currinfo/current/main.py
  as_ap_currinfo/current/pvs.py
  tests/charge/__init__.py
  tests/charge/test_main.py
  tests/charge/test_pvs.py
  tests/current/__init__.py
  tests/current/test_main.py
  tests/current/test_pvs.py
Owners: @xresende, @fernandohds564

currinfo.MNT: remove BO lifetime and cleanup lifetime ioc code
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
  as-ap-currinfo/as_ap_currinfo/lifetime/pvs.py
  as-ap-currinfo/tests/lifetime/test_main.py
  as-ap-currinfo/tests/lifetime/test_pvs.py
Owners: @xresende, @fernandohds564

currinfo.MNT: remove BO lifetime and cleanup lifetime ioc code
  as_ap_currinfo/lifetime/main.py
  as_ap_currinfo/lifetime/pvs.py
  tests/lifetime/test_main.py
  tests/lifetime/test_pvs.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add new version of BO and SI CurrInfo IOCs
  as_ap_currinfo/__init__.py
  as_ap_currinfo/main.py
  as_ap_currinfo/pvs.py
  tests/test_main.py
  tests/test_pvs.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add new version of BO and SI CurrInfo IOCs
  as-ap-currinfo/as_ap_currinfo/__init__.py
  as-ap-currinfo/as_ap_currinfo/main.py
  as-ap-currinfo/as_ap_currinfo/pvs.py
  as-ap-currinfo/tests/test_main.py
  as-ap-currinfo/tests/test_pvs.py
Owners: @xresende, @fernandohds564

csdevice.MNT: add new version of currinfo database
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add temporary optimization for TS quad PS IOCs
  siriuspy/siriuspy/pwrsupply/beaglebone.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @anacso17, @murilobalves

currinfo.MNT: change unit of charge PVs to A.h
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: change unit of charge PVs to A.h
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: change unit of charge PVs to A.h
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.TST: fix tests
  siriuspy/siriuspy/csdevice/currinfo.py
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.TST: fix tests
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

Update BeagleBone class
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

PML.ENH: Add small sleep in sofb wait method.
  sofb.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add kicker class.
  __init__.py
  kicker.py
Owners: @xresende, @fernandohds564

cycle.ENH: change Cycle to use PS instead of MA
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

cycle.ENH: add TS
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
  siriuspy/siriuspy/cycle/util.py
Owners: @xresende, @fernandohds564

Add SyncPulse-Cmd to PS IOCs and update FAP_4P with fixed bsmp specs
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/prucparms.py
  siriuspy/siriuspy/pwrsupply/psmodel.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.MNT: update Charge PVs precision
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PML.BUG: Fix bugs in kicker class.
  kicker.py
Owners: @xresende, @fernandohds564

CONFDB.BUG: Fix some PV names in global_config.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Update psbsmp class
  siriuspy/siriuspy/pwrsupply/psbsmp.py
  siriuspy/siriuspy/pwrsupply/tests/TODO.txt
Owners: @xresende, @anacso17, @murilobalves

cycle.FIX: rename variables, classes and methods to refer to PS instead of MA and fix related bugs
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/bo_cycle_data.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

ENH: Add Makefile to all subpackages.
  as-ma/Makefile
Owners: @xresende, @fernandohds564

currinfo.FIX: fix ramp efficiency calculation
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.FIX: fix ramp efficiency calculation
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.FIX: querying archiver with wrong pv name
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
