Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

psdiag.ENH: separate Alarm and Interlock checks in DiagStatus-Mon PV
  siriuspy/siriuspy/diagsys/psdiag/csdev.py
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

rfdiag.FIX: fix get_rf_diag_propty_database
  siriuspy/siriuspy/diagsys/rfdiag/csdev.py
Owners: @xresende, @fernandohds564

ramp.MNT: change BORFRampFactory to use SP PVs
  siriuspy/siriuspy/ramp/reconst_factory.py
Owners: @xresende, @anacso17

ramp.FIX: fix interpolate option in ps_normalized_configs_insert
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

MNT: cleanup EpicsPropertiesList.set_setpoints_check code
  siriuspy/siriuspy/epics/properties.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.FIX: change ConnRF.cmd_config_ramp to perform setpoints according to RFQ recommendations
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

timesys.FIX: fix NrPulses PV unit
  siriuspy/siriuspy/timesys/csdev.py
Owners: @fernandohds564, @xresende

CLTARCH.ENH: Add class `Time` to package main interface.
  siriuspy/siriuspy/clientarch/__init__.py
Owners: @xresende, @fernandohds564

TIM.ENH: Improve module to create static table in control-system-constants.
  siriuspy/siriuspy/timesys/static_table.py
Owners: @fernandohds564, @xresende

DEV.ENH: Add class `ProptyDevice` to handle set of PVs with same `device_name` and a commom property prefix.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/bbb.py
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add method `_enum_setter` to set enumtype PVs via string and integers.
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

DEVTIM.ENH: Add Class Event to handle EVG Events.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

DEV.BUG: Fix import order in `__init__.py` module.
  siriuspy/siriuspy/devices/__init__.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

TIM.ENH: Add TotalDelay-Mon and TotalDelayRaw-Mon PVs to HighLevel Triggers.
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: fix missing value entry in db.
  siriuspy/siriuspy/timesys/csdev.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix database.
  siriuspy/siriuspy/timesys/csdev.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix bug in HL Class.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix problem with get_delay method.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

CURRINFO.BUG: Fix osciloscope names
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

TIM.BUG: remove events without configs.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Use floats to use with spinbox.
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix _get_delay EVROTP.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

SOFB.ENH: Start using TotalDelay-Mon from trigger timing.
  siriuspy/siriuspy/sofb/bpms.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

TIM.ENH: Add PV to check if trigger is in injection table.
  siriuspy/siriuspy/timesys/csdev.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

DEV.BUG: transform is_in_inj_table into a property.
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

TIM.BUG: Fix problem with get_in_inj_table.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: missing return dic.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.ENH: Improve way low level class handle PVs: - create wait_for_connection method; - create Timer threads to lock state.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Add mechanism in psconv.py for specialized conversions
  siriuspy/siriuspy/devices/psconv.py
Owners: @xresende, @fernandohds564

TIM.ENH: Add connected and wait_for_connection in high level class.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

TIM.MNT: remove unnecessary print.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Add method to delay callbacks to after object is already constructed.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix wrong assumption of return value.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.ENH: Make LowLvlLock treatment equal other PVs.
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix bug in LowLvlLock read method.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix read method of LowLvlLock setpoint PV.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Call Callback when LowLvlLock changes.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.BUG: Callback for LowLvlLock was in the wrong place.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende
