Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittests
  siriuspy/tests/clientweb/test_implementation.py
Owners: @xresende, @fernandohds564

LIPS.MNT: change LI PS interlock limiar
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PSSearch.ENH: add new methods: get_psmodel_names and conv_psmodel_2_psname
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

PScsdev.ENH: add new methods: get_ps_interlocks and get_ps_modules
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/tests/pwrsupply/test_csdev.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

MNT: implement pylint suggestions
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/pwrsupply/test_csdev.py
  siriuspy/tests/search/test_ps_search.py
Owners: @xresende, @fernandohds564

PSDiag.ENH: use all interlocks and alarms in interlock checks
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

Update consts in pwrsupply bsmp
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.FIX: change PV names to follow the naming pattern
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.FIX: add missing unit in ParamCommRS485BaudRate-Cte
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.MNT: cleanup code in get_ps_basic_propty_database
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.ENH: add new params PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.ENH: move Params PVs from get_ps_basic_propty_database to get_ps_common_propty_database
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.ENH: use constants as the primary source of enum indices
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.FIX: fix bug left in last commit
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.FIX: fix empty strings fields in MODELS enum
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

FIX: fix PosAng and Tune/ChromCorr auxiliary local file creation
  siriuspy/siriuspy/opticscorr/utils.py
  siriuspy/siriuspy/posang/utils.py
Owners: @xresende, @fernandohds564

ENH: add new DCCT PVs to as_diagnostics and diagbeam.dcct.csdev
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
  siriuspy/siriuspy/diagbeam/dcct/csdev.py
Owners: @xresende, @fernandohds564

PVsConfig.ENH: always save template value for Cmd PVs
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

pscsdev.ENH: set precision for PWM parameters PVs
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in clientweb.read_url redundancy
  siriuspy/siriuspy/clientweb/implementation.py
Owners: @xresende, @fernandohds564

currinfo.ENH: in SI CurrInfo, remove Avg option of DCCT-Sel PV
  siriuspy/siriuspy/currinfo/csdev.py
  siriuspy/siriuspy/currinfo/main.py
Owners: @xresende, @fernandohds564

TST: update currinfo tests
  siriuspy/tests/currinfo/test_main.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

pwrsupply.FIX: fix new PV names in psmodels.py
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pscsdev.FIX: fix new PV name
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

psbsmp.FIX: fix the type of some variables
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
Owners: @xresende, @anacso17, @murilobalves

posang.FIX: fix default TS configuration names
  siriuspy/siriuspy/posang/utils.py
Owners: @xresende, @fernandohds564

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

Add pvs property to PVsConfig
  siriuspy/siriuspy/clientconfigdb/pvsconfig.py
Owners: @xresende, @fernandohds564

BBB.ENH: Add methods to acquire data and dump data to PV.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

BBB.API: Remove methods to read and save data.
  siriuspy/siriuspy/devices/bbb.py
Owners: @xresende, @fernandohds564

RF.ENH: Improve RF device, adding more info.
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

Fix aux_parameters in trapezoidal siggen
  siriuspy/siriuspy/pwrsupply/siggen.py
Owners: @xresende, @anacso17, @murilobalves

DEVPWRSUPPLY.BUG: Fix pulse property. It belongs to power supply, not to its timing trigger.
  siriuspy/siriuspy/devices/pwrsupply.py
Owners: @xresende, @fernandohds564

pscsdev.MNT: update interlock labels according to ELP suggestions
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

psdiag.FIX: fix INTLK_PVS definition
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

psdiag.ENH: implement workaround to check LI Spect interlock
  siriuspy/siriuspy/diagsys/psdiag/main.py
  siriuspy/siriuspy/diagsys/psdiag/pvs.py
Owners: @xresende, @fernandohds564

cycle.ENH: implement workaround to check LI Spect interlock
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.MNT: use SiriusPVName in psname definition
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

ClientArch.ENH: improve Time class to support datetime objects, timestamp floats and timestamp strings
  siriuspy/siriuspy/clientarch/time.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
