Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

FIX: fix time to get current value equivalent to 3GeV energy
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

TIM.BUG: Trigger update of Delay and Duration PVs when RF frequency is changed.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.ENH: Change precision of Delay PVs in timing.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.BUG: Fix precision of DeltaDelay in Timing.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Replace servers hostname by host IP in envars.py
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

SOFB.BUG: Fix bug introduced in 1b5ddd2, comparing numpy array to None.
  main.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Improve last bug fix.
  main.py
Owners: @xresende, @fernandohds564

TIM.BUG: add field 'value' to DelayRaw database.
  siriuspy/siriuspy/csdevice/timesys.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update VERSION file to 1.17.1
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564

DEVSOFB.BUG: Fix variable name
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Move check IOC online from BeagleBone class to IOC script
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

DEVICES.SOFB.ENH: Add RF enable and ClosedLoop
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

Update devices.rf
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/device.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

PosAng.MNT: remove PosAng CHCH
  as-ap-posang/as_ap_posang/main.py
  as-ap-posang/as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

PosAng.MNT: remove PosAng CHCH
  as_ap_posang/main.py
  as_ap_posang/pvs.py
Owners: @xresende, @fernandohds564

ENH: add check if another instance of the IOC is already running
  as-ap-currinfo/as_ap_currinfo/lifetime/pvs.py
Owners: @xresende, @fernandohds564

ENH: add check if another instance of the IOC is already running
  as_ap_currinfo/lifetime/pvs.py
Owners: @xresende, @fernandohds564

Update devices egun and rf
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/rf.py
Owners: @xresende, @fernandohds564

ENH: change PosAng, Tune and Chrom Corr IOCs to use default configs in case there is no file that define which config to use
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

ENH: change PosAng, Tune and Chrom Corr IOCs to use default configs in case there is no file that define which config to use
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/opticscorr_utils.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

ENH: change PosAng, Tune and Chrom Corr IOCs to use default configs in case there is no file that define which config to use
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/opticscorr_utils.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

Code cleanup in devices.sofb
  siriuspy/siriuspy/devices/sofb.py
Owners: @xresende, @fernandohds564

PosAng.MNT: remove PosAng CHCH
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CurrInfo.MNT: update Version PV name for Lifetime
  siriuspy/siriuspy/csdevice/currinfo.py
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SiriusPVTimeSerie.ENH: add option to do not use PV timestamp
  siriuspy/siriuspy/epics/pv_time_serie.py
Owners: @xresende, @fernandohds564, @anacso17

SILifetime.FIX: fix bug in BuffAutoRstDCurr write handler
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SILifetime.FIX: fix bug in BuffAutoRstDCurr write handler
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SILifetime.FIX: fix bugs in Reset-Cmd and auto reset feature
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

SILifetime.FIX: fix bugs in Reset-Cmd and auto reset feature
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

Remove unused method in BeagleBone factory class
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves

SICurrInfo.ENH: add InjEff-Mon PV
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

MNT: fix docstring in factory
  siriuspy/siriuspy/factory.py
Owners: @xresende, @anacso17, @fernandohds564

Add DeviceApp (application device) to siriuspy.devices
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

Update devices.dcct
  siriuspy/siriuspy/devices/dcct.py
Owners: @xresende, @fernandohds564

Update devices.timing
  siriuspy/siriuspy/devices/dcct.py
  siriuspy/siriuspy/devices/egun.py
  siriuspy/siriuspy/devices/ict.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/screen.py
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/devices/timing.py
Owners: @xresende, @fernandohds564

Update devices.tune
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/rf.py
  siriuspy/siriuspy/devices/situne.py
  siriuspy/siriuspy/devices/timing.py
  siriuspy/siriuspy/devices/tune.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: add InjEff-Mon PV
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

SICurrInfo.ENH: add InjEff-Mon PV
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

TST: fix PosAng tests
  siriuspy/tests/csdevice/test_posang.py
Owners: @xresende, @fernandohds564

Update devices.llrf
  siriuspy/siriuspy/devices/__init__.py
  siriuspy/siriuspy/devices/li_llrf.py
  siriuspy/siriuspy/devices/llrf.py
Owners: @xresende, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
