Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

SOFB.ENH: Add PV to allow capture of triggered data when SOFB is in another mode.
  siriuspy/siriuspy/devices/sofb.py
  siriuspy/siriuspy/sofb/csdev.py
  siriuspy/siriuspy/sofb/orbit.py
Owners: @xresende, @fernandohds564

DEV.ENH: Add property/method do get/set auto_monitor state.
  siriuspy/siriuspy/devices/device.py
Owners: @xresende, @fernandohds564

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

DEV.BPM.ENH: Improve BPM device.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

DEV.BPM.ENH: Add a __str__method to BPM class and a few more properties.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

DIAG.BPM.ENH: Add Photon BPMs info to lattice survey and bpms_data.
  siriuspy/siriuspy/optics/lattice_survey.py
  siriuspy/siriuspy/sofb/csdev.py
Owners: @xresende, @fernandohds564

DEV.BPM.ENH: Add checking if BPM is a valid BPM or PBPM name.
  siriuspy/siriuspy/devices/bpm.py
  siriuspy/siriuspy/search/bpms_search.py
Owners: @xresende, @fernandohds564

DEV.BPM.BUG: Fix __str__method.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

DEV.BPM.BUG: wrong list access.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

DEV.BPM.BUG: Small fixes.
  siriuspy/siriuspy/devices/bpm.py
Owners: @xresende, @fernandohds564

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.MNT: update firmware version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in PSSOFB Update
  siriuspy/siriuspy/pwrsupply/csdev.py
  siriuspy/siriuspy/pwrsupply/pructrl/prucontroller.py
  siriuspy/siriuspy/pwrsupply/pssofb.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.MNT: Start using sofb_update_iocs in pssofb.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve printing in corrector class.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

Update PS BSMP spec version
  siriuspy/siriuspy/pwrsupply/bsmp/constants.py
Owners: @xresende, @anacso17, @murilobalves

Fix typo
  siriuspy/siriuspy/pwrsupply/bsmp/entities.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in FAP_4P
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in FAP_4P
  siriuspy/siriuspy/pwrsupply/psctrl/psmodel.py
Owners: @xresende, @anacso17, @murilobalves

pwrsupply.FIX: update interlock labels
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

cycle.ENH: add command to disable FBP SOFBMode
  siriuspy/siriuspy/cycle/__init__.py
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: change logging
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: use ThreadPoolExecutor instead of creating a thread for each PS in preparations
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: do not turn off all triggers
  siriuspy/siriuspy/cycle/conn.py
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

MEAS.MNC.ENH: Add option to apply bump to sofb.
  siriuspy/siriuspy/meas/manaca/csdev.py
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

MEAS.ENH: Add option to make averages o images to increase resolution of measurement.
  siriuspy/siriuspy/meas/csdev.py
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

MEAS.BUG: Fix logic comparison.
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

MEAS.MNC.BUG: fix cmd methods.
  siriuspy/siriuspy/meas/manaca/main.py
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

MEAS.MNC.BUG: Check for connection before trying to access values.
  siriuspy/siriuspy/meas/manaca/main.py
Owners: @xresende, @fernandohds564

MEAS.BUG: change image type to float.
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

MEAS.BUG: set `_reset_buffer` to `False` after reseting.
  siriuspy/siriuspy/meas/util.py
Owners: @xresende, @fernandohds564

SOFB.BUG: Fix bugs in correctors class.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

PWRSUP.ENH: Add test script to stress FBP IOCs.
  siriuspy/siriuspy/pwrsupply/tests/test_stress_pwrsupplies.py
Owners: @xresende, @anacso17, @murilobalves

SOFB.BUG: Fix bugs in correctors class.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve printing in corrector class.
  siriuspy/siriuspy/sofb/correctors.py
Owners: @xresende, @fernandohds564

pwrsupply.FIX: fix FBP Hard Interlocks
  siriuspy/siriuspy/pwrsupply/csdev.py
Owners: @xresende, @anacso17, @murilobalves

Update VERSION
  siriuspy/siriuspy/VERSION
Owners: @xresende, @anacso17, @fernandohds564
