Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

currinfo.ENH: change SI current PV default mode to consider only DCCT 13C4 and cleanup code
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: change SI current PV default mode to consider only DCCT 13C4 and cleanup code
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

lifetime.ENH: add new calculation mode (linear fit) and change PV default values
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

lifetime.ENH: add new calculation mode (linear fit) and change PV default values
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: update database
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.MNT: use updatePV instead of updatePVs
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: use updatePV instead of updatePVs
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.TST: fix tests
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564

currinfo.FIX: fix SiriusPVTimeSerie buffer size
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.FIX: fix SiriusPVTimeSerie buffer size
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: cleanup code
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: cleanup code
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: complete replacements of updatePVs by updatePV
  as_ap_currinfo/lifetime/main.py
  as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: complete replacements of updatePVs by updatePV
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
  as-ap-currinfo/as_ap_currinfo/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add PV to set a current offset to be subtracted
  as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.ENH: add PV to set a current offset to be subtracted
  as-ap-currinfo/as_ap_currinfo/lifetime/main.py
Owners: @xresende, @fernandohds564

currinfo.MNT: add CurrOffset PVs
  siriuspy/siriuspy/csdevice/currinfo.py
  siriuspy/tests/csdevice/test_currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

currinfo.MNT: add limits to CurrOffset PVs
  siriuspy/siriuspy/csdevice/currinfo.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.BUG: FIx timing to work with pyepics==3.4.0
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

Return to default 5 Hz for PS IOC update freq
  siriuspy/siriuspy/pwrsupply/prucparms.py
Owners: @xresende, @anacso17, @murilobalves

EPICS.MNT: Update PV class to handle new interface of pyepics==3.4.0
  siriuspy/siriuspy/epics/pv.py
Owners: @xresende, @fernandohds564, @anacso17

ramp.FIX: fix bugs in BONormFactory
  siriuspy/siriuspy/ramp/norm_factory.py
  siriuspy/siriuspy/ramp/test_norm_factory.py
Owners: @xresende, @anacso17

configdb.MNT: update comments in tune and chromaticity correction config templates
  siriuspy/siriuspy/clientconfigdb/types/bo_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/bo_tunecorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/si_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/si_tunecorr_params.py
Owners: @xresende, @fernandohds564

ramp.FIX: fi bug in rampup1 start time setter
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

configdb.ENH: change ConfigDBDocument value and item setters to update synchronized status properly
  siriuspy/siriuspy/clientconfigdb/configdb_document.py
Owners: @xresende, @fernandohds564

ramp.MNT: update RF ramp maximum duration
  siriuspy/siriuspy/ramp/util.py
Owners: @xresende, @anacso17

ramp.ENH: add new version
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/ramp/norm_factory.py
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/test_norm_factory.py
Owners: @xresende, @fernandohds564, @anacso17

Improve PS IOC by using strength PV, instead of dipole current PV, when normalizing currents.
  siriuspy/siriuspy/pwrsupply/psconv.py
Owners: @xresende, @anacso17, @murilobalves

cycle.ENH: make PV communication faster
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.ENH: change preparations to perform setpoints only when needed.
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

cycle.ENH: minimize use of threads and cleanup code
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.ENH: change to trigger SI correctors using timing instead of pulse command.
  siriuspy/siriuspy/cycle/main.py
Owners: @xresende, @fernandohds564

cycle.FIX: fix bug in LinacPSCycler
  siriuspy/siriuspy/cycle/conn.py
Owners: @xresende, @fernandohds564

posang.FIX: fix bug in (Corr)-Cte PV values
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

posang.FIX: use SiriusPVName
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

posang.FIX: use SiriusPVName
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

MNT: cleanup imports
  siriuspy/siriuspy/csdevice/posang.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update pwrsupply test utils.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/pwrsupply/tests/utils.py
Owners: @xresende, @anacso17, @murilobalves

Code cleanup in pwrsupply.functions
  siriuspy/siriuspy/pwrsupply/functions.py
Owners: @xresende, @anacso17, @murilobalves

Delete print statement
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves
