Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Add option of not using beta ~ 1 approx.
  siriuspy/siriuspy/magnet/normalizer.py
Owners: @xresende, @anacso17

CONFIGDB.MNT: Adapt opticscorr module to use new api.
  siriuspy/siriuspy/optics/opticscorr.py
Owners: @xresende, @fernandohds564

CONFIGDB.BUG: Fix some bugs.
  siriuspy/siriuspy/clientconfigdb/_templates.py
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

CONFIGDB.BUG: remove load from object initialization and raise ValueError in _set_value.
  siriuspy/siriuspy/clientconfigdb/configdb_document.py
Owners: @xresende, @fernandohds564

CONFIGDB.MNT: Adapt ramp to new clientconfigdb api.
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/ramp/exceptions.py
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

Add fetch module
  siriuspy/siriuspy/servarch/fetch.py
Owners: @xresende, @fernandohds564

Improve ArchiverFetcher
  siriuspy/siriuspy/servarch/fetch.py
Owners: @xresende, @fernandohds564

CONFIGDB.MNT: Adapt codes to new interface of siriuspy.clientconfigdb package.
  as-ap-opticscorr/as_ap_opticscorr/chrom/main.py
  as-ap-opticscorr/as_ap_opticscorr/tune/main.py
  as-ap-posang/as_ap_posang/main.py
Owners: @xresende, @fernandohds564

CONFIGDB.MNT: Adapt codes to new interface of siriuspy.clientconfigdb package.
  as_ap_opticscorr/chrom/main.py
  as_ap_opticscorr/tune/main.py
Owners: @xresende, @fernandohds564

CONFIGDB.MNT: Adapt codes to new interface of siriuspy.clientconfigdb package.
  as_ap_posang/main.py
Owners: @xresende, @fernandohds564

TIM.MNT: Remove old simulation codes.
  as-ti-ll-simul/INSTALL
  as-ti-ll-simul/LICENSE
  as-ti-ll-simul/MANIFEST.in
  as-ti-ll-simul/README.md
  as-ti-ll-simul/VERSION
  as-ti-ll-simul/as_ti_ll_simul/VERSION
  as-ti-ll-simul/as_ti_ll_simul/__init__.py
  as-ti-ll-simul/as_ti_ll_simul/access_rules.as
  as-ti-ll-simul/as_ti_ll_simul/as_ti_ll_simul.py
  as-ti-ll-simul/doc/doxygen/Doxyfile
  as-ti-ll-simul/doc/doxygen/Mainpage.dox
  as-ti-ll-simul/doc/doxygen/Makefile
  as-ti-ll-simul/scripts/sirius-ioc-as-ti-ll-simul.py
  as-ti-ll-simul/setup.py
  as-ti-ll-simul/systemd/Makefile
  as-ti-ll-simul/systemd/sirius-ioc-as-ti-ll-simul.service
Owners: @xresende, @fernandohds564

Rename servarch to clientarch
  siriuspy/siriuspy/clientarch/__init__.py
  siriuspy/siriuspy/clientarch/fetch.py
  siriuspy/siriuspy/clientarch/timestamp.py
Owners: @xresende, @fernandohds564

CONFIGDB.TST: Update basic interface tests.
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
  siriuspy/tests/clientconfigdb/__init__.py
  siriuspy/tests/clientconfigdb/test_configdb_client.py
  siriuspy/tests/servconf/test_config_service.py
Owners: @xresende, @fernandohds564

ramp.ramp: fix BoosterRamp ps ramp parameters setters
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp: remove rf ramp increase controls
  siriuspy/siriuspy/ramp/ramp.py
  siriuspy/siriuspy/ramp/util.py
  siriuspy/siriuspy/servconf/types/bo_ramp.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.conn: add connection check before setpoints in ConnTiming
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

global_config: fix dipoles WfmData PV
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

Fix exit problem
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/pwrsupply/pru.py
Owners: @xresende, @anacso17, @murilobalves

Fix global_config config template
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Fix problem when setting variable WfmData-SP
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

TIM.WIP: Start implementing delay adjustment and lock control.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

csdevice: add Const class to screens and dccts
  siriuspy/siriuspy/csdevice/dccts.py
  siriuspy/siriuspy/csdevice/screens.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.ENH: Set all PVs when locked is activated.
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @fernandohds564, @xresende

TIM.ENH: Add LowLvlLock and DeltaDelay PVs.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.MNT: Update setpoint PVs.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

Implement curves
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Fix bug in 0x40 bsmp command
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

Fix bug
  siriuspy/siriuspy/bsmp/commands.py
Owners: @xresende, @anacso17

Fix bug in bsmp command read_curve_block
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/serial.py
Owners: @xresende, @anacso17

TIM.BUG: Fix tests.
  siriuspy/tests/csdevice/test_timesys.py
Owners: @xresende, @fernandohds564

TIM.ENH: Add new timing PVs to configurations.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Change search modules to use threading.Lock during search data creation
  siriuspy/siriuspy/search/bpms_search.py
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564

TIM.ENH: Add lock to LLTimeSearch class.
  siriuspy/siriuspy/search/ll_time_search.py
Owners: @xresende, @fernandohds564

First working version of bsmp read_curve_block
  siriuspy/siriuspy/bsmp/commands.py
  siriuspy/siriuspy/bsmp/entities.py
  siriuspy/siriuspy/bsmp/serial.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

PVCONFIG.MNT: Change Modulators PV names.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

CONFIGDB.BUG: Fix bug in jsonifiy_numpy function.
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
Owners: @xresende, @fernandohds564

PVSCONFIG.MNT: Change Modulators PV name.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

Implement more functionalities wrt PSCurves
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/controller.py
  siriuspy/siriuspy/pwrsupply/fields.py
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/tests/bsmp/test_entities.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update envars paths for FACS and IMAS folders
  siriuspy/siriuspy/envars.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.FIX: fix bug with DeltaDelay.
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende
