Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende

Fix as-ma systemd files
  as-ma/systemd/sirius-ioc-ts-ma-quadrupoles-12.service
  as-ma/systemd/sirius-ioc-ts-ma-quadrupoles-34.service
Owners: @xresende, @fernandohds564

Update psmodel FBP
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Move undef general bsmp vars to base class (pwrsupply)
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Cleanup code
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
Owners: @xresende, @anacso17, @murilobalves

Update FBP_DCLink with new BSMP spec.
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Update psmodel FAC_2S_ACDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix missing import in bsmp_sim
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
Owners: @xresende, @anacso17, @murilobalves

Fix type and code cleanup
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update psmodel FAC_ACDC
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Update psmodel FAC_DCDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix typo in csdevice.pwrsupply
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update psmodel FAC_2S_DCDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update psmodel FAC_2P4S_ACDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update psmodel FAC_2p4S_DCDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

SOFB.ENH: Improve log messages when writing PVs.
  base_class.py
Owners: @xresende, @fernandohds564

SOFB.FIX: Bug in configure_correctors method was causing timing not to be configured.
  correctors.py
Owners: @xresende, @fernandohds564

SOFB.ENH: Improve _prepare_mode method to check BPMs state instead of just sleep.
  orbit.py
Owners: @xresende, @fernandohds564

Add bsmp vars in PRUCParams for FAP_2P4S_DCDC
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @anacso17, @murilobalves

Update psmodel FAP_DCDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update FAP_4P interlock label PVs
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update psmodel FAP_2P2S
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
  siriuspy/tests/test_data/servweb/beaglebone/beaglebone-udc.txt
  siriuspy/tests/test_data/servweb/beaglebone/ip-list.txt
  siriuspy/tests/test_data/servweb/beaglebone/udc-bsmp.txt
  siriuspy/tests/test_data/servweb/pwrsupply/psmodels.txt
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

PVSCONF.ENH: Add Modulators oscilloscope trigger to global_config and organize triggers order.
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
Owners: @xresende, @fernandohds564

PVSCONF.FIX: Remove all timing PVs from as_diagnostics config.
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
Owners: @xresende, @fernandohds564

Fix unresolved merge conflict
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Restore original HARD_INTLCK_FAP_2P2S labels
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Restore interlock labels for FAP_4P
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Change PS IOC PV limits of QueueSize
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix bug in DequeThread
  siriuspy/siriuspy/pwrsupply/functions.py
  siriuspy/siriuspy/pwrsupply/prucontroller.py
  siriuspy/siriuspy/thread.py
Owners: @xresende, @anacso17, @murilobalves, @fernandohds564

Fix typo
  siriuspy/siriuspy/pwrsupply/prucontroller.py
Owners: @xresende, @anacso17, @murilobalves

Delete FAC_ACDC
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/bsmp.py
  siriuspy/siriuspy/pwrsupply/bsmp_sim.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
  siriuspy/siriuspy/search/ma_search.py
  siriuspy/siriuspy/search/ps_search.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Remove PV limits in FBP DCLink Voltage-Mon
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix QueueSize PV lower limit
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add limits to VoltageRef-Mon PV
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Fix unittest for csdevice (interlock labels)
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update interlock labels
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Update interlock labels
  siriuspy/siriuspy/csdevice/pwrsupply.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Delete print statement
  siriuspy/siriuspy/csdevice/pwrsupply.py
  siriuspy/siriuspy/pwrsupply/model_factory.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

Add scan freq prints PS IOC
  siriuspy/siriuspy/pwrsupply/beaglebone.py
Owners: @xresende, @anacso17, @murilobalves
