Repository lnls-sirius/dev-packages, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @fernandohds564, @anacso17, @murilobalves

ramp.ramp: adapt BoosterNormalized to new bo_normalized version
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

ramp.ramp: adapt BoosterRamp to new BoosterNormalized version
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

bo_ramp configuration type renamed to bo_ramp_params
  siriuspy/siriuspy/servconf/types/bo_ramp_params.py
Owners: @xresende, @anacso17, @fernandohds564

global_config: fix missing blank line
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

bo_ramp: add bo_ramp config_type.
  siriuspy/siriuspy/servconf/types/bo_ramp.py
Owners: @xresende, @anacso17, @fernandohds564

servconf.conf_types: add 'checklength' field in conf_types and fix bo_ramp.
  siriuspy/siriuspy/servconf/conf_types.py
  siriuspy/siriuspy/servconf/types/bo_ramp.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.conn: fix BoosterRamp connector to use bo_ramp_params config instead of bo_ramp
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

bo_ramp: fix pv types in template
  siriuspy/siriuspy/servconf/types/bo_ramp.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.ramp: fix bugs in normalized configs insertions
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

API: major improvement in configdb client module.
  siriuspy/siriuspy/servconf/conf_service.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIGDB.MNT: Delete unused files
  siriuspy/siriuspy/servconf/configuration.py
  siriuspy/siriuspy/servconf/db.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIGDB.API: Rename modules.
  siriuspy/siriuspy/servconf/_templates.py
  siriuspy/siriuspy/servconf/configdb_client.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIGDB.API: Finish first version of new package api.
  siriuspy/siriuspy/servconf/__init__.py
  siriuspy/siriuspy/servconf/configdb_document.py
  siriuspy/siriuspy/servconf/configdb_type.py
  siriuspy/siriuspy/servconf/exceptions.py
  siriuspy/siriuspy/servconf/srvconfig.py
  siriuspy/siriuspy/servconf/util.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIGDB.API: Second version of API.
  siriuspy/siriuspy/servconf/__init__.py
  siriuspy/siriuspy/servconf/configdb_client.py
  siriuspy/siriuspy/servconf/configdb_document.py
  siriuspy/siriuspy/servconf/configdb_type.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIG.ENH: make generate_config_name an exposed method.
  siriuspy/siriuspy/servconf/configdb_document.py
Owners: @xresende, @anacso17, @fernandohds564

CONFIGDB.BUG: Add property decorator to discarded.
  siriuspy/siriuspy/servconf/configdb_document.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.MNT: Remove PV ByPassIntlk.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/search/hl_time_search.py
  siriuspy/siriuspy/search/ll_time_search.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.MNT: Remove High Level Events.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/hl_classes.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.MNT: Remove ByPassIntlk from ConfigDB.
  siriuspy/siriuspy/servconf/types/as_diagnostics.py
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.ENH: Change name of Interlock Status PVs.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

bo_normalized: change template values
  siriuspy/siriuspy/servconf/types/bo_normalized.py
Owners: @xresende, @anacso17, @fernandohds564

TIM.MNT: Remove ByPassIntlk from Trigger Status.
  siriuspy/siriuspy/csdevice/timesys.py
  siriuspy/siriuspy/timesys/ll_classes.py
Owners: @xresende, @fernandohds564, @anacso17, @murilobalves

TIM.BUG: Remove imports of Events classes.
  siriuspy/siriuspy/timesys/__init__.py
  siriuspy/siriuspy/timesys/hl_classes.py
Owners: @fernandohds564, @xresende

NAMESYS.ENH: Make device_name a property for it to be returned as SiriusPVName object.
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

SRCTIM.ENH: Add some new useful methods to LLTimeSearch.
  siriuspy/siriuspy/search/ll_time_search.py
Owners: @xresende, @fernandohds564

TIM.BUG: Fix tests.
  siriuspy/tests/csdevice/test_timesys.py
  siriuspy/tests/namesys/test_implementation.py
  siriuspy/tests/search/test_ll_time_search.py
  siriuspy/tests/timesys/test_init.py
Owners: @xresende, @fernandohds564

ramp.conn: cleanup connectors code
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

ramp.conn: change ConnTiming to calculateevents delay only when pvs are connected
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

bo_ramp_params: change template to create default bo_normalized configs at ramp beggining and ramp end
  siriuspy/siriuspy/servconf/types/bo_ramp_params.py
Owners: @xresende, @anacso17, @fernandohds564

namesys: fix bug in split_name
  siriuspy/siriuspy/namesys/implementation.py
Owners: @fernandohds564, @anacso17

ramp: add method to BoosterRamp to interpolate time at a given energy
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

TIM.MNT: Remove all traces of ByPassIntlk.
  siriuspy/siriuspy/timesys/__init__.py
  siriuspy/siriuspy/timesys/time_simul/__init__.py
  siriuspy/siriuspy/timesys/time_simul/device_models.py
  siriuspy/siriuspy/timesys/time_simul/time_simul.py
  siriuspy/tests/test_data/servweb/timesys/high-level-triggers.py
  siriuspy/tests/timesys/time_simul/__init__.py
  siriuspy/tests/timesys/time_simul/test_device_models.py
  siriuspy/tests/timesys/time_simul/test_time_simul.py
Owners: @fernandohds564, @xresende

TIM.BUG: Fix tests.
  siriuspy/tests/timesys/test_init.py
Owners: @xresende, @fernandohds564

CONFIGDB.API: rename package servconf to clientconfigdb.
  siriuspy/siriuspy/clientconfigdb/__init__.py
  siriuspy/siriuspy/clientconfigdb/_templates.py
  siriuspy/siriuspy/clientconfigdb/configdb_client.py
  siriuspy/siriuspy/clientconfigdb/configdb_document.py
  siriuspy/siriuspy/clientconfigdb/types/__init__.py
  siriuspy/siriuspy/clientconfigdb/types/as_ap_params.py
  siriuspy/siriuspy/clientconfigdb/types/as_diagnostics.py
  siriuspy/siriuspy/clientconfigdb/types/as_pwrstate.py
  siriuspy/siriuspy/clientconfigdb/types/bo_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/bo_normalized.py
  siriuspy/siriuspy/clientconfigdb/types/bo_orbcorr_respm.py
  siriuspy/siriuspy/clientconfigdb/types/bo_orbit.py
  siriuspy/siriuspy/clientconfigdb/types/bo_ramp.py
  siriuspy/siriuspy/clientconfigdb/types/bo_tunecorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/global_config.py
  siriuspy/siriuspy/clientconfigdb/types/si_chromcorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/si_orbcorr_respm.py
  siriuspy/siriuspy/clientconfigdb/types/si_orbit.py
  siriuspy/siriuspy/clientconfigdb/types/si_tunecorr_params.py
  siriuspy/siriuspy/clientconfigdb/types/tb_normalized.py
  siriuspy/siriuspy/clientconfigdb/types/tb_orbcorr_respm.py
  siriuspy/siriuspy/clientconfigdb/types/tb_orbit.py
  siriuspy/siriuspy/clientconfigdb/types/tb_posang_respm.py
  siriuspy/siriuspy/clientconfigdb/types/ts_orbcorr_respm.py
  siriuspy/siriuspy/clientconfigdb/types/ts_orbit.py
  siriuspy/siriuspy/clientconfigdb/types/ts_posang_respm.py
Owners: @xresende, @fernandohds564

ramp: change BoosterRamp to create normalized configurations with correct dipole energy
  siriuspy/siriuspy/ramp/ramp.py
Owners: @xresende, @anacso17

bo_normalized: fix template to default energy value to be ramp start energy
  siriuspy/siriuspy/servconf/types/bo_normalized.py
Owners: @xresende, @anacso17, @fernandohds564

ramp.conn: remove unnecessary checks of connection
  siriuspy/siriuspy/ramp/conn.py
Owners: @xresende, @anacso17

Move pvs of bo_ramp config to global_config
  siriuspy/siriuspy/servconf/types/bo_ramp.py
  siriuspy/siriuspy/servconf/types/global_config.py
Owners: @xresende, @anacso17, @fernandohds564

Rename bo_ramp_params to bo_ramp
  siriuspy/siriuspy/ramp/conn.py
  siriuspy/siriuspy/servconf/types/bo_ramp.py
Owners: @xresende, @anacso17, @fernandohds564

Remove checklength field creation of config_types
  siriuspy/siriuspy/servconf/conf_types.py
Owners: @xresende, @anacso17, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @xresende
# @anacso17
# @fernandohds564
# @murilobalves

# --- default owners of the repo
* @xresende @fernandohds564


# -------- BASIC MODULES --------

# --- basic siriuspy modules
/siriuspy/siriuspy/* @xresende @anacso17 @fernandohds564


# -------- SUBPACKAGES --------

# --- bsmp subpackage
/siriuspy/siriuspy/bsmp/ @xresende @anacso17

# --- csdevice subpackage
/siriuspy/siriuspy/csdevice/ @xresende @fernandohds564 @anacso17 @murilobalves

# --- diagnostics subpackage
/siriuspy/siriuspy/diagnostics/ @fernandohds564 @xresende

# --- epics subpackage
/siriuspy/siriuspy/epics/ @xresende @fernandohds564 @anacso17

# --- magnet subpackage
/siriuspy/siriuspy/magnet/ @xresende @anacso17

# --- namesys subpackage
/siriuspy/siriuspy/namesys/ @fernandohds564 @anacso17

# --- pwrsupply subpackage
/siriuspy/siriuspy/pwrsupply/ @xresende @anacso17 @murilobalves

# --- ramp subpackage
/siriuspy/siriuspy/ramp/ @xresende @anacso17

# --- servccdb subpackage
/siriuspy/siriuspy/servccdb/ @xresende @fernandohds564

# --- servconf subpackage
/siriuspy/siriuspy/servconf/ @xresende @anacso17 @fernandohds564

# --- servname subpackage
/siriuspy/siriuspy/servname/ @xresende @fernandohds564

# --- servweb subpackage
/siriuspy/siriuspy/servweb/ @xresende @anacso17 @fernandohds564

# --- timesys subpackage
/siriuspy/siriuspy/timesys/ @fernandohds564 @xresende
